{# templates/overview/friends.html #}

{% extends "base.html" %}

{% block content %}
{% include "settings/sidebar.html" %}
<div class="friends-heading">
    <h1>Friends</h1>
    <p>Here you can view and manage your friends. You currently have a total of {{ friends|length }} friends.</p>
</div>
<div class="friends">
    {% for user in friends %}
    <div class="friend">
        <div class="avatar">
            <a href="/u/{{ user.id }}">
                <img src="/a/{{ user.id }}" alt="" loading="lazy">
            </a>
        </div>
        <div class="friend-description">
            <p>{{ user.name }}</p>
            <a id="{{ user.id }}" style="color: red;" onclick="return removeFriend(this);">Remove</a>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function removeFriend(element) {
        if (!isLoggedIn())
            return;

        performApiRequest("DELETE", "/account/friends?id=" + element.id, null, function(xhr) {
            var data = JSON.parse(xhr.responseText);
            var friendContainer = element.parentElement.parentElement;
            friendContainer.style.opacity = 0;
    
            setTimeout(function () {
                friendContainer.parentNode.removeChild(friendContainer);
            }, 350);
        });
        return false;
    }
</script>
{% endblock content %}