{# templates/overview/reset.html #}

{% extends "base.html" %}

{% block content %}
{% include "settings/sidebar.html" %}
<div class="main-settings">
    <h1>Overview</h1>
    <div>Welcome to the user settings page. From here you can monitor, view and update your profile. You can also send messages to other users (if permitted).</div>
    <div id="activity">
        <h2>Your Activity</h2>
        <dl class="activity-details section">
            <dt>Joined:</dt>
            <dd>{{ current_user.created_at|strftime }}</dd>
            <dt>Last active:</dt>
            <dd>{{ current_user.latest_activity|strftime }}</dd>
            <dt>Total posts:</dt>
            <dd>0</dd> {# TODO #}
        </dl>
    </div>
    <div id="notifications">
        <h2>Notifications</h2>
        <div class="section">
            You have no notifications
        </div>
        {# TODO #}
    </div>
    <div id="logins">
        <h2>Previous Logins</h2>
        <dl class="login-details section">
            {% if logins %}
                {% for login in logins %}
                <dt>{{ login.time|strftime }}</dt>
                <dd>Login from {{ location.fetch_geolocation(login.ip).country_name }} ({{ login.ip }}) with {{ login.version }}</dd>
                {% endfor %}
            {% else %}
                You have not logged in yet
            {% endif %}
        </dl>
        {# TODO #}
    </div>
</div>
{% endblock content %}