{# templates/settings/sidebar.html #}

{% set current_endpoint = url_for(request.endpoint, **request.view_args) %}

<div class="sidebar">
    <div class="sidebar-section {% if current_endpoint == '/account/settings/' %}selected-sidebar{% endif %}">
        <a href="/account/settings/">Overview</a>
    </div>
    <div class="sidebar-section {% if current_endpoint == '/account/settings/profile' %}selected-sidebar{% endif %}">
        <a href="/account/settings/profile">Profile</a>
    </div>
    <div class="sidebar-section {% if current_endpoint == '/account/settings/security' %}selected-sidebar{% endif %}">
        <a href="/account/settings/security">Security</a>
    </div>
    <div class="sidebar-section {% if current_endpoint == '/account/settings/friends' %}selected-sidebar{% endif %}">
        <a href="/account/settings/friends">Friends</a>
    </div>
    {#
        <div class="sidebar-section {% if current_endpoint == '/account/settings/pms' %}selected-sidebar{% endif %}">
            <a href="/account/settings/pms">Private Messages</a>
        </div>
    #}
    {#
        {% if permissions.has_permission('users.moderation', current_user.id) %}
        <div class="sidebar-section {% if current_endpoint.startswith('/account/settings/moderation') %}selected-sidebar{% endif %}">
            <a href="/account/settings/moderation">Moderation</a>
        </div>
        {% endif %}
    #}
</div>
