{# templates/content/de.html #}

{% extends 'base.html' %}

{% block content %}
<div class="wiki-navigation">
    <div class="left-navigation">
        <a href="#" class="current">Seite</a>
        <a href="{{ discussion_url or '#' }}">Diskutiere</a>
    </div>
    <div class="right-navigation">
        <a href="#" class="current">Lese</a>
        <a href="{{ source_url or '#' }}">Quelle ansehen</a>
        <a href="{{ history_url or '#' }}">Versionshistorie ansehen</a>
        <div class="wiki-search">
            <form action="/wiki/en/search" method="get">
                <input type="text" name="query" placeholder="Suche...">
                <button type="submit">Los!</button>
            </form>
        </div>
    </div>
</div>
<div class="wiki-sidebar">
    {# TODO: Sidebar "Contents" #}
</div>
<div class="wiki-content">
    {% block content_extension %}
    {% endblock content_extension %}
    {{ content|safe }}
    <br>
</div>
{% endblock content %}