{# templates/forum/create.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    <a href="/forum" style="color:#5a5399">Index</a> »
    {% for parent_forum in forum|list_parent_forums|reverse %}
        <a href="/forum/{{ parent_forum.id }}">
            {{ parent_forum.name }}
        </a> »
    {% endfor %}
    <a href="/forum/{{ forum.id }}">
        {{ forum.name }}
    </a>
</h1>
<form action="/forum/{{ forum.id }}/create"
      method="post">
    <p class="post-subject">
        Subject: <input type="text" name="title" class="nav-search">
    </p>
    <div>
        {# Editor #}
        {% with context = {
            "submit-text": "Create Topic",
            "min-height": "200px",
            "user-id": current_user.id,
            "topic-controls": true,
            "forum-controls": true,
            "resize": "vertical",
            "cancel": true
        } %}
            {% include "editor.html" %}
        {% endwith %}
    </div>
</form>
{% endblock content %}