{# templates/forum/post.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    <a href="/forum" style="color:#5a5399">Index</a> »
    {% for parent_forum in forum|list_parent_forums|reverse %}
        <a href="/forum/{{ parent_forum.id }}">
            {{ parent_forum.name }}
        </a> »
    {% endfor %}
    <a href="/forum/{{ forum.id }}">
        {{ forum.name }}
    </a> »
    <a href="/forum/{{ forum.id }}/t/{{ topic.id }}">
        {{ topic.title }}
    </a>
</h1>
<form action="/forum/{{ forum.id }}/t/{{ topic.id }}/post"
      method="post">
    {% if action == "create" %}
        <p class="post-subject">
            Subject: <input type="text" placeholder="..." name="title" class="nav-search">
        </p>
    {% endif %}
    <div>
        {# Editor #}
        {% with context = {
            "current": current_text,
            "submit-text": action|capitalize,
            "min-height": "200px",
            "user-id": current_user.id,
            "forum-controls": true,
            "draft": true if action == "post" else false,
            "cancel": true
        } %}
            {% include "editor.html" %}
        {% endwith %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="action_id" value="{{ action_id }}">
    </div>
</form>
{% endblock content %}