{# templates/forum/post.html #}

{% extends "base.html" %}

{% set is_privileged = (
    current_user.is_bat or
    current_user.is_moderator
) %}

{% set can_edit_icon = (
    action != "edit" and
    (
        is_privileged and
        topic.can_change_icon
    )
) %}

{% block content %}
<h1 class="header-text">
    <a href="/forum" style="color:#5a5399">Index</a> »
    {% for parent_forum in forum|list_parent_forums|reverse %}
        <a href="/forum/{{ parent_forum.id }}">
            {{ parent_forum.name }}
        </a> »
    {% endfor %}
    <a href="/forum/{{ forum.id }}">
        {{ forum.name }}
    </a> »
    <a href="/forum/{{ forum.id }}/t/{{ topic.id }}/">
        {{ topic.title }}
    </a>
</h1>
<form action="/forum/{{ forum.id }}/t/{{ topic.id }}/post"
      method="post">
    <div style="padding-left: 5px; padding-right: 5px;">
        {% if editing_initial_post %}
        <p class="post-subject">
            Subject: <input type="text" name="title" class="nav-search" value="{{ topic.title }}">
        </p>
        {% endif %}
        {% if can_edit_icon %}
        <div class="icon-selection">
            <input type="radio" name="icon" value="-1" {% if not topic_icon %} checked {% endif %}>
            <label for="-1">None</label>
            {% for icon in icons %}
                <input type="radio" name="icon" value="{{ icon.id }}" {% if topic_icon == icon.id %} checked {% endif %}>
                <label for="{{ icon.id }}">
                    <img src="{{ icon.location }}" alt="{{ icon.name }}">
                </label>
            {% endfor %}
        </div>
        {% endif %}
        {# Editor #}
        {% with context = {
            "current": current_text,
            "submit-text": action|capitalize,
            "min-height": "200px",
            "user-id": current_user.id,
            "draft": action == "post",
            "forum-controls": true,
            "topic-controls": editing_initial_post,
            "resize": "vertical",
            "cancel": true
        } %}
            {% include "editor.html" %}
        {% endwith %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="id" value="{{ action_id }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </div>
</form><br><br>
<script>
    addEvent('DOMContentLoaded', document, function(event) {
        // Focus the bbcode editor on load
        var bbcodeEditor = document.querySelector('.bbcode-editor');
        if (bbcodeEditor) bbcodeEditor.focus();
    });

    addEvent('keydown', document, function(event) {
        // Submit the form when Ctrl + Enter is pressed
        if (event.ctrlKey && event.key === 'Enter') {
            var submitButton = document.querySelector('.post-buttons input[type="submit"]');
            if (submitButton)
            {
                submitButton.click();
                submitButton.disabled = true;
            }
        }
    });
</script>
{% endblock content %}