{# templates/forum/post.html #}

{% extends "base.html" %}

{% set is_privileged = (
    current_user.is_bat or
    current_user.is_moderator
) %}

{% set editing_initial_post = (
    action == "edit" and
    initial_post.id == action_id
) %}

{% block content %}
<h1 class="header-text">
    <a href="/forum" style="color:#5a5399">Index</a> »
    {% for parent_forum in forum|list_parent_forums|reverse %}
        <a href="/forum/{{ parent_forum.id }}">
            {{ parent_forum.name }}
        </a> »
    {% endfor %}
    <a href="/forum/{{ forum.id }}">
        {{ forum.name }}
    </a> »
    <a href="/forum/{{ forum.id }}/t/{{ topic.id }}">
        {{ topic.title }}
    </a>
</h1>
<form action="/forum/{{ forum.id }}/t/{{ topic.id }}/post"
      method="post">
    <div>
        {% if editing_initial_post and (topic.can_edit_icon or is_privileged) %}
        <div class="icon-selection">
            <input type="radio" name="icon" value="-1" checked="checked">
            <label for="-1">None</label>
            {% for icon in icons %}
                <input type="radio" name="icon" value="{{ icon.id }}">
                <label for="{{ icon.id }}">
                    <img src="{{ icon.location }}" alt="{{ icon.name }}">
                </label>
            {% endfor %}
        </div>
        {% endif %}
        {# Editor #}
        {% with context = {
            "current": current_text,
            "submit-text": action|capitalize,
            "min-height": "200px",
            "user-id": current_user.id,
            "draft": action == "post",
            "forum-controls": true,
            "topic-controls": editing_initial_post,
            "resize": "vertical",
            "cancel": true
        } %}
            {% include "editor.html" %}
        {% endwith %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="id" value="{{ action_id }}">
    </div>
</form>
{% endblock content %}