{# templates/forum/topic.html #}

<tr>
    <td width="25%" align="center">
        <a href="/t/{{ topic.id }}">
            <img src="{{ topic.icon.location }}"
                 alt="{{ topic.icon.name }}">
        </a>
    </td>
    <td>
        {% if topic.pinned %}
            <i class="fa-solid fa-star-of-life" style="font-size: 80%; color: #ababab"></i>
        {% endif %}
        <a href="/t/{{ topic.id }}">{{ topic.title }}</a>
        {# TODO: Pagination #}
    </td>
    <td align="center">
        <a href="/u/{{ topic.creator_id }}" style="color: {{ topic.creator|user_color }}">
            {{ topic.creator.name }}
        </a>
    </td>
    <td width="5%" align="center">
        <p class="subforum-topiccount">{{ repositories.topics.fetch_post_count(topic.id, session) }}</p>
        <p class="subforum-postcount">{{ topic.views }}</p>
    </td>
    <td align="center">
        {% set last_post = repositories.posts.fetch_last(topic.id, session) %}
        {% if last_post %}
            <p>
                <a href="/u/{{ last_post.user.id }}" style="color: {{ last_post.user|user_color }}">
                    {{ last_post.user.name }}
                </a>
                <a href="/p/{{ last_post.id }}">
                    <i class="fa-solid fa-arrow-right" style="color: #ababab"></i>
                </a>
            </p>
            <p>
                {{ last_post.created_at|timeago }}
            </p>
        {% else %}
            <p>No posts</p>
        {% endif %}
    </td>
</tr>