{# templates/forum/topic.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    <a href="/forum" style="color:#5a5399">Index</a> »
    {% for parent_forum in forum|list_parent_forums|reverse %}
        <a href="/forum/{{ parent_forum.id }}">
            {{ parent_forum.name }}
        </a> »
    {% endfor %}
    <a href="/forum/{{ forum.id }}">
        {{ forum.name }}
    </a> »
    <a href="/forum/{{ forum.id }}/t/{{ topic.id }}">
        {{ topic.title }}
    </a>
</h1>
<div>
    <table width='100%'>
        <td align="right">
            0 posts |
            {# Pagination #}
                {% if current_page > 1 %}
                {# "Back" button #}
                <a href="/forum/{{ forum.id }}/t/{{ topic.id }}?page={{ current_page - 1 }}">Back</a>
            {% endif %}

            {# Calculate page range #}
            {% set page_start = (0, current_page - 1)|max %}
            {% set page_end = (total_pages, page_start + 3)|min %}

            {% for page in range(page_start, page_end + 1) %}
                {% if page != current_page %}
                    <a href="/forum/{{ forum.id }}/t/{{ topic.id }}?page={{ page + 1 }}">{{ page + 1 }}</a>
                {% else %}
                    <strong>{{ page + 1 }}</strong>
                {% endif %}
            {% endfor %}

            {% if page_end < total_pages - 1 %}
                ...
                {# Last page after "..." #}
                <a href="/forum/{{ forum.id }}/t/{{ topic.id }}?page={{ total_pages + 1 }}">{{ total_pages + 1 }}</a>
                {# "Next" button #}
                <a href="/forum/{{ forum.id }}/t/{{ topic.id }}?page={{ current_page + 2 }}">Next</a>
            {% endif %}
        </td>
    </table>
</div>
{# TODO: Posts... #}
{% endblock content %}