# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Titanic! Installation
.data
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
logs/

# Editor & IDE files
.idea
.vscode
.history
*.vsix
.VSCodeCounter

# Runtime dist files
app/static/dist/
app/static/.webassets-cache/