bcrypt==4.2.1
boto3==1.35.76
boto3-type-annotations-with-docs==0.3.1
flask==3.1.0
flask-assets==2.1.0
flask-login==0.6.3
flask-pydantic==0.12.0
flask-wtf==1.2.2
geoip2==4.8.1
jinja2==3.1.4
matplotlib==3.9.3
numpy==2.2.0
pillow==11.0.0
psycopg2-binary==2.9.10
pydantic==2.10.3
pyparsing==3.2.0
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
sendgrid==6.11.0
sqlalchemy==2.0.36
timeago==1.0.16
titanic-pp-py==0.0.7