bcrypt==5.0.0
boto3<2
flask==3.1.2
flask-assets==2.1.0
flask-login==0.6.3
flask-pydantic==0.13.2
flask-wtf==1.2.2
geoip2==5.2.0
jinja2==3.1.6
matplotlib==3.10.7
numpy==2.3.5
pillow==12.0.0
psycopg2-binary==2.9.11
pydantic==2.12.4
pyparsing==3.2.5
python-dotenv==1.2.1
redis==7.1.0
requests==2.32.5
sendgrid==6.12.5
sqlalchemy==2.0.44
timeago==1.0.16
rosu-pp-py==3.1.0
markdown==3.10
pyjwt==2.10.1
regex