bcrypt==4.3.0
boto3<2
boto3-type-annotations-with-docs==0.3.1
flask==3.1.0
flask-assets==2.1.0
flask-login==0.6.3
flask-pydantic==0.12.0
flask-wtf==1.2.2
geoip2==5.0.1
jinja2==3.1.6
matplotlib==3.10.1
numpy==2.2.3
pillow==11.1.0
psycopg2-binary==2.9.10
pydantic==2.10.6
pyparsing==3.2.1
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
sendgrid==6.11.0
sqlalchemy==2.0.39
timeago==1.0.16
titanic-pp-py==0.0.7
markdown==3.7
pyjwt==2.10.1
