
@import url("main.css");

:root {
    --header-pink: #e15fac;
    --header-blue: #3843a6;
    --difficulty-background: #ece4fd;
    --difficulty-active: #bfa8f8;
    --difficulty-text: #5e5e5e;
    --difficulty: #dbd3f1;
}

.page {
    margin: 0;
}

.header-text {
    font-size: 150%;
    font-weight: 100;
    margin-left: 10px;
    color: var(--header-pink);
    text-shadow: var(--text-shadow) 0px 0px 10px;
}

.header-text a {
    color: var(--header-blue);
    text-shadow: var(--text-shadow) 0px 0px 10px;
}

.difficulties {
    background-color: var(--difficulty-background);
    margin-top: 22px;
    width: 100%;
    float: left;
}

.difficulties ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.beatmap-tab {
    text-decoration: none;
    font-size: 90%;
    padding: 7px 8px 7px 8px;
    line-height: 15px;
    color: var(--difficulty-text);
    background-color: var(--difficulty);
    display: flex;
}

.beatmap-tab:hover {
    background-color: white;
    text-decoration: none;
}

.beatmap-tab img {
    height: 16px;
    width: 16px;
    margin: auto;
    margin-right: 5px;
}

.difficulty {
    margin: 0;
    width: auto;
    float: left;
    display: block;
}

.beatmap-tab:visited {
    color: var(--difficulty-text);
}

.active {
    background-color: var(--difficulty-active);
}
