
@import url("main.css");

:root {
    --header-pink: #e15fac;
    --header-blue: #3843a6;
    --difficulty-background: #e1d6fb;
    --difficulty-active: #bfa8f8;
    --difficulty-text: #5e5e5e;
    --difficulty: #e7e2f3;
    --border-light: #cfc1ef;
    --border: #8462db;
}

.page {
    margin: 0;
}

h2 {
    text-shadow: var(--text-shadow) 0px 0px 10px;
    color: var(--dark-header);
    font-weight: normal;
    font-size: 110%;
    margin: 10px;
}

.header-text {
    font-size: 150%;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 22px;
    color: var(--header-pink);
    text-shadow: var(--text-shadow) 0px 0px 10px;
}

.header-text a {
    color: var(--header-blue);
    text-shadow: var(--text-shadow) 0px 0px 10px;
}

.beatmap {
    display: grid;
}

.tab-list {
    background-color: var(--difficulty-background);
    border-bottom: 1px solid var(--border-light);
    width: 100%;
    float: left;
}

.tab-list ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.tab-link {
    text-decoration: none;
    font-size: 90%;
    padding: 7px 8px 7px 8px;
    line-height: 15px;
    color: var(--difficulty-text);
    background-color: var(--difficulty);
    display: flex;
}

.tab-link:hover {
    background-color: white;
    text-decoration: none;
}

.tab-link img {
    height: 16px;
    width: 16px;
    margin: auto;
    margin-right: 5px;
}

.tab-item {
    margin: 0;
    width: auto;
    float: left;
    display: block;
}

.tab-link:visited {
    color: var(--difficulty-text);
}

.active {
    background-color: var(--difficulty-active);
}

.beatmap-stats {
    clear: both;
    background-color: var(--difficulty);
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border);
    padding: 2px;
    font-size: 9pt;
}

.beatmap-stats table {
    width: 100%;
}

.beatmap-stats td {
    border-bottom: 1px solid var(--border-light);
    padding: 8px
}

.starfield {
    height: 14px;
    background: url('/images/beatmap/starn.png');
    background-repeat: repeat-x;
    overflow: hidden;
}

.starfield-selected {
    height: 14px;
    background: url('/images/beatmap/star.png');
    background-repeat: repeat-x;
    overflow: hidden;
}

#favourites {
    font-size: 8pt;
    overflow: hidden;
}

.padding {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.beatmap-description {
    border: 1px solid #e1dfe7;
    background-color: #f9f7fe;
    overflow: auto;
    padding: 7px;
    margin: 5px;
    height: 124px;
}

.beatmap-description:hover {
    cursor: pointer;
}

.beatmap-description img {
    float: left;
    margin-right: 5px;
}

.bbcode {
    font-size: 70%;
    text-align: left;
}

.beatmap-download {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.score-header {
    width: 100%;
    display: grid;
    text-align: left;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.leader {
    border: 1px solid black;
    min-width: 380px;
    font-size: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;
    padding: 0;
}

.leader a {
    color: #fdbf2a;
}

.leader td {
    padding: 3px;
    font-size: 95%;
}

.leader .row-title {
    font-size: 120%;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: left;
}

.row-light {
    background-color: var(--table-row-light);
}

.row-dark {
    background-color: var(--table-row-dark);
}

.row-grade {
    text-align: center;
    height: 100%;
}

.row-grade img {
    vertical-align: middle;
    border: 0;
}

.scores-header {
    background-color: #d7d2fb;
    text-align: center;
}

.scores {
    font-size: 80%;
    width: 100%;
    margin-bottom: 35px;
    text-align: left;
    vertical-align: middle;
    border-spacing: 0;
}

.scores th {
    border-bottom: 1px solid #a79ef3;
}

.scores td {
    height: 15px;
    vertical-align: middle;
    padding: 2px;
    padding-top: 2.5px;
}

.scores img {
    vertical-align: middle;
}

.scores .row-light:hover, .scores .row-dark:hover {
    background-color: white;
    cursor: pointer;
}
