
@import url("main.css");

.heading {
    margin-bottom: 16px;
    margin-left: 10px;
}

.heading h2 {
    text-shadow: #efcfe1 0px 0px 10px;
    color: #e15fac;
    font-weight: normal;
    font-size: 130%;
    margin-bottom: 2.5px;
}

#client-container {
    overflow: auto;
    white-space: nowrap;
    background-color: #ffdef5;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#client-container b {
    margin-left: 10px;
}

.client {
    display: inline-block;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #ffd6f3;
    filter: drop-shadow(1px 2px 1px #c6c6ca);
}

.client p {
    white-space: pre-wrap;
}

.description {
    max-width: 350px;
}

.client img {
    margin-top: 8px;
    border-radius: 2px;
    height: 200px;
    color: grey;
}

.client .download-link {
    display: block;
    margin-top: 10px;
    padding: 10px;
    color: #ff5d93;
    background-color: #e9cedf;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.1s ease;
}

.client .download-link:hover {
    color: #ebebeb;
    background-color: #ff5d93;
    transition: all 0.1s ease;
}

.known-bugs {
    float: right;
    cursor: pointer;
    text-decoration: none;
    font-size: 115%;
    position: relative;
    z-index: 1;
}

.version {
    font-weight: bold;
    font-size: large;
    filter: drop-shadow(2px 2px 1px #d6d6d6);
    margin-bottom: 5px;
}

.bottom-text {
    margin-top: 20px;
    margin-left: 10px;
}

.bottom-text a {
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}
