@import url("main.css");

.page {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 95%;
}

#status-text {
    font-weight: bold;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.8s ease-in;
}

.event-item {
    transition: all 1s ease-in-out;
    border-bottom: solid 1px #d0d0d0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

.username-link {
    color: #e04aa4;
    font-weight: bold;
}
