
@import url("main.css");

.top {
    margin-bottom: 0;
}

.header-text {
    padding-top: 10px;
    font-size: 150%;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 22px;
    text-shadow: var(#efcfe1) 0px 0px 10px;
    color: #868686;
    white-space: nowrap;
    font-weight: lighter;
}

.forum-home {
    width: 100%;
}

.mainforum-head {
    color: #000000;
    padding-top: 10px;
    background-position: 0 10px;
    height: 28px;
    text-indent: 10px;
    background-repeat: no-repeat;
}

.mainforum-head h4 {
    color: #FFFFFF;
    font-size: 120%;
    margin: 0;
    line-height: 35px;
    font-weight: normal;
    border-radius: 5px;
    background: rgb(91, 83, 153);
    background-image: linear-gradient(rgb(123, 114, 207) 0%, rgb(91, 83, 153) 100%);
}

.subforum-table {
    width: 100%;
    margin-top: 10px;
}

.subforum-head {
    border-radius: 5px;
    background-color: #edebfa;
    padding: 8px;
    font-size: 115%;
}

.subforum-head a {
    color: #3843a6;
    text-decoration: none;
}

.subforum-head p {
    margin: 1px;
    font-size: 8.2pt;
}

.subforum-stats {
    border-radius: 5px;
    padding: 4px;
    background-color: #e3e1fa;
}

.subforum-topics {
    border-radius: 5px;
    padding: 4px;
    background-color: #e3e1fa;
    font-size: 9pt;
}

.subforum-topiccount {
    font-size: 130%;
}

.subforum-postcount {
    color: #4f5355;
}

table {
    font-size: 90%;
}

.topics-table {
    margin-top: 10px;
    margin-bottom: 5px;
}

.topic-header {
    padding-top: 8px;
    padding-bottom: 2px;
    color: #5d5d5d;
    font-weight: bold;
}

.light-row {
    background-color: #edebfa;
    font-size: 90%;
}

.light-row td {
    padding: 4px;
}

.dark-row {
    background-color: #e3e1fa;
    font-size: 90%;
}

.dark-row td {
    padding: 4px;
}
