
@import url("main.css");

.page h2 {
    color: var(--header);
    font-weight: normal;
    font-size: 125%;
    text-shadow: var(--text-shadow) 0px 0px 10px;
}

.content-wrapper {
    display: flex;
}

.left-side {
    float: left;
    height: 890px;
}

.right-side {
    margin-left: 15px;
    float: right;
    height: 890px;
}

.headers {
    margin-bottom: 10px;
    margin-top: 10px;
}

.headers span {
    font-size: 50%;
    margin-left: 5px;
}

#about-header {
    font-size: 14pt;
    margin-bottom: 5px;
    text-align: center;
}

.about-wrapper .blurb-box {
    border-radius: 10px 10px 10px 10px;
}

.news-wrapper h2 {
    margin-left: 3px;
}

.news {
    margin-bottom: 20px;
}

.blurb-box {
    padding: 10px;
    margin-bottom: 16px;
    background-color: white;
    border-style: solid;
    border-color: var(--content-border-grey);
    border-radius: 5px 5px 5px 5px;
    border-width: 0.5px;
    filter: drop-shadow(0px 1px 1px #e5e4e9);
    color: var(--font-color);
}

.blurb-heading {
    margin-left: 5px;
    margin-bottom: 2.5px;
}

.blurb-heading a {
    text-decoration: none;
}

.blurb-text {
    font-size: 10pt;
}

.blurb-readmore a {
    text-decoration: none;
    font-size: 10pt;
}

.blurb-readmore a:hover {
    text-decoration: underline;
}

.blurb-readmore {
    text-align: right;
}

.bottom-stats {
    bottom: 20px;
    position: absolute;
    width: 54.5%;
}

.stats-wrapper img {
    filter: drop-shadow(0px 1px 1px #e5e4e9);
}

.most-played {
    bottom: 20px;
    position: absolute;
    width: 41.4%;
}

.styled-table {
    border: solid 2px #9799cc;
    border-radius: 4px;
    text-align: left;
    font-weight: normal;
    font-size: 8.5pt;
    width: 100%;
}

.styled-table a {
    color: #3843a6;
    text-decoration: none;
}

.styled-table a:hover {
    text-decoration: underline;
}

.styled-table img {
    width: 80px;
    height: 60px;
    margin-right: 3px;
    float: left;
    border-radius: 5px;
}

.dark-row {
    background-color: var(--table-row-dark);
}

.light-row {
    background-color: var(--table-row-light);
}

.chat-wrapper {
    width: 100%;
}
