:root {
    --background-gradiant-lower: #e8d2ff;
    --background-gradiant: #686fc1;
    --background-main: #a9a9ff;
    --content-border-grey: #d2d4fa;
    --content-border: #5c559c;
    --table-row-light: #edebfa;
    --table-row-dark: #e3e1fa;
    --content-main: #f0ecfa;
    --text-shadow: #efcfe1;
    --outlink-blue: #7284ff;
    --outlink-pink: #ff64ba;
    --font-color: #323232;
    --header: #e15fac;
    --search: #ffffff;
    --top-color: #d6d2df;
    --bancho-stats: #5b5399;
    --nav-element: #4e2151;
    --nav-dropdown: #f375c5;
    --nav: #ffd6f3;
}

* {
    margin: 0;
    font-family: "Arial Grande", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 99.5%;
}

body {
    background: linear-gradient(var(--background-gradiant), var(--background-main) 20%);
    background-attachment: fixed;
}

.main {
    margin: auto;
    position: relative;
    width: 865px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.logo {
    position: absolute;
    top: -73.5px;
    left: 10px;
    width: 200px;
}

.nav {
    background-color: var(--nav);
    border-radius: 5px 5px 0px 0px;
    min-height: 22.5px;
    max-width: 630px;
    padding-left: 50px;
}

.nav-list {
    list-style: none;
    position: absolute;
    left: -35px;
    display: flex;
    margin-left: 30px;
}

.nav-element a, .nav-element a:visited {
    text-decoration: none;
    padding: 4.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 11px;
    color: var(--nav-element);
}

.nav-element a:hover {
    color: white;
    background: var(--nav-dropdown);
}

.nav-dropdown {
    display: none;
    visibility: hidden;
    position: absolute;
    list-style: none;
    width: 10em;
    padding: 6px 8px 9px 0;
    filter: drop-shadow(0 8px 0.55rem rgba(185, 185, 185, 0.5));
}

.nav-dropdown li {
    background-color: #eca1dd;
    position: relative;
    display: grid;
    width: 100%;
    line-height: 16px;
}

.nav-element-dropdown a {
    text-decoration: none;
    font-weight: bold;
}

.nav-element-dropdown:hover ul {
    visibility: visible;
    display: block;
    z-index: 1;
}

.dropdown-indicator {
    margin-left: 5px;
    margin-bottom: 1px;
}

.bancho-stats {
    position: absolute;
    background-color: var(--bancho-stats);
    width: 240px;
    height: 30px;
    margin-top: -38px;
    margin-right: 25px;
    right: 0;
    color: white;
    font-size: 11px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 6px;
    border-radius: 5px 5px 0px 0px
}

.content {
    background-color: var(--content-main);
    min-height: 500px;
    border-style: solid;
    border-color: var(--content-border);
    border-radius: 0px 5px 5px 5px;
    border-width: 2px;
}

.gradiant {
    background: linear-gradient(var(--content-main), var(--background-gradiant-lower));
    min-height: 15px;
    position: static;
    bottom: 0;
    top: calc( 100vh - 100px );
}

.top {
    background-color: var(--search);
    filter: drop-shadow(0px 1px 2px var(--top-color));
    margin-bottom: 2vh;
    padding: 0.5vh;
    max-height: 18px;
    display: flex;
    justify-content: space-between;
}

.login {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 90%;
    gap: 5px;
}

.nav-search {
    border-radius: 3px 3px 3px 3px;
    margin-right: 5px;
    font-size: 85%;
}

.nav-login {
    margin-right: 5px;
}

.login a {
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

#welcome-text {
    color: grey;
}

#login-text {
    color: var(--outlink-blue);
    font-weight: bold;
}

#register-text {
    color: var(--outlink-pink);
    font-weight: bold;
}

.page {
    margin: 10px;
}
