body {
    overflow-y: scroll;
}

.page {
    margin: 0;
}

.beatmap-search-container h1 {
    font-size: 150%;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 22px;
    color: #3843a6;
    text-shadow: #efcfe1 0px 0px 10px;
    float: left;
}

.beatmap-search-container {
    vertical-align: middle;
    display: inline;
    max-height: 25px;
}

#search-input {
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border-style: ridge;
    border-width: 1.5px;
    margin-left: 15px;
    font-size: 95%;
    border-color: rgb(185, 197, 236);
}

.beatmap-options {
    padding: 20px 0 0;
    font-size: 78%;
}

.beatmap-options dl {
    width: 100%;
    min-height: 20px;
    padding-top: 8.5px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #a9a9ff;
}

.beatmap-options dt {
    width: 100px;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    float: left;
}

.beatmap-options a {
    margin-right: 4px;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    color: #3843a6;
}

.beatmap-options a:hover,
.beatmap-options a.selected {
    background-color: #a9a9ff;
    color: white;
    border-radius: 2px;
    margin: 2px;
}

#beatmap-list {
    margin-bottom: 5px;
    overflow: hidden;
}

#status-text {
    margin: 0 auto;
    text-align: center;
}

.beatmapset {
    border-radius: 5px;
    /* margin: 2.5px auto; -> Center */
    margin: 2.5px 8px 2.5px 5.5px;
    font-size: 80%;
    background-color: #e7e4fc;
    border: solid 1px #dad7fb;
    width: 415px;
    max-height: 75px;
    float: left;
    overflow: hidden;
}

.beatmapset:hover {
    background-color: #eae7ff;
}

.beatmap-image {
    background-color: rgb(100, 100, 100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    float: left;
    height: 75px;
    width: 95px;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.beatmap-image i {
    display: none;
    cursor: pointer;
}

.beatmap-image:hover i {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    line-height: 70px;
    text-shadow: 0px 0px 5px #000000;
    text-decoration: none;
}

.icon-play {
    font-size: 400%;
}

.icon-pause {
    font-size: 480%;
}

.beatmap-side-options {
    display: none;
    padding-top: 2px;
    background: #dad7fb;
    height: 75px;
    width: 24px;
    text-align: center;
    margin: auto;
    float: right;
    z-index: 10;
}

.beatmap-side-options a {
    line-height: 23px;
    font-size: 160%;
    color: #aaa7cb;
}

.beatmap-side-options a:hover {
    color: #3843a6;
    text-decoration: none;
    transition: all 0.2s;
}

.beatmap-info {
    white-space: nowrap;
    overflow: hidden;
}

.beatmap-info i {
    margin-right: 4px;
    font-size: 90%;
    white-space: nowrap;
}

.beatmap-link, .beatmap-link:visited {
    color: #0c0c0c;
    width: 100%;
    font-size: 105%;
}

.beatmap-link:hover {
    color: #696969;
    text-decoration: none;
}

.beatmap-link .beatmap-title:hover {
    color: #3843a6;
}

.beatmap-creator {
    font-size: 80%;
    white-space: nowrap;
    max-width: 10px;
}

.beatmap-creator span {
    color: grey;
}

.beatmap-source {
    min-height: 12px;
    white-space: nowrap;
    font-size: 80%;
    overflow: hidden;
    color: grey;
}

.beatmap-source span {
    color: black;
}

.beatmapset .hidden-elements {
    display: none;
    position: relative;
    width: 75%;
    margin-top: 12px;
}

.beatmapset .beatmap-icon {
    margin: 2px;
    width: 16px;
}

.beatmap-stats {
    padding-right: 5px;
    text-align: right;
    float: right;
}

.beatmap-tags a {
    font-size: 80%;
    display: inline-block;
    background-color: #dad7fb;
    border: solid 1px #cac7eb;
    border-radius: 2px;
    padding: 1px;
    margin-left: 2.5px;
}

.beatmap-tags a:hover {
    background-color: #eae7fb;
    text-decoration: none;
}

.beatmap-rating {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: rgb(158,203,22);
    border: solid 1px #dad7fb;
    border-radius: 4px;
}

.beatmap-rating-bar {
    height: 100%;
    border-radius: 4px;
    background-color: rgb(237, 28, 36);
}

.beatmap-details {
    font-size: 75%;
}

.beatmap-details i {
    font-size: 100% !important;
    padding-left: 4px;
    padding-right: 2.5px;
}

.beatmap-details span {
    font-size: 100%;
}

.beatmap-order-select {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 5px;
    font-size: 80%;
    margin: 10px auto 5px auto;
}

.beatmap-order-select th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #d7d2fb;
    border-bottom: 1px solid #a79ef3;
}

.beatmap-order-select a {
    cursor: pointer;
    color: #3843a6;
}

.beatmap-order-select img {
    display: inline;
    vertical-align: top;
    padding-top: 1.5px;
    opacity: 70%;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.search-blurb-box {
    margin: auto;
    width: 750px;
    border-radius: 10px;
    background-color: white;
    font-size: 80%;
    margin-top: 10px;
}
