
@import url("main.css");

.page {
    margin: 0;
}

.beatmap-search-container h1 {
    font-size: 150%;
    font-weight: 100;
    margin-left: 10px;
    margin-bottom: 22px;
    color: #3843a6;
    text-shadow: var(--text-shadow) 0px 0px 10px;
    float: left;
}

.beatmap-search-container {
    vertical-align: middle;
    display: inline;
    max-height: 25px;
}

#search-input {
    width: 75%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    border-style: ridge;
    border-width: 1.5px;
    margin-left: 15px;
}

.beatmap-options {
    margin-top: 25px;
    margin-left: 5px;
}

#beatmap-list {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

#loading-text {
    margin: 0 auto;
}

.beatmapset {
    border-radius: 5px;
    /* margin: 2.5px auto; -> Center */
    margin: 2.5px 8px 2.5px 5.5px;
    font-size: 85%;
    background-color: #e7e4fc;
    border: solid 1px #dad7fb;
    width: 415px;
    height: 60px;
}

.beatmapset:hover {
    background-color: #eae7ff;
}

.beatmap-image {
    background-repeat: no-repeat;
    float: left;
    height: 60px;
    width: 80px;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.beatmap-image i {
    display: none;
    cursor: pointer;
}

.beatmap-image:hover i {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    line-height: 60px;
    text-shadow: 0px 0px 5px #000000;
    text-decoration: none;
}

.fa-play {
    font-size: 400%;
}

.fa-pause {
    font-size: 480%;
}

.beatmap-info {
    overflow: hidden;
}

.beatmap-info i {
    margin-right: 4px;
    font-size: 90%;
    white-space: nowrap;
}

.beatmap-link, .beatmap-link:visited {
    color: #0c0c0c;
}

.beatmap-link:hover {
    color: #696969;
    text-decoration: none;
}

.beatmap-creator {
    font-size: 80%;
    float: left;
    white-space: nowrap;
    max-width: 10px;
}

.beatmap-creator span {
    color: grey;
}

.beatmap-stats {
    text-align: right;
    float: right;
    padding: 5px;
    overflow: hidden;
}

.beatmap-tags a {
    font-size: 80%;
    display: inline-block;
    background-color: #dad7fb;
    border: solid 1px #cac7eb;
    border-radius: 2px;
    padding: 1px;
    margin-left: 2.5px;
}
