
@import url('main.css');

.page {
    font-size: 90%;
    margin: 0;
}

.page h1 {
    font-size: 180%;
    text-align: center;
}

.page h2 {
    font-size: 125%;
    margin-bottom: 10px;
    text-shadow: #efcfe1 0px 0px 10px;
    font-weight: normal;
}

.sidebar {
    float: left;
    width: 20%;
    display: block;
}

.sidebar-section {
    padding: 5px;
    margin: 2px;
    background-color: #e3e1fa;
}

.selected-sidebar {
    background-color: #f0ecfa;
}

.selected-sidebar a {
    color: black;
    font-weight: bold;
}

.main-settings {
    width: 79%;
    margin-right: 5px;
    float: right;
}

.main-settings > div {
    margin: 10px;
}

.section {
    background-color: #e3e1fa;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section input {
    margin: 2px;
}

.section input[type="radio"] {
    margin-left: 6px;
}

#userpage .section, #signature .section {
    background-color: inherit;
    padding: 0px;
}

#userpage .bbcode-toolbar, #signature .bbcode-toolbar {
    font-size: 85%;
}

.activity-details dd {
    color: #536482;
    margin-bottom: 5px;
}

.activity-details dt {
    float: left;
    clear: left;
    width: 15%;
}

.login-details dd {
    color: #536482;
    margin-bottom: 5px;
}

.login-details dt {
    float: left;
    clear: left;
    width: 25%;
}

.profile-section label {
    font-weight: bold;
}

.profile-section dd {
    color: #536482;
    margin-bottom: 5px;
    line-height: 25px;
}

.profile-section dt {
    float: left;
    clear: left;
    width: 30%;
}

.inner-section label {
    line-height: 28px;
    margin-left: 4px;
}

.avatar-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 2px;
    height: 120px;
    width: 120px;
}

.avatar-box img {
    vertical-align: middle;
    display: flex;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

.notifications {
    display: flex;
    flex-wrap: wrap;
}

.notifications .notification-link {
    margin: 0;
    margin-bottom: 2.5px;
    font-size: 140%;
    font-weight: bold;
}

.notifications .new {
    color: rgb(80, 92, 255);
}

.notification {
    width: 45%;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: #eceaf8;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    margin: 5px auto;
}

.notification:hover {
    background-color: white;
}

.notification .time {
    font-weight: normal;
    float: right;
    margin-top: 5px;
    color: black;
}

#notifications .section {
    padding-top: 5px;
}

.bookmark {
    color: #868686;
    font-size: 95%;
    display: block;
    min-height: 18px;
}

#bookmarks .section {
    padding-top: 5px;
}

.bookmark-link {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: left;
}

.delete-link {
    color: red !important;
    float: right;
    text-align: right;
}

.friends-heading {
    text-align: center;
    margin-bottom: 15px;
}

.friends .avatar {
    min-height: 128px;
    min-width: 128px;
}

.friends {
    float: right;
    text-align: center;
    width: 80%;
}

.friend {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #f9f7ff;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    opacity: 100;
    transition: opacity 0.2s ease-in-out;
}

.friend-description {
    margin: 0 auto;
    font-size: 130%;
}

.friend-description a {
    font-size: 75%;
}

.moderation-heading {
    display: grid;
    padding: 10px;
    padding-top: 0px;
}

.moderation-heading h1 {
    margin-bottom: 10px;
}

.moderation-heading input {
    width: 80%;
    height: 25px;
    padding: 5px;
    margin: 0 auto;
}

.moderation-section {
    padding: 10px;
    padding-left: 20px;
    display: flex;
}

.user-header-box {
    float: left;
}

.user-info {
    float: right;
}

.user-header a {
    margin-right: 8px;
}

.user-header img {
    text-align: center;
    margin: 0 auto;
}

.user-title {
    margin: 0px auto 5px auto;
    text-align: center;
    font-size: 80%;
}

.user-avatar img {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
}

.user-avatar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 2px;
    height: 120px;
    width: 120px;
}

.chat {
    width: 76%;
    margin-left: 190px;
}
