
@import url('main.css');

.page {
    display: flex;
}

.profile-left {
    background-color: #e7e4fc;
    width: 200px;
    height: 100%;
    padding: 5px;
    padding-top: 15px;
    border-radius: 5px;
    position: sticky;
    top: 0;
}

.profile-right {
    margin-left: 10px;
    text-align: left;
    float: right;
    width: 620px;
}

.left-top {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
}

.left-top h1 {
    font-weight: normal;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    float: left;
    margin-bottom: 2.5px;
}

.left-top h1 a {
    margin-right: 8px;
}

.username {
    padding-left: 1px;
}

.avatar-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 1px solid #ddd;
    margin: auto;
    margin-bottom: 10px;
    padding: 2px;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}

.avatar-box img {
    vertical-align: middle;
}

.user-badges {
    margin-top: 10px;
    text-align: center;
}

.badge-container {
    margin-bottom: 10px;
}

.badge-container img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    height: 40px;
}

.left-bottom {
    margin: 10px;
}

.activity {
    width: 100%;
    margin-bottom: 5px;
    font-size: 90%;
}

.activity i {
    padding-top: 2px;
    width: 23px;
    margin-right: 4px;
    text-align: center;
    float: left;
}

.playstyle-container {
    background-color: #e8d2fc;
    text-align: center;
    margin: 5px auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    min-height: 32px;
}

.userpage-social {
    width: 100%;
    margin-bottom: 15px;
}

.userpage-social p, .userpage-social a {
    overflow: hidden;
}

.playstyle {
    width: 32px;
    height: 32px;
    background-image: url('/images/playstyles.png');
    display: inline-block;
}

.playstyle.mouse {
    background-position: 0px 0px;
}

.playstyle.keyboard {
    background-position: -64px 0px;
}

.playstyle.tablet {
    background-position: -32px 0px;
}

.playstyle.touch {
    background-position: -96px 0px;
}

.userpage {
    max-height: 505px;
    min-height: 32px;
    overflow-x: hidden;
    overflow: auto;
    position: relative;
    background-color: #e7e4fc;
    font-size: 85%;
    font-weight: normal;
}

.gamemode-container {
    height: 35px;
    margin: 10px auto;
    text-align: center;
    display: flex;
}

.gamemode-button {
    display: inline-block;
    border: solid 2px #978cd0;
    border-radius: 5px;
    font-size: 110%;
    width: 140px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0;
    color: #3843a6;
}

.gamemode-button:hover {
    text-shadow: #e5c6db 1px 1px 2.5px;
    text-decoration: none;
    cursor: pointer;
}

.active-mode {
    background-color: #bea8f4;
    color: white;
}

.active-mode:hover {
    text-shadow: rgb(215, 215, 215) 1px 1px 2.5px;
}

.profile-table {
    width: 100%;
}

.profile-tabs {
    width: 100%;
    border-spacing: 7px 0;
}

.profile-tabs td {
    background-color: #e7e4fc;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    border-top: solid 2px #dad7fb;
    border-left: solid 2px #dad7fb;
    border-right: solid 2px #dad7fb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.tab-heading {
    border-bottom: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
    background-color: #5f5f5f;
    color: white;
    cursor: pointer;
    font-size: 100%;
    padding-left: 2.5px;
    z-index: 1;
    margin-bottom: 5px;
}

.tab-content {
    transition: all .5s ease;
    background-color: white;
    overflow: hidden;
    font-size: 80%;
    z-index: 0;
}

.expanded {
    transition: all .5s ease;
    position: relative;
}

.tab-spacing {
    margin: 0px 0px 15px 0px;
}

.profile-stats-header {
    background-color: #f5f2fe;
    border-bottom: 1px solid #a9a9ff;
    color: #5a539a;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-achievement-header {
    border-bottom: solid 1px #eacd5b;
    font-weight: bold;
    font-size: 120%;
    clear: both;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-performance {
    font-size: 120%;
    font-weight: normal;
    background-color: #f5f2fe;
    border-bottom: 1px dashed #a9a9ff;
    padding-bottom: 2.5px;
    display: block ruby;
}

.profile-performance strong {
    font-weight: bold;
    font-size: 115%;
}

.profile-graph {
    min-height: 80px;
    font-size: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-stats-element {
    border-bottom: 1px dashed #a9a9ff;
    background-color: #f5f2fe;
    font-weight: normal;
    font-size: 115%;
    padding: 1px;
}

.profile-stats-element b {
    font-weight: bold;
}

.level-bar {
    margin: 0 auto;
    border: solid 2px #ffa10d;
    border-spacing: 0;
    border-radius: 2px;
    width: 300px;
    height: 20px;
    padding: 0;
}

.level-bar-percent {
    background-color: #eacd5b;
    font-weight: bold;
    box-shadow: 0 0 40px 5px #ffda00;
    border-right: 2px solid #ffa10d;
}

.profile-ranks {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 15px;
}

#top-scores, #leader-scores {
    padding-top: 10px;
    padding-bottom: 10px;
}

#leader h2 {
    text-shadow: #efcfe1 0px 0px 10px;
    font-weight: normal;
    font-size: 130%;
    color: #cc2e8a;
    overflow: visible;
    margin-bottom: 10px;
}

.score {
    background-color: #e7e4fc;
    border: 1px solid #dad7fb;
    margin: 3px;
    padding: 2.5px;
}

.score table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.score table td {
    padding: 0px;
}

.score-right {
    float: right;
    text-align: right;
    font-size: 95%;
}

.score-left {
    font-size: 95%;
    float: left;
    text-align: left;
    overflow: hidden;
    max-width: 80%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.score-left img {
    width: 12px;
    height: 15px;
    vertical-align: middle;
}

.score-left * {
    margin: 1.5px;
}

.pp-display {
    font-weight: bold;
    font-size: 160%;
    color: #9492dc;
    text-shadow: #b5c6cb 2px 0px 3px;
    padding-right: 5px;
}

.show-more {
    font-size: 90%;
}

.profile-beatmaps-container {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.profile-beatmap {
    background-color: #e7e4fc;
    border: 1px solid #dad7fb;
    margin: 3px;
    padding: 2.5px;
    width: 49%;
}

.profile-beatmap img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    float: right;
}

.achievement-category {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: space-between;
    text-align: center;
}

.achievement {
    margin: 5px;
    float: left;
    text-align: center;
    width: 135px;
    height: 120px;
    margin-bottom: 15px;
    font-size: 95%;
}
