@import url('main.css');

.page {
    display: inline-block;
    margin-top: 0;
}

.profile-left {
    background-color: #dad7fb;
    width: 200px;
    min-height: 100%;
    padding: 5px;
    padding-top: 15px;
    border-radius: 5px;
    position: sticky;
    float: left;
    top: 0;
}

.profile-right {
    margin-left: 10px;
    text-align: left;
    float: right;
    width: 620px;
}

.left-top {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
}

.user-header {
    font-weight: normal;
    font-size: 145%;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 auto;
}

.flag {
    float: left;
    margin-bottom: 2.5px;
}

.user-header a {
    margin-right: 8px;
}

.user-header img {
    text-align: center;
    margin: 0 auto;
}

.username {
    padding-left: 1px;
}

.user-title {
    margin: 0px auto 5px auto;
    text-align: center;
    font-size: 80%;
}

#banned-image {
    display: block;
    margin: 10px auto 15px auto;
}

.groups {
    display: block;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.group {
    margin: 4px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #e3e0f1;
    border-radius: 2.5px;
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.group:hover,
.group:focus,
.group:active {
    text-decoration: none;
    background-color: #f0ecfa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    text-shadow: 0 0 0.6px;
    transition: all 0.1s ease-in-out;
}

.group a:hover {
    text-decoration: none;
}

.avatar-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 2px;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}

.avatar-box img {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
}

.user-badges {
    text-align: center;
    margin: 5px auto;
}

.badge-container {
    margin-top: 10px;
}

.badge-container img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    max-height: 50px;
    max-width: 100px;
}

.left-bottom {
    margin: 0px 10px 10px 10px;
}

.activity {
    width: 100%;
    margin-bottom: 5px;
    font-size: 90%;
}

.activity i {
    padding-top: 2px;
    width: 23px;
    margin-right: 4px;
    text-align: center;
    float: left;
}

.playstyle-container {
    background-color: #dbcaea;
    text-align: center;
    margin: 5px auto;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    min-height: 32px;
}

.userpage-social {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    overflow: hidden;
}

.userpage-social p, .userpage-social a {
    overflow: hidden;
}

.playstyle {
    width: 32px;
    height: 32px;
    background-image: url('/images/playstyles.png');
    display: inline-block;
}

.playstyle-hidden {
    width: 32px;
    height: 32px;
    background-image: url('/images/playstyles.png');
    display: inline-block;
}

.playstyle-selectable {
    cursor: pointer;
}

.playstyle.mouse {
    background-position: 0px 0px;
}

.playstyle.keyboard {
    background-position: -64px 0px;
}

.playstyle.tablet {
    background-position: -32px 0px;
}

.playstyle.touch {
    background-position: -96px 0px;
}

.playstyle-hidden.mouse {
    background-position: 0px 32px;
}

.playstyle-hidden.keyboard {
    background-position: -64px 32px;
}

.playstyle-hidden.tablet {
    background-position: -32px 32px;
}

.playstyle-hidden.touch {
    background-position: -96px 32px;
}

.edit-button {
    float: right;
    text-align: right;
    margin-left: 10px;
}

.userpage {
    max-height: 300px;
    min-height: 32px;
    overflow-x: hidden;
    overflow: auto;
    position: relative;
    background-color: #e7e4fc;
    font-size: 85%;
    font-weight: normal;
}

.gamemode-container {
    height: 35px;
    margin: 10px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gamemode-button {
    display: inline-block;
    border: solid 2px #978cd0;
    border-radius: 5px;
    font-size: 110%;
    width: 136px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0;
    color: #3843a6;
}

.gamemode-button:hover {
    text-shadow: #e5c6db 1px 1px 2.5px;
    text-decoration: none;
    cursor: pointer;
}

.active-mode {
    background-color: #bea8f4;
    color: white;
}

.active-mode:hover {
    text-shadow: rgb(215, 215, 215) 1px 1px 2.5px;
}

.profile-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px 2px;
}

.profile-tabs {
    width: 100%;
    border-spacing: 7px 0;
    border-collapse: separate;
}

.profile-tabs td {
    background-color: #e7e4fc;
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    border-top: solid 2px #dad7fb;
    border-left: solid 2px #dad7fb;
    border-right: solid 2px #dad7fb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.tab-heading {
    border-bottom: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
    background-color: #5f5f5f;
    color: white;
    cursor: pointer;
    font-size: 100%;
    padding-left: 2.5px;
    padding-bottom: 1px;
    padding-top: 1px;
    z-index: 1;
    margin-bottom: 5px;
}

.tab-content {
    transition: all .5s ease;
    background-color: white;
    overflow: hidden;
    font-size: 80%;
    z-index: 0;
}

.expanded {
    transition: all .5s ease;
    position: relative;
}

.tab-spacing {
    margin: 0px 0px 15px 0px;
}

.profile-stats-header {
    background-color: #f5f2fe;
    border-bottom: 1px solid #a9a9ff;
    color: #5a539a;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-stats-header a {
    color: #5a539a;
    text-decoration: none;
}

.profile-achievement-header {
    border-bottom: solid 1px #eacd5b;
    font-weight: bold;
    font-size: 120%;
    clear: both;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-performance {
    font-size: 120%;
    font-weight: normal;
    background-color: #f5f2fe;
    border-bottom: 1px dashed #a9a9ff;
    padding-bottom: 2.5px;
    display: block ruby;
}

.profile-performance strong {
    font-weight: bold;
    font-size: 115%;
}

.profile-graph {
    min-height: 80px;
    font-size: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.profile-graph svg {
    height: 160px;
}

.profile-stats-element {
    border-bottom: 1px dashed #a9a9ff;
    background-color: #f5f2fe;
    font-weight: normal;
    font-size: 115%;
    padding: 1px;
}

.profile-stats-element b {
    font-weight: bold;
}

.level-bar {
    margin: 0 auto;
    border: solid 2px #ffa10d;
    border-spacing: 0;
    border-radius: 2px;
    width: 300px;
    height: 20px;
    padding: 0;
}

.level-bar-percent {
    background-color: #eacd5b;
    font-weight: bold;
    box-shadow: 0 0 40px 5px #ffda00;
    border-right: 2px solid #ffa10d;
}

.profile-ranks {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 15px;
}

#top-scores, #leader-scores, #pinned-scores {
    padding-top: 10px;
    padding-bottom: 10px;
}

#profile-recent-preview table {
    border-collapse: separate;
    border-spacing: 2px 3px;
}

#leader h2 {
    text-shadow: #efcfe1 0px 0px 10px;
    font-weight: normal;
    font-size: 130%;
    color: #cc2e8a;
    overflow: visible;
    margin-bottom: 10px;
}

.score {
    background-color: #e7e4fc;
    border: 1px solid #dad7fb;
    margin: 3px;
    padding: 2.5px;
}

.score table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

.score table td {
    padding: 0px;
}

.score-right {
    font-size: 95%;
    text-align: right;
    float: right;
    width: max-content;
    display: table-cell;
    vertical-align: bottom;
}

.score-left {
    font-size: 95%;
    text-align: left;
    overflow: hidden;
    max-width: 88%;
}

.score-left img {
    width: 12px;
    height: 15px;
    vertical-align: middle;
}

.score-left div {
    text-overflow: ellipsis;
    overflow: hidden;
}

.score-left * {
    margin: 1.5px;
}

.pp-display {
    font-weight: bold;
    font-size: 160%;
    color: #9492dc;
    text-shadow: #b5c6cb 2px 0px 3px;
    padding-right: 5px;
    width: 55px;
    margin-left: auto;
}

.score-icon-container {
    float: right;
    margin-left: 2.5px;
}

.score-pin-icon,
.score-pinned-icon {
    cursor: pointer;
    font-size: 95%;
}

.score-pin-icon {
    color: #8684c9;
}

.score-pin-icon:hover {
    color: #3843a6;
}

.score-pinned-icon {
    color: #3843a6;
}

.score-pinned-icon:hover {
    color: #8684c9;
}

.score-replay i {
    color: #8684c9;
}

.score-replay i:hover {
    color: #3843a6;
}

.show-more {
    font-size: 90%;
}

.profile-beatmaps-container {
    margin-bottom: 10px;
}

.profile-beatmap {
    background-color: #e7e4fc;
    border: 1px solid #dad7fb;
    margin: 3px;
    padding: 2.5px;
    width: 49%;
    transition: opacity 0.2s ease-in-out;
    border-collapse: separate;
    border-spacing: 1.5px 1.5px;
    float: left;
}

.profile-beatmap img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    float: right;
}

.achievement-category {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    justify-content: space-between;
    text-align: center;
}

.achievement {
    margin: 5px;
    float: left;
    text-align: center;
    width: 135px;
    height: 120px;
    margin-bottom: 15px;
    font-size: 95%;
}

#account {
    display: flex;
}

#account div {
    margin: 15px 0px 15px 0px;
    text-align: center;
}

#account table {
    width: 100%;
}

#account thead td {
    font-weight: bold;
    border-bottom: 1px solid #9492dc;
    background-color: #e7e5fc;
}

#kudosu {
    padding-bottom: 5px;
}

.userpage-stats {
    margin-bottom: 10px;
}

.userpage-actions {
    display: grid;
    width: 100%;
}

.friend-add {
    color: green !important;
}

.friend-remove {
    color: red !important;
}

#friend-status {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 5px;
}

#admin-userpage-controls:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
    border-radius: 2.5px;
}

#admin-userpage-controls:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f0ecfa;
    z-index: -1;
    border-radius: 2.5px;
}

#admin-userpage-controls {
    width: 600px;
    min-height: 380px;
    top: 50%;
    left: 50%;
    margin-top: -290px; /* Negative half of height. */
    margin-left: -300px; /* Negative half of width. */
}

#admin-userpage-controls input[type="submit"] {
    margin: 4px;
}

@supports (display: flex) {
    .avatar-box img {
        display: flex;
        vertical-align: middle;
    }
}
