@import url('main.css');

.top {
    margin-bottom: 0px;
}

.page {
    margin: 0;
    padding: 0;
}

.wiki-navigation {
    border-bottom: 1px solid #62b5c4;
    background-color: #f5f5ff;
    padding-left: 40px;
    padding-right: 10px;
    height: 30px;
    font-size: 0.75em;
}

.wiki-navigation a {
    background: linear-gradient(to bottom, #f9f9ff 10%, #e8e8ff 100%);
    display: inline-block;
    border: 1px solid #62b5c4;
    border-top: none;
    border-bottom: none;
    height: 30px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    color: #0645ad;
}

.wiki-navigation .current {
    background: white;
    background-color: white;
    height: 30px;
    color: black;
}

.wiki-navigation .left-navigation {
    margin-left: 15px;
    float: left;
}

.wiki-navigation .right-navigation {
    text-align: right;
}

.wiki-search {
    float: right;
    line-height: 32px;
    margin-left: 8px;
}

.wiki-welcome {
    font-size: 1.2em !important;
}

.wiki-welcome img {
    float: left;
    width: 40px !important;
    height: 40px !important;
}

.wiki-welcome h2 {
    color: black !important;
    text-align: center !important;
    line-height: 45px !important;
}

.wiki-stats {
    font-size: 0.85em;
    border-bottom: 3px double #cccccc;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.wiki-warning {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #f78ecd;
    border-bottom: 1px solid #62b5c4;
    font-size: 0.9em;
}

.wiki-content {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9em;
}

.wiki-content * {
    margin-bottom: 4px;
}

.wiki-content .toc {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wiki-content .toc ul {
    margin-left: -15px;
}

.wiki-content h1 {
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #cc2e8a;
    font-weight: normal;
}

.wiki-content h2 {
    font-size: 1.25em;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    color: #cc2e8a;
    font-weight: normal;
}

.wiki-content h3 {
    font-size: 1.05em;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    color: #cc2e8a;
    font-weight: normal;
}

.wiki-content h4 {
    font-size: 1em;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    font-weight: normal;
}

.wiki-content hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #ccc;
}

.wiki-content p {
    font-size: 0.85em;
    padding: 1px;
}

.wiki-content img {
    width: 90%;
    height: 100%;
    text-decoration: none;
}
