{# templates/home/de.html #}

{% extends 'wiki/content/de.html' %}

{% block content_extension %}
<div class="wiki-content">
    <span class="wiki-welcome">
        <h1>Hauptseite</h1>
        <img src="/images/logo/main-vector.min.svg" alt="logo" width="40" height="40">
        <h2 style="font-size: 1.15em">
            <i>Willkommen bei der Titanic! Wiki, einem kollaborativen Kompendium für alles rund um Titanic!</i>
        </h2>
    </span>
    <div class="wiki-stats">
        <span>Momentan haben wir <a href="#">{{ page_count }}</a> Artikel, und es werden immer mehr!</span>
        <span>Es ist {{ current_date.strftime("%A, %B %d, %Y") }}.</span>
    </div>
    <div class="wiki-categories">
        <table>
            <tbody>
                <tr>
                    <th>Allgemeine Informationen</th>
                </tr>
                <tr>
                    <td>
                        Die Titanic! Wiki ist ein gemeinschaftsbasiertes Projekt, das von engagierten Mitwirkenden aus Titanic! erstellt wird.
                        Unser Ziel ist es, die ultimative Informationsquelle für alles rund um Titanic! zu schaffen.
                        Doch das schaffen wir nicht allein – <b>wir brauchen deine Hilfe!</b>
                        Wenn du dich für das Projekt begeisterst, nutze dein Wissen und trage noch heute dazu bei!
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%">
            <tbody>
                <tr>
                    <th>Andere Sprachen</th>
                </tr>
                <tr>
                    <td>
                        {% for code, language in available_languages.items() %}
                            <a href="/wiki/{{ code }}">{{ language }}</a>
                            {% if not loop.last %}<b>•</b>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% for category in categories %}
        {% set odd_categories = categories|length is odd %}
        {% set width = '50%' %}
        {% if odd_categories and loop.index == categories|length %}
            {% set width = '100%' %}
        {% endif %}
        <table width="{{ width }}" style="float: {{ 'left' if loop.index is odd else 'right' }};">
            <tbody>
                <tr>
                    <th>{{ category.translations.get("de", category.name) }}</th>
                </tr>
                <tr>
                    <td>
                        {% if category.pages %}
                            {% for page in category.pages %}
                                <a href="/wiki/de/{{ page.path }}">
                                    {{ wiki.fetch_translated_page_title(page.id, 'de', session) or page.name }}
                                </a>
                                {% if not loop.last %}<b>•</b>{% endif %}
                            {% endfor %}
                        {% else %}
                            Es gibt noch keine Seiten in dieser Kategorie.
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock content_extension %}