{# templates/home/pl.html #}

{% extends 'wiki/content/pl.html' %}

{% block content_extension %}
<div class="wiki-content">
    <span class="wiki-welcome">
        <h1>Strona główna</h1>
        <img src="/images/logo/main-vector.min.svg" alt="logo" width="40" height="40">
        <h2><i>Witamy na Titanic! Wiki, wspólnym kompendium wszystkiego o serwerze Titanic!</i></h2>
    </span>
    <div class="wiki-stats">
        <span>Obecnie mamy <a href="#">{{ page_count }}</a> artykułów i ich liczba ciągle rośnie!</span>
        <span>Dzisiaj jest {{ current_date.strftime("%A, %B %d, %Y") }}.</span>
    </div>
    <div class="wiki-categories">
        <table>
            <tbody>
                <tr>
                    <th>Ogólny opis</th>
                </tr>
                <tr>
                    <td>
                        Titanic! Wiki to projekt tworzony przez społeczność, zbudowany przez zaangażowanych współtwórców z Titanic!.  
                        Naszym celem jest stworzenie ostatecznego źródła wiedzy na temat wszystkiego, co związane z Titanic!.  
                        Jednak nie możemy tego zrobić sami – <b>potrzebujemy Twojej pomocy!</b>  
                        Jeśli pasjonuje Cię ten projekt, wykorzystaj swoją wiedzę i zacznij współtworzyć już dziś!
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%">
            <tbody>
                <tr>
                    <th>Inne języki</th>
                </tr>
                <tr>
                    <td>
                        {% for code, language in available_languages.items() %}
                            <a href="/wiki/{{ code }}">{{ language }}</a>
                            {% if not loop.last %}<b>•</b>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% for category in categories %}
        {% set odd_categories = categories|length is odd %}
        {% set width = '50%' %}
        {% if odd_categories and loop.index == categories|length %}
            {% set width = '100%' %}
        {% endif %}
        <table width="{{ width }}" style="float: {{ 'left' if loop.index is odd else 'right' }};">
            <tbody>
                <tr>
                    <th>{{ category.translations.get("pl", category.name) }}</th>
                </tr>
                <tr>
                    <td>
                        {% if category.pages %}
                            {% for page in category.pages %}
                                <a href="/wiki/pl/{{ page.path }}">
                                    {{ wiki.fetch_translated_page_title(page.id, 'pl', session) or page.name }}
                                </a>
                                {% if not loop.last %}<b>•</b>{% endif %}
                            {% endfor %}
                        {% else %}
                            W tej kategorii jeszcze nie ma stron.
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock content_extension %}