{# templates/home/ru.html #}

{% extends 'wiki/content/ru.html' %}

{% block content_extension %}
<div class="wiki-content">
    <span class="wiki-welcome">
        <h1>Главная страница</h1>
        <img src="/images/logo/main-vector.min.svg" alt="logo" width="40" height="40">
        <h2><i>Добро пожаловать на Titanic! Wiki, совместный сборник всего, что связано с Titanic!</i></h2>
    </span>
    <div class="wiki-stats">
        <span>На данный момент у нас <a href="#">{{ page_count }}</a> статей и их число растёт!</span>
        <span>Сегодня {{ current_date }}.</span>
    </div>
    <div class="wiki-categories">
        <table>
            <tbody>
                <tr>
                    <th>Общее описание</th>
                </tr>
                <tr>
                    <td>
                        Titanic! Wiki — это проект, созданный сообществом преданных участников Titanic!.
                        Наша цель — создать лучший источник информации обо всём, что связано с Titanic!.
                        Однако мы не справимся в одиночку — <b>нам нужна ваша помощь!</b>
                        Если вы увлечены этим проектом, используйте свои знания и начните вносить вклад уже сегодня!
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%">
            <tbody>
                <tr>
                    <th>Другие языки</th>
                </tr>
                <tr>
                    <td>
                        {% for code, language in available_languages.items() %}
                            <a href="/wiki/{{ code }}">{{ language }}</a>
                            {% if not loop.last %}<b>•</b>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% for category in categories %}
        {% set odd_categories = categories|length is odd %}
        {% set width = '50%' %}
        {% if odd_categories and loop.index == categories|length %}
            {% set width = '100%' %}
        {% endif %}
        <table width="{{ width }}" style="float: {{ 'left' if loop.index is odd else 'right' }};">
            <tbody>
                <tr>
                    <th>{{ category.translations.get("ru", category.name) }}</th>
                </tr>
                <tr>
                    <td>
                        {% if category.pages %}
                            {% for page in category.pages|sort(attribute='id') %}
                                <a href="/wiki/ru/{{ page.path }}">
                                    {{ wiki.fetch_translated_page_title(page.id, 'ru', session) or page.name }}
                                </a>
                                {% if not loop.last %}<b>•</b>{% endif %}
                            {% endfor %}
                        {% else %}
                            В этой категории еще нет страниц.
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock content_extension %}