{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'osuTitanic' }}</title>
    <link rel="stylesheet" href="/css/{{ css or 'main.css' }}">
</head>
<body>
    <div class="main">
        <img src="/images/logo/headerlogo.png" alt="logo" class="logo" loading="lazy">
        <div class="nav">
            {% include "navigation.html" %}
        </div>
        <div class="bancho-stats">
            <b>{{ total_users }}</b> users, <b>{{ online_users }}</b> online now.<br>
            A total of <b>{{ total_scores }}</b> plays!
        </div>
        <div class="content">
            <div class="top">
                <div class="search-container">
                    <form class="search-form" onsubmit="return beatmapSearch()">
                        <input class="nav-search" type="text" id="beatmap-search" name="beatmaps" placeholder="Beatmap" autocomplete="off">
                    </form>
                    <form class="search-form" onsubmit="return userSearch()">
                        <input class="nav-search" type="text" id="user-search" name="users" placeholder="User" autocomplete="off">
                    </form>
                </div>
                <div class="login-container">
                    <p class="nav-login" id="welcome-text">Welcome, guest!</p>
                    <a href="#" class="nav-login" id="login-text">Login</a>
                    <a href="#" class="nav-login" id="register-text">I'm new!</a>
                </div>
            </div>
            <div class="page">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="gradient"></div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>