{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#603cba">
    <title>{{ title or 'Titanic!' }}</title>
    {% if description or site_description %}
    <meta name="description" content="{{ description or site_description }}">
    {% endif %}
    <meta name="keywords" content="titanic, osu, old osu, osu!, private server" />
    <meta property="og:site_name" content="Titanic!">
    <meta property="og:type" content="website">
    {% if site_title %}<meta property="og:title" content="{{ site_title }}">{% endif %}
    {% if site_image %}<meta property="og:image" content="{{ site_image }}">{% endif %}
    {% if site_url %}<meta property="og:url" content="{{ site_url }}">{% endif %}
    {% if site_description %}<meta property="og:description" content="{{ site_description }}">{% endif %}
    {% if config.ENABLE_SSL %}<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">{% endif %}
    {% if config.SITEMAP_ENABLED %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    {% endif %}
    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/css/main.css'|git_asset_url }}">
    {% if css %}
    <link rel="stylesheet" href="{{ ('/css/' + css)|git_asset_url }}">
    {% endif %}
    <link rel="preload" href="{{ '/images/logo/main-vector.min.svg'|git_asset_url }}" as="image">
    <script>
        var apiBaseurl = "{{ config.API_BASEURL }}";
        var osuBaseurl = "{{ config.OSU_BASEURL }}";
        var staticBaseurl = "{{ config.STATIC_BASEURL }}";
        var currentUser = {{ current_user.id if current_user.is_authenticated else 'null' }};
        var currentUsername = "{{ current_user.name if current_user.is_authenticated else '' }}";
        var approvedRewards = {{ config.APPROVED_MAP_REWARDS|lower }};
        var csrfToken = "{{ csrf_token() }}";
    </script>
    {% if is_modern_browser %}
    <script src="/lib/instant.page.js" type="module"></script>
    {% endif %}
    <!-- CSS fixes for Internet Explorer -->
    <!--[if IE 6]>
    <style>
        .nav-element a,
        .nav-element a:visited {
            width: 35px;
        }
        .nav-list {
            margin-left: 85px;
        }
        .bancho-stats {
            width: 220px;
            top: -17px;
            right: -1px;
        }
    </style>
    <![endif]-->
</head>
<body id="titanic">
    {% if current_user.restricted %}
    <div class="alert-header">
        <h1 style="margin-top: 0; color: white;">Your account was <strong>restricted</strong>!</h1>
        <div>
            You won't have be able to engage with other users or submit scores. If you wish to appeal your restriction, please <a href="mailto:{{ config.EMAIL_SENDER }}" style="color:white; font-weight: bold;">contact the administration team</a>.
        </div>
    </div><br>
    {% endif %}
    <div class="main">
        <a href="/" aria-label="Home">
            {% if is_ie %}
            <img src="{{ '/images/logo/main-low.png'|git_asset_url }}" class="logo" alt="">
            {% else %}
            <img src="{{ '/images/logo/main-vector.min.svg'|git_asset_url }}" loading="eager" fetchpriority="high" class="logo" alt="">
            {% endif %}
        </a>
        <div class="nav">
            {% include "navigation.html" %}
        </div>
        <div class="bancho-stats">
            <b>{{ "{:,}".format(total_users) }}</b> users, <b>{{ "{:,}".format(online_users) }}</b> online now.<br>
            A total of <b>{{ "{:,}".format(total_scores) }}</b> plays!
        </div>
        <div class="content">
            <div class="top">
                <div class="search-container">
                    <form class="search-form" onsubmit="return userSearch()">
                        <input class="nav-search" type="text" id="user-search" name="users" placeholder="User" autocomplete="off">
                    </form>
                    <form class="search-form" onsubmit="return beatmapSearch()">
                        <input class="nav-search" type="text" id="beatmap-search" name="beatmaps" placeholder="Beatmap" autocomplete="off">
                    </form>
                </div>
                <div class="login-container">
                {% if current_user.id %}
                    <span class="nav-login" id="welcome-text">
                        Welcome, <b><a href="/u/{{ current_user.id }}">{{ current_user.name }}</a></b>
                    </span>
                    <a href="/account/profile#avatar" style="height: 25px">
                        <img class="small-avatar" src="{{ current_user|avatar_url }}" alt="">
                    </a>
                    <a href="/account"><i class="fa-solid fa-gear" style="color: #808080;"></i> Settings</a>
                    <a href="/account#notifications">
                        <i class="fa-solid fa-bell" style="color: #808080;"></i>
                        {% if notification_count > 0 %}
                        {{ notification_count }} {{ 'notification' if notification_count == 1 else 'notifications' }}
                        {% else %}
                        No notifications
                        {% endif %}
                    </a>
                    <a href="#" onclick="document.getElementById('logout-form').submit()" class="nav-login" id="logout-text">
                        <i class="fa-solid fa-power-off" style="color: #808080;"></i> Logout
                    </a>
                    <form action="/account/logout" id="logout-form" method="post" style="display: inline;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% if request.view_args %}
                        <input type="hidden" name="redirect" value="{{ url_for(request.endpoint, **request.view_args) }}"/>
                        {% endif %}
                    </form>
                {% else %}
                    {% if not disable_login_modal %}
                    <span class="nav-login" id="welcome-text">Welcome, guest!</span>
                    <a onclick="showLoginForm()" class="nav-login" id="login-text">Login</a>
                    <a href="/account/register" class="nav-login" id="register-text">I'm new!</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="login-dropdown" style="display: none;">
                <form action="/account/login" method="post">
                    {% if request.path %}
                        <input type="hidden" name="redirect" value="{{ request.path }}">
                    {% else %}
                        <input type="hidden" name="redirect" value="/">
                    {% endif %}
                    Please enter your credentials:
                    <br>
                    <input id="username-field" class="post" type="text" name="username" placeholder="Username" maxlength="30" value="" tabindex="0" autocomplete="off">
                    <br>
                    <input id="password-field" class="post" type="password" name="password" placeholder="Password" tabindex="0" autocomplete="off">
                    <br>
                    <div>
                        <input id="remember" class="radio" type="checkbox" name="remember"><label for="remember">Remember Me</label>
                        <input class="login-button" type="submit" name="login" value="Login" tabindex="5">
                    </div>
                    <div class="login-bottom-text">
                        <a id="forgot-password-text" href="/account/reset">
                            Forgot your password?
                        </a>
                    </div>
                    <div class="login-bottom-text">
                        <a id="register-text" href="/account/register">
                            Create new account!
                        </a>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
            {% if not is_modern_browser %}
            <!--[if lte IE 8]>
            <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=FormData"></script>
            <script src="https://cdnjs.cloudflare.com/polyfill/v2/polyfill.min.js"></script>
            <script src="{{ '/lib/jquery.min.js'|git_asset_url }}"></script>
            <script src="{{ '/lib/jquery.migrate.min.js'|git_asset_url }}"></script>
            <![endif]-->
            <!--[if gt IE 7]><!-->
            <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=default,FormData"></script>
            <!--<![endif]-->
            {% endif %}
            <script src="{{ '/lib/jquery.min.js'|git_asset_url }}" defer></script>
            <script src="{{ '/lib/jquery.timeago.js'|git_asset_url }}" defer></script>
            <script src="{{ '/lib/jquery.marquee.js'|git_asset_url }}" defer></script>
            <script src="{{ '/js/main.js'|git_asset_url }}" fetchpriority="high"></script>
            <div class="page">
                {# Page Content #}
                {% block content %}
                {% endblock content %}
                <div style="clear: both;"></div>
            </div>
            <div class="gradient"></div>
            <link rel="stylesheet" href="{{ '/css/font-awesome-3.css'|git_asset_url }}">
            <link rel="stylesheet" href="{{ '/lib/fontawesome.min.css'|git_asset_url }}">
            <link rel="stylesheet" href="{{ '/lib/fontawesome.solid.min.css'|git_asset_url }}">
            <link rel="stylesheet" href="{{ '/lib/fontawesome.brands.min.css'|git_asset_url }}">
            <script src="{{ '/js/editor.js'|git_asset_url }}" fetchpriority="low" defer></script>
        </div>
    </div>
</body>
</html>
