{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description or site_description or 'Titanic! - A private server for osu! that lets you experience the early days of the game.' }}">
    <meta name="keywords" content="osu, titanic, private, server, lekuru, old osu, nostalgia, ouendan, elite, beat, agents, rhythm, windows, game, taiko, tatsujin, simulator, sim, xna, ddr, beatmania" />
    <meta name="viewport" content="width=1050, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#603cba">
    <meta property="og:site_name" content="Titanic!">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#603cba">
    {% if site_description %}<meta property="og:description" content="{{ site_description }}">{% endif %}
    {% if site_title %}<meta property="og:title" content="{{ site_title }}">{% endif %}
    {% if site_image %}<meta property="og:image" content="{{ site_image }}">{% endif %}
    {% if site_url %}<meta property="og:url" content="{{ site_url }}">{% endif %}
    {% if config.ENABLE_SSL %}<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">{% endif %}
    <title>{{ title or 'Titanic!' }}</title>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="prefetch" href="/css/{{ css or 'main.css' }}">
    <link rel="stylesheet" href="/css/{{ css or 'main.css' }}">
    <link rel="stylesheet" href="/lib/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/fontawesome.solid.min.css">
    <link rel="stylesheet" href="/lib/fontawesome.brands.min.css">
    {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
    <script>
        var apiBaseurl = "{{ config.API_BASEURL }}";
        var osuBaseurl = "{{ config.OSU_BASEURL }}";
        var staticBaseurl = "{{ config.STATIC_BASEURL }}";
        var currentUser = {{ current_user.id if current_user.is_authenticated else 'null' }};
        var approvedRewards = {{ config.APPROVED_MAP_REWARDS|lower }};
        var csrfToken = "{{ csrf_token() }}";
    </script>
    <!-- CSS fixes for Internet Explorer -->
    <!--[if IE 6]>
    <style>
        .nav-element a,
        .nav-element a:visited {
            width: 35px;
        }
        .nav-list {
            margin-left: 85px;
        }
        .bancho-stats {
            width: 220px;
            top: -17px;
            right: -1px;
        }
    </style>
    <![endif]-->
</head>
<body>
    {% if current_user.restricted %}
    <div class="alert-header">
        <h1 style="margin-top: 0px; color: white;">Your account was <strong>restricted</strong>!</h1>
        <div>
            You won't have be able to engage with other users or submit scores. If you wish to appeal your restriction, please <a href="mailto:{{ config.EMAIL_SENDER }}" style="color:white; font-weight: bold;">contact the administration team</a>.
        </div>
    </div><br>
    {% endif %}
    <div class="main">
        <a href="/" aria-label="Home">
            <img {% if not is_ie %}
                 src="/images/logo/main-vector.min.svg"
                 onerror="this.src='/images/logo/main-low.png';"
                 loading="eager"
                 {% else %}
                 src="/images/logo/main-low.png"
                 {% endif %}
                 class="logo"
                 alt="">
        </a>
        <div class="nav">
            {% include "navigation.html" %}
        </div>
        <div class="bancho-stats">
            <b>{{ "{:,}".format(total_users) }}</b> users, <b>{{ "{:,}".format(online_users) }}</b> online now.<br>
            A total of <b>{{ "{:,}".format(total_scores) }}</b> plays!
        </div>
        <div class="content">
            <div class="top">
                <div class="search-container">
                    <form class="search-form" onsubmit="return userSearch()">
                        <input class="nav-search" type="text" id="user-search" name="users" placeholder="User" autocomplete="off">
                    </form>
                    <form class="search-form" onsubmit="return beatmapSearch()">
                        <input class="nav-search" type="text" id="beatmap-search" name="beatmaps" placeholder="Beatmap" autocomplete="off">
                    </form>
                </div>
                <div class="login-container">
                {% if current_user.id %}
                    <span class="nav-login" id="welcome-text">
                        Welcome, <a href="/u/{{ current_user.id }}">{{ current_user.name }}</a>
                    </span>
                    <a href="/account/settings/profile#avatar" style="height: 25px">
                        <img class="small-avatar" src="/a/{{ current_user.id }}?s=25" alt="">
                    </a>
                    <a href="/account/settings"><i class="fa-solid fa-gear" style="color: #808080;"></i> Settings</a>
                    <a href="/account/settings#notifications">
                        <i class="fa-solid fa-bell" style="color: #808080;"></i>
                        {% if notification_count > 0 %}
                        {{ notification_count }} {{ 'notification' if notification_count == 1 else 'notifications' }}
                        {% else %}
                        No notifications
                        {% endif %}
                    </a>
                    {% if request.view_args %}
                    <a href="/account/logout?redirect={{ url_for(request.endpoint, **request.view_args) }}">
                        <i class="fa-solid fa-power-off" style="color: #808080;"></i> Logout
                    </a>
                    {% else %}
                    <a href="/account/logout">
                        <i class="fa-solid fa-power-off" style="color: #808080;"></i> Logout
                    </a>
                    {% endif %}
                {% else %}
                    {% if not disable_login_modal %}
                    <span class="nav-login" id="welcome-text">Welcome, guest!</span>
                    <a onclick="showLoginForm()" class="nav-login" id="login-text">Login</a>
                    <a href="/account/register" class="nav-login" id="register-text">I'm new!</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="login-dropdown" style="display: none;">
                <form action="/account/login" method="post">
                    {% if request.path %}
                        <input type="hidden" name="redirect" value="{{ request.path }}">
                    {% else %}
                        <input type="hidden" name="redirect" value="/">
                    {% endif %}
                    Please enter your credentials:
                    <br>
                    <input id="username-field" class="post" type="text" name="username" placeholder="Username" maxlength="30" value="" tabindex="0" autocomplete="off">
                    <br>
                    <input id="password-field" class="post" type="password" name="password" placeholder="Password" tabindex="0" autocomplete="off">
                    <br>
                    <div>
                        <input id="remember" class="radio" type="checkbox" name="remember"><label for="remember">Remember Me</label>
                        <input class="login-button" type="submit" name="login" value="Login" tabindex="5">
                    </div>
                    <div class="login-bottom-text">
                        <a id="forgot-password-text" href="/account/reset">
                            Forgot your password?
                        </a>
                    </div>
                    <div class="login-bottom-text">
                        <a id="register-text" href="/account/register">
                            Create new account!
                        </a>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
            {% if not is_modern_browser %}
            <!--[if lte IE 8]>
            <script src="https://cdnjs.cloudflare.com/polyfill/v2/polyfill.min.js"></script>
            <![endif]-->
            <!--[if gt IE 7]><!-->
            <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js"></script>
            <!--<![endif]-->
            {% endif %}
            <script src="/lib/jquery.min.js"></script>
            <script src="/lib/jquery.timeago.js"></script>
            <script src="/lib/jquery.marquee.js"></script>
            <script src="/js/main.js"></script>
            <div class="page">
                {# Page Content #}
                {% block content %}
                {% endblock content %}
                <div style="clear: both;"></div>
            </div>
            <div class="gradient"></div>
            <script src="/js/editor.js" defer></script>
        </div>
    </div>
</body>
</html>
