{# templates/beatmap_bat.html #}

{% if current_user.is_bat %}
<div class="beatmap-settings">
    <details {% if bat_error or bat_info %}open{% endif %}>
        <summary>BAT Controls</summary>
        {% if bat_error %}
        <div id="error">
            {{ bat_error }}
        </div>
        {% endif %}
        {% if bat_info %}
        <div id="info">
            {{ bat_info }}
        </div>
        {% endif %}
        <table>
            <thead>
                <th><h2>General</h2></th>
                <th><h2>Ranking</h2></th>
                {% if beatmapset.status <= 0 or can_manage_resources %}
                <th><h2>Files</h2></th>
                {% endif %}
            </thead>
            <tbody>
                <td style="min-width: 38%">
                    <form method="post" onsubmit="updateBeatmapsetMetadata(event)">
                        <dl>
                            <dt>Offset:</dt>
                            <dd>
                                <input type="text" name="offset" value="{{ beatmapset.offset }}" size="6">
                            </dd>
                            {% if beatmapset.server == 0 %}
                            <dt>Enhanced:</dt>
                            <dd>
                                <input type="checkbox" name="enhanced" {% if beatmapset.enhanced %}checked{% endif %}>
                            </dd>
                            <dt>Download Server:</dt>
                            <dd>
                                <select name="download_server">
                                    <option value="0" {% if beatmapset.download_server == 0 %}selected{% endif %}>Bancho</option>
                                    <option value="1" {% if beatmapset.download_server == 1 %}selected{% endif %}>Titanic</option>
                                </select>
                            </dd>
                            {% endif %}
                            <dt>Display Title:</dt>
                            <dd>
                                <textarea name="display_title">{{ beatmapset.display_title }}</textarea>
                            </dd>
                            <dt>Genre:</dt>
                            <dd>
                                <select name="genre">
                                    {% for genre in constants.BeatmapGenre.values() %}
                                    <option value="{{ genre }}" {% if beatmapset.genre_id == genre %}selected{% endif %}>{{ constants.BeatmapGenre(genre).name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Language:</dt>
                            <dd>
                                <select name="language">
                                    {% for language in constants.BeatmapLanguage.values() %}
                                    <option value="{{ language }}" {% if beatmapset.language_id == language %}selected{% endif %}>{{ constants.BeatmapLanguage(language).name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                            <dt>Tags:</dt>
                            <dd>
                                <textarea name="tags">{{ beatmapset.tags or '' }}</textarea>
                            </dd>
                        </dl>
                        <input type="submit" value="Save">
                        <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                    </form>
                </td>
                <td style="min-width: 30%">
                    <p>
                        The current status of this beatmap is "{{ constants.BeatmapStatus(beatmapset.status).name }}".
                        {% if nominations|length >= beatmapset|required_nominations and beatmapset.status <= 0 %}
                        This beatmap has enough nominations to be qualified!
                        {% elif beatmapset.status == 3 %}
                        This beatmap will be ranked {{ (beatmapset.approved_at + timedelta(days=7))|timeago }}.
                        {% endif %}
                    </p><br>
                    {% if beatmapset.status <= 0 %}
                    {# Beatmap is not ranked #}
                    <div>
                        {% if not bat_nomination %}
                        <a href="#" onclick="addNomination({{ beatmapset.id }})" style="color: green;">
                            Nominate this beatmap
                            (Bubble)
                        </a><br>
                        {% else %}
                        <p style="color: green;">
                            You have nominated this beatmap
                            (Bubbled)
                        </p>
                        {% endif %}
                        <a href="#" onclick="resetNominations({{ beatmapset.id }})" style="color: red;">
                            Remove all nominations from this beatmap
                            (Pop Bubble)
                        </a>
                    </div><br>
                    <div>
                        <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 3, 'Are you sure you want to update the status to Qualified?')">
                            Update status to "Qualified"
                        </a><br>
                        <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 4, 'Are you sure you want to update the status to Loved?')">
                            Update status to "Loved"
                        </a><br>
                        {% if beatmapset.server != 0 %}
                        <a onclick="nukeBeatmapset({{ beatmapset.id }})" style="color: red">
                            Nuke this beatmap
                        </a><br>
                        {% endif %}
                    </div><br>
                    {% elif beatmapset.status in (1, 2) %}
                    <div>
                        <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                            Unrank this beatmap
                        </a>
                    </div>
                    {% elif beatmapset.status == 3 %}
                    <div>
                        <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                            Disqualify this beatmap
                        </a>
                    </div>
                    {% elif beatmapset.status == 4 %}
                    <div>
                        <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                            Remove from "Loved" category
                        </a>
                    </div>
                    {% endif %}
                    <details>
                        <summary>Difficulty Status Updates</summary><br>
                        <form method="post" onsubmit="updateBeatmapStatuses(event)">
                            <div class="bat-diffs">
                                {% for beatmap in beatmapset.beatmaps %}
                                <div>
                                    <dt>{{ beatmap.version }}</dt>
                                    <dd>
                                        <select name="{{ beatmap.id }}">
                                            {% for status in constants.BeatmapStatus.values() %}
                                            <option value="{{ status }}" {% if beatmap.status == status %}selected{% endif %}>{{ constants.BeatmapStatus(status).name }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                </div>
                                {% endfor %}
                            </div>
                            <input type="submit" value="Update">
                            <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                        </form>
                    </details>
                    {% if can_force_nominate %}
                    <br>
                    <div>
                        <a href="#" onclick="addForceNomination({{ beatmapset.id }})" style="color: green;">
                            Add nominator
                        </a>
                        <br>
                        <a href="#" onclick="removeForceNomination({{ beatmapset.id }})" style="color: red;">
                            Remove nominator
                        </a>
                    </div>
                    {% endif %}
                </td>
                {% if beatmapset.status <= 0 or can_manage_resources %}
                <td>
                    <p>
                        Please make sure you know what you are doing before replacing any files! <br><br>
                    </p>
                    {% if beatmapset.download_server == 0 %}
                    <p>
                        If the download server is set to "Titanic", your changes will take effect. <br>
                        Once you change the download server, make sure all resources have been uploaded.
                    </p><br>
                    {% endif %}
                    <a href="#" onclick="uploadResource('/resources/osz/{{ beatmapset.id }}', 'osz', '.osz,.zip');">
                        Replace osz file
                    </a><br>
                    <a href="#" onclick="uploadResource('/resources/osu/{{ beatmap.id }}', 'osu', '.osu,.txt', 'This will replace the beatmap file for {{ beatmap.version|url_quote }}. Are you sure?');">
                        Replace beatmap file
                    </a><br>
                    <a href="#" onclick="uploadResource('/resources/mt/{{ beatmapset.id }}', 'mt', '.jpeg,.jpg', 'Please make sure this image is 160x120 pixels large! Are you sure you want to upload?');">
                        Replace background file (large)
                    </a><br>
                    <a href="#" onclick="uploadResource('/resources/mp3/{{ beatmapset.id }}', 'mp3', '.mp3');">
                        Replace audio preview file
                    </a>
                </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </details>
</div>
{% endif %}
