{# templates/beatmap.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    <a href="/beatmapsets">Beatmap Listing</a> »
    {{beatmapset.artist if beatmapset.artist}}
    {{' - ' if beatmapset.artist and beatmapset.title}}
    {{beatmapset.title if beatmapset.title}}
    {% if beatmapset.server == 0 %}
    <p>View on <a href="https://osu.ppy.sh/b/{{ beatmap.id }}">osu.ppy.sh</a></p>
    {% else %}
        {% if beatmapset.topic_id %}
        <p>View on <a href="/forum/t/{{ beatmapset.topic_id }}">forums</a></p>
        {% endif %}
    {% endif %}
</h1>
<div class="beatmap">
    <div class="tab-list">
        <ul>
            {% for map in beatmapset.beatmaps %}
            <li class="tab-item difficulty-icon">
                <a href="/b/{{ map.id }}" class="tab-link {{ 'active' if map.id == beatmap.id }}">
                    {% if map.diff < 2.7 %}
                        <img
                            src="/images/beatmap/difficulties/easy-{{map.mode}}.png"
                            alt="Easy"
                        >
                    {% elif map.diff < 3.7 %}
                        <img
                            src="/images/beatmap/difficulties/normal-{{map.mode}}.png"
                            alt="Normal"
                        >
                    {% elif map.diff < 4.5 %}
                        <img
                            src="/images/beatmap/difficulties/hard-{{map.mode}}.png"
                            alt="Hard"
                        >
                    {% elif map.diff < 5.5 %}
                        <img
                            src="/images/beatmap/difficulties/insane-{{map.mode}}.png"
                            alt="Insane"
                        >
                    {% else %}
                        <img
                            src="/images/beatmap/difficulties/expert-{{map.mode}}.png"
                            alt="Expert"
                        >
                    {% endif %}
                    <span>{{map.version}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="beatmap-stats">
        {% set image_width = 14 %}
        {% set max_stars = 10 %}
        <table>
            <tr>
                <td>Artist:</td>
                <td class="beatmap-stats-info">
                {% if beatmapset.artist %}
                    <a href="/beatmapsets?query={{ beatmapset.artist }}">{{ beatmapset.artist }}</a>
                {% endif %}
                </td>
                <td>Circle Size:</td>
                <td class="beatmap-stats-info">
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.cs }}px"></div>
                    </div>
                </td>
                <td>Approach Rate</td>
                <td class="beatmap-stats-info">
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.ar }}px"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Title:</td>
                <td class="beatmap-stats-info">
                {% if beatmapset.title %}
                    <a href="/beatmapsets?query={{ beatmapset.title }}">{{ beatmapset.title }}</a>
                {% endif %}
                </td>
                <td>HP Drain:</td>
                <td class="beatmap-stats-info">
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.hp }}px"></div>
                    </div>
                </td>
                <td><b>Star Difficulty:</b></td>
                <td class="beatmap-stats-info">
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.diff }}px"></div>
                    </div>
                    ({{ beatmap.diff|round(2) }})
                </td>
            </tr>
            <tr>
                <td>Creator:</td>
                <td class="beatmap-stats-info">
                {% if beatmapset.server == 0 %}
                    <a href="https://osu.ppy.sh/u/{{ beatmapset.creator }}">{{ beatmapset.creator }}</a>
                {% else %}
                    <a href="/u/{{ beatmapset.creator_id }}">{{ beatmapset.creator }}</a>
                {% endif %}
                </td>
                <td>Accuracy:</td>
                <td class="beatmap-stats-info">
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.od }}px"></div>
                    </div>
                </td>
                <td><b>Length:</b></td>
                <td class="beatmap-stats-info">
                    {% set minutes = beatmap.total_length // 60 %}
                    {% set seconds = beatmap.total_length % 60 %}
                    {{ minutes }}:{{ "%02d"|format(seconds) }}
                </td>
            </tr>
            <tr>
                <td>Source:</td>
                <td class="beatmap-stats-info">
                    {% if beatmapset.source %}
                    <a href="/beatmapsets?query={{ beatmapset.source }}">{{ beatmapset.source }}</a>
                    {% endif %}
                </td>
                <td>Genre:</td>
                <td class="beatmap-stats-info">
                    <a href="/beatmapsets?genre={{ beatmapset.genre_id }}">{{ Genre(beatmapset.genre_id).name }}</a>
                    {% if beatmapset.language_id > 1 %}
                    <a href="/beatmapsets?language={{ beatmapset.language_id }}">({{ Language(beatmapset.language_id).name }})</a>
                    {% endif %}
                </td>
                <td><b>BPM:</b></td>
                <td class="beatmap-stats-info">{{ beatmap.bpm|round|int }}</td>
            </tr>
            <tr>
                <td>
                    Submitted:
                    {% if beatmapset.status > 0 %}
                    <br>{{ Status(beatmapset.status).name }}:
                    {% else %}
                    <br>Last Updated:
                    {% endif %}
                </td>
                <td class="beatmap-stats-info">
                    {{ beatmapset.created_at.strftime('%b %d, %Y') }}
                    {% if beatmapset.status > 0 and beatmapset.approved_at %}
                    <br>{{ beatmapset.approved_at.strftime('%b %d, %Y') }}
                    {% else %}
                    <br>{{ beatmapset.last_update.strftime('%b %d, %Y') }}
                    {% endif %}
                </td>
                <td>Average Rating:</td>
                <td class="beatmap-stats-info">
                    {# TODO: Create rating graph #}
                    {% if beatmapset.ratings %}
                    {{ (beatmapset.ratings | sum(attribute='rating') / beatmapset.ratings | count) | round(4) }}
                    {% else %}
                    Nobody has rated this map yet... ):
                    {% endif %}
                </td>
                <td>
                    <b>Favourited {{ favourites_count }} times</b> in total
                    {% if current_user.is_authenticated %}
                        <br>
                        {% if favorite %}
                        <a onclick="removeFavorite({{ beatmapset.id }})" style="color: red" id="favourites-button">
                            (Remove Favourite)
                        </a>
                        {% else %}
                        <a onclick="addFavorite({{ beatmapset.id }})" style="color: green" id="favourites-button">
                            (Add Favourite)
                        </a>
                        {% endif %}
                    {% endif %}
                </td>
                <td id="favourites" class="beatmap-stats-info">
                    {% if favourites_count > 0 %}
                        Users that love this map:<br>
                        {% for favourite in favourites %}
                        <a href="/u/{{ favourite.user_id }}">
                            {{ favourite.user.name}}{{', ' if favourite != favourites[-1]}}
                        </a>
                        {% endfor %}
                        {% if favourites_count > 5 %}
                        <b>and many more!</b>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                {% if nominations or beatmapset.status <= 0 %}
                <td>Nominators:</td>
                <td colspan="3">
                    {% if not nominations %}
                    <p>No one has nominated this map yet.</p>
                    {% else %}
                    <div>
                        {% for nomination in nominations %}
                        <a href="/u/{{ nomination.user_id }}">{{ nomination.user.name }}</a>{% if loop.index0 != nominations|length - 1 %},{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                {% endif %}
                {% if beatmapset.server == 1 %}
                <td>Options:</td>
                <td {% if not nominations or beatmapset.status > 0 %} colspan="5" {% endif %}>
                    <a href="/api/beatmaps/osu/{{ beatmap.id }}">Grab latest .osu file</a>
                    {% if beatmapset.server == 0 %}
                    <p><a href="https://osu.ppy.sh/beatmapsets/{{ beatmapset.id }}/discussion">Modding / Discussion</a></p>
                    {% else %}
                        {% if beatmapset.topic_id %}
                        <p><a href="/forum/t/{{ beatmapset.topic_id }}">Modding / Discussion</a></p>
                        {% endif %}
                    {% endif %}
                    <p><a setid="{{ beatmapset.id }}" onclick="copySetId(this)">Copy Beatmapset ID</a></p>
                </td>
                {% endif %}
            </tr>
        </table>
        {% if current_user.is_bat %}
        <div class="bat-controls">
            <details {% if bat_error or bat_info %}open{% endif %}>
                <summary>BAT Controls</summary>
                {% if bat_error %}
                <div id="error">
                    {{ bat_error }}
                </div>
                {% endif %}
                {% if bat_info %}
                <div id="info">
                    {{ bat_info }}
                </div>
                {% endif %}
                <table>
                    <thead>
                        <th><h2>General</h2></th>
                        <th><h2>Ranking</h2></th>
                    </thead>
                    <tbody>
                        <td style="width: 50%">
                            <form method="post" onsubmit="updateBeatmapsetMetadata(event)">
                                <dl>
                                    <dt>Offset:</dt>
                                    <dd>
                                        <input type="text" name="offset" value="{{ beatmapset.offset }}" size="6">
                                    </dd>
                                    <dt>Display Title:</dt>
                                    <dd>
                                        <textarea name="display_title">{{ beatmapset.display_title }}</textarea>
                                    </dd>
                                    <dt>Genre:</dt>
                                    <dd>
                                        <select name="genre">
                                            {% for genre in constants.BeatmapGenre.values() %}
                                            <option value="{{ genre }}" {% if beatmapset.genre_id == genre %}selected{% endif %}>{{ constants.BeatmapGenre(genre).name }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dt>Language:</dt>
                                    <dd>
                                        <select name="language">
                                            {% for language in constants.BeatmapLanguage.values() %}
                                            <option value="{{ language }}" {% if beatmapset.language_id == language %}selected{% endif %}>{{ constants.BeatmapLanguage(language).name }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dt>Tags:</dt>
                                    <dd>
                                        <textarea name="tags">{{ beatmapset.tags or '' }}</textarea>
                                    </dd>
                                </dl>
                                <input type="submit" value="Save">
                                <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                            </form>
                        </td>
                        <td>
                            <p>
                                The current status of this beatmap is "{{ constants.DatabaseStatus(beatmapset.status).name }}".
                                {% if nominations|length >= beatmapset|required_nominations and beatmapset.status <= 0 %}
                                This beatmap has enough nominations to be qualified!
                                {% elif beatmapset.status == 3 %}
                                This beatmap will be ranked {{ (beatmapset.approved_at + timedelta(days=7))|timeago }}.
                                {% endif %}
                            </p><br>
                            {% if beatmapset.status <= 0 %}
                            {# Beatmap is not ranked #}
                            <div>
                                {% if not bat_nomination %}
                                <a href="#" onclick="addNomination({{ beatmapset.id }})" style="color: green;">
                                    Nominate this beatmap
                                    (Bubble)
                                </a><br>
                                {% else %}
                                <p style="color: green;">
                                    You have nominated this beatmap
                                    (Bubbled)
                                </p>
                                {% endif %}
                                <a href="#" onclick="resetNominations({{ beatmapset.id }})" style="color: red;">
                                    Remove all nominations from this beatmap
                                    (Pop Bubble)
                                </a>
                            </div><br>
                            <div>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 3, 'Are you sure you want to update the status to Qualified?')">
                                    Update status to "Qualified"
                                </a><br>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 2, 'Are you sure you want to update the status to Approved?')">
                                    Update status to "Approved"
                                </a><br>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 4, 'Are you sure you want to update the status to Loved?')">
                                    Update status to "Loved"
                                </a><br>
                                {% if beatmapset.server != 0 %}
                                <a onclick="nukeBeatmapset({{ beatmapset.id }})" style="color: red">
                                    Nuke this beatmap
                                </a><br>
                                {% endif %}
                            </div><br>
                            {% elif beatmapset.status in (1, 2) %}
                            <div>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                                    Unrank this beatmap
                                </a>
                            </div>
                            {% elif beatmapset.status == 3 %}
                            <div>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                                    Disqualify this beatmap
                                </a>
                            </div>
                            {% elif beatmapset.status == 4 %}
                            <div>
                                <a onclick="setBeatmapsetStatus({{ beatmapset.id }}, 0)" style="color: red;">
                                    Remove from "Loved" category
                                </a>
                            </div>
                            {% endif %}
                            {% if beatmapset.server != 1 %}
                            <div>
                                <a href="/api/beatmaps/update/{{ beatmapset.id }}/hashes">Update beatmap hashes</a>
                            </div><br>
                            {% endif %}
                            <details>
                                <summary>Difficulty Status Updates</summary><br>
                                <form method="post" onsubmit="updateBeatmapStatuses(event)">
                                    <div class="bat-diffs">
                                        {% for beatmap in beatmapset.beatmaps %}
                                        <div>
                                            <dt>{{ beatmap.version }}</dt>
                                            <dd>
                                                <select name="{{ beatmap.id }}">
                                                    {% for status in constants.DatabaseStatus.values() %}
                                                    <option value="{{ status }}" {% if beatmap.status == status %}selected{% endif %}>{{ constants.DatabaseStatus(status).name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </dd>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <input type="submit" value="Update">
                                    <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                                </form>
                            </details>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </details>
        </div>
        {% endif %}
    </div>
    <div class="padding">
        <div class="beatmap-download">
            {% if beatmapset.available %}
                {% if current_user.id %}
                    <a href="/beatmapsets/download/{{ beatmapset.id }}" target="_blank">
                        <img src="/images/beatmap/osu-download-beatmap.png" alt="Download">
                    </a>
                    {% if beatmapset.has_video %}
                        <a href="/beatmapsets/download/{{ beatmapset.id }}?novideo=True" target="_blank">
                            <img src="/images/beatmap/osu-download-beatmap-novid.png" alt="Download without Video">
                        </a>
                    {% endif %}
                {% else %}
                    <a href="#" onclick='return showLoginForm();'>
                        <img src="/images/beatmap/osu-download-login.png" alt="Login to download Beatmaps"/>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="beatmap-description">
            <div title="Play Song">
                <a onclick="resetOrPlayAudio('beatmap-preview')" class="beatmap-preview-link" href="javascript:void(0);">
                    <img src="/mt/{{ beatmapset.id }}l" alt="">
                    <audio id="beatmap-preview"
                           src="/mp3/preview/{{ beatmapset.id }}.mp3"
                           preload="auto">
                    </audio>
                </a>
            </div>
            {% if beatmapset.description %}
                {# NOTE: Small workaround for existsing html-bbcode #}
                {% if beatmapset.server != 0 %}
                    {{ beatmapset.description|bbcode|safe }}
                {% else %}
                    {{ beatmapset.description|safe }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if beatmapset.status > 0 and beatmap.status > 0 %}
    <div class="tab-list">
        <ul>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=0" class="tab-link {{ 'active' if mode == 0 }}">
                    osu! Standard
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=1" class="tab-link {{ 'active' if mode == 1 }}">
                    Taiko
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=2" class="tab-link {{ 'active' if mode == 2 }}">
                    Catch The Beat
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=3" class="tab-link {{ 'active' if mode == 3 }}">
                    osu!mania
                </a>
            </li>
        </ul>
    </div>
    <div class="score-header">
    {% if not scores %}
        <b class="no-records">No records have been set for this game mode yet!</b>
    {% else %}
        {% set leader_score = scores[0] %}
        <table class="leader">
            <tbody>
                <tr>
                    <td class="row-title" colspan="3">
                        <a href="/rankings/{{ constants.GameMode(beatmap.mode).alias }}/performance?country={{ leader_score.user.country }}">
                            <img src="/images/flags/{{ leader_score.user.country|lower }}.gif"
                                 alt="{{ leader_score.user.country }} Flag"
                                 loading="lazy"
                                 class="flag">
                        </a>
                        <a href="/u/{{ leader_score.user.id }}">{{ leader_score.user.name }}</a> is in the lead!
                        ({{ leader_score.submitted_at|timeago }})
                    </td>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><b>Score</b></td>
                        <td>{{ "{:,}".format(leader_score.total_score) }} ({{ "{:,.2f}".format(leader_score.acc * 100) }}%)</td>
                        <td class="row-grade" colspan="1" rowspan="13">
                            <img src="/images/grades/{{ leader_score.grade|upper }}.png" loading="lazy" alt="Grade {{ leader_score.grade|upper }}">
                        </td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>Max Combo</b></td>
                        <td>{{ leader_score.max_combo }}</td>
                    </tr>
                </tr>
                {% if mode != 3 %}
                <tr>
                    <tr class="row-light">
                        <td><b>300 / 100 / 50</b></td>
                        <td>{{ leader_score.n300 }} / {{ leader_score.n100 }} / {{ leader_score.n50 }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>Misses</b></td>
                        <td>{{ leader_score.nMiss }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><b>Geki (Elite Beat!)</b></td>
                        <td>{{ leader_score.nGeki }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>{% if mode == 2 %}Droplet misses{% else %}Katu (Beat!){%endif%}</b></td>
                        <td>{{ leader_score.nKatu }}</td>
                    </tr>
                </tr>
                {% else %}
                <tr>
                    <tr class="row-light">
                        <td><b>MAX / 300 / 200</b></td>
                        <td>{{ leader_score.nGeki }} / {{ leader_score.n300 }} / {{ leader_score.nKatu }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>100 / 50 / Misses</b></td>
                        <td>{{ leader_score.n100 }} / {{ leader_score.n50 }} / {{ leader_score.nMiss }}</td>
                    </tr>
                </tr>
                {% endif %}
                <tr>
                    <tr class="row-light">
                        <td><b>Mods</b></td>
                        <td>{{ leader_score.mods|short_mods }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {% if personal_best %}
        <table class="leader">
            <tbody>
                <tr>
                    <td class="row-title" colspan="3">
                        Personal Best (#{{ personal_best_rank }} achieved {{ personal_best.submitted_at|timeago }})
                    </td>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><b>Score</b></td>
                        <td>{{ "{:,}".format(personal_best.total_score) }} ({{ "{:,.2f}".format(personal_best.acc * 100) }}%)</td>
                        <td class="row-grade" colspan="1" rowspan="13">
                            <img src="/images/grades/{{ personal_best.grade|upper }}.png" loading="lazy" alt="Grade {{ personal_best.grade|upper }}">
                        </td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>Max Combo</b></td>
                        <td>{{ personal_best.max_combo }}</td>
                    </tr>
                </tr>
                {% if mode != 3 %}
                <tr>
                    <tr class="row-light">
                        <td><b>300 / 100 / 50</b></td>
                        <td>{{ personal_best.n300 }} / {{ personal_best.n100 }} / {{ personal_best.n50 }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>Misses</b></td>
                        <td>{{ personal_best.nMiss }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><b>Geki (Elite Beat!)</b></td>
                        <td>{{ personal_best.nGeki }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>{% if mode == 2 %}Droplet misses{% else %}Katu (Beat!){%endif%}</b></td>
                        <td>{{ personal_best.nKatu }}</td>
                    </tr>
                </tr>
                {% else %}
                <tr>
                    <tr class="row-light">
                        <td><b>MAX / 300 / 200</b></td>
                        <td>{{ personal_best.nGeki }} / {{ personal_best.n300 }} / {{ personal_best.nKatu }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><b>100 / 50 / Misses</b></td>
                        <td>{{ personal_best.n100 }} / {{ personal_best.n50 }} / {{ personal_best.nMiss }}</td>
                    </tr>
                </tr>
                {% endif %}
                <tr>
                    <tr class="row-light">
                        <td><b>Mods</b></td>
                        <td>{{ personal_best.mods|short_mods }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {% endif %}
    {% endif %}
    </div>
    {% if scores %}
    <h2>Top {{ config.SCORE_RESPONSE_LIMIT or 50 }} Scoreboard</h2>
    <table class="scores">
        <thead class="scores-header">
            <tr>
                <th></th>
                <th><b>Rank</b></th>
                <th><b>Score</b></th>
                <th><b>Accuracy</b></th>
                <th><b>Player</b></th>
                <th><b>Max Combo</b></th>
                <th><b>PP</b></th>
                {% if mode != 3 %}
                <th><b>300 / 100 / 50</b></th>
                <th><b>Geki</b></th>
                <th>
                    <b>
                        {% if mode != 2 %}
                        Katu
                        {% else %}
                        Droplet Miss
                        {% endif %}
                    </b>
                </th>
                {% else %}
                <th><b>MAX</b></th>
                <th><b>300</b></th>
                <th><b>200</b></th>
                <th><b>100</b></th>
                <th><b>50</b></th>
                {% endif %}
                <th><b>Misses</b></th>
                <th><b>Mods</b></th>
                <th><b>Version</b></th>
                {% if current_user.is_authenticated %}
                {# TODO: Report button #}
                <th>
                    {# Replay Downloads #}
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            {% if current_user.is_authenticated %}
                {% if current_user.id == score.user.id %}
                <tr class="row-self" id="{{ score.id }}">
                {% elif score.user_id in friends %}
                <tr class="row-friend" id="{{ score.id }}">
                {% elif loop.index0 % 2 %}
                <tr class="row-dark" id="{{ score.id }}">
                {% else %}
                <tr class="row-light" id="{{ score.id }}">
                {% endif %}
            {% elif loop.index0 % 2 %}
            <tr class="row-dark" id="{{ score.id }}">
            {% else %}
            <tr class="row-light" id="{{ score.id }}">
            {% endif %}
                <td><a href="#{{ loop.index0+1 }}">#{{ loop.index0+1 }}</a></td>
                <td><img src="/images/grades/{{ score.grade|upper }}_small.png" loading="lazy" alt="Grade {{ score.grade|upper }}"></td>
                <td>
                    {% if loop.index0 == 0 %}
                    <b>{{ "{:,}".format(score.total_score) }}</b>
                    {% else %}
                    {{ "{:,}".format(score.total_score) }}
                    {% endif %}
                </td>
                <td>
                    {% if score.acc == 1 %}
                    <b>{{ "{:,.2f}".format(score.acc * 100) }}%</b>
                    {% else %}
                    {{ "{:,.2f}".format(score.acc * 100) }}%
                    {% endif %}
                </td>
                <td>
                    <a class='score-flag-link' href="/rankings/{{ constants.GameMode(beatmap.mode).alias }}/performance?country={{ score.user.country }}">
                        <img src="/images/flags/{{ score.user.country|lower }}.gif" loading="lazy" alt="{{ score.user.country }} Flag" class="flag">
                    </a>
                    <a href="/u/{{ score.user.id }}">{{ score.user.name }}</a>
                </td>
                <td>
                    {% if score.max_combo == beatmap.max_combo %}
                    <b>{{ score.max_combo }}</b>
                    {% else %}
                    {{ score.max_combo }}
                    {% endif %}
                </td>
                <td>{{ score.pp|round|int }}</td>
                {% if mode != 3 %}
                <td>{{ score.n300 }} / {{ score.n100 }} / {{ score.n50 }}</td>
                <td>{{ score.nGeki }}</td>
                <td>{{ score.nKatu }}</td>
                {% else %}
                <td>{{ score.nGeki }}</td>
                <td>{{ score.n300 }}</td>
                <td>{{ score.nKatu }}</td>
                <td>{{ score.n100 }}</td>
                <td>{{ score.n50 }}</td>
                {% endif %}
                <td>{{ score.nMiss }}</td>
                <td>{{ score.mods|short_mods }}</td>
                <td>b{{ score.client_version }}</td>
                {% if current_user.is_authenticated %}
                {# Replay Downloads #}
                <td style="text-align: center;">
                    <a href="/scores/{{ score.id }}/download" target="_blank">Replay</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</div>
<script>
    function addFavorite(beatmapsetId) {
        var url = "/users/" + currentUser + "/favourites";

        performApiRequest("POST", url, {"set_id": beatmapsetId}, function(xhr) {
            var favourites = document.getElementById('favourites-button');
            favourites.innerHTML = '(Remove Favourite)';
            favourites.style.color = 'red';
            favourites.onclick = function () {
                removeFavorite(beatmapsetId);
            };
        });
    }
    
    function removeFavorite(beatmapsetId) {
        var url = "/users/" + currentUser + "/favourites/" + beatmapsetId;

        performApiRequest("DELETE", url, null, function(xhr) {
            var favourites = document.getElementById('favourites-button');
            favourites.innerHTML = '(Add Favourite)';
            favourites.style.color = 'green';
            favourites.onclick = function () {
                addFavorite(beatmapsetId);
            };
        });
    }

    function copySetId(element) {
        var set_id = element.getAttribute('setid');

        navigator.clipboard.writeText(set_id).then(function () {
            element.innerHTML = 'Copied!';
            element.style.color = 'green';
        }, function () {
            element.innerHTML = 'Failed to copy!';
            element.style.color = 'red';
        });

        setTimeout(function () {
            element.innerHTML = 'Copy Beatmapset ID';
            element.style.color = 'rgb(0, 102, 204)';
        }, 1500);
    }

    {% if beatmapset.server != 0 and beatmapset.creator_id == current_user.id %}
    function editBeatmapDescription() {
        var description = document.querySelector('.beatmap-description .bbcode');
        if (!description) { return; }

        var form = document.createElement('form');
        form.action = '/api/beatmaps/update/{{ beatmapset.id }}/description';
        form.method = 'post';

        var textarea = document.createElement('textarea');
        textarea.className = 'description-editor bbcode-editor';
        textarea.innerHTML = bbcodeDescription;
        textarea.name = 'description';
        form.appendChild(textarea);

        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrf_token';
        csrfToken.value = '{{ csrf_token() }}';
        form.appendChild(csrfToken);

        var submitButton = document.createElement('input');
        submitButton.type = 'submit';
        submitButton.value = 'Save';
        form.appendChild(submitButton);

        description.replaceWith(form);
    }

    var descriptionElements = document.querySelectorAll('.beatmap-description, .beatmap-description *');
    var bbcodeDescription = `{{ beatmapset.description }}`;

    for (var i = 0; i < descriptionElements.length; i++) {
        addEvent('dblclick', descriptionElements[i], function(event) {
            editBeatmapDescription();
        });
    }
    {% endif %}

    {% if current_user.is_bat %}
    function setBeatmapsetStatus(beatmapsetId, status, promptText) {
        if (promptText === undefined) {
            promptText = "Are you sure?";
        }

        if (!confirm(promptText)) {
            return;
        }

        performApiRequest("PATCH", "/beatmapsets/" + beatmapsetId + "/status?status=" + status, null, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }

    function updateBeatmapsetMetadata(event) {
        event.preventDefault();

        var data = convertFormToJson(event.target);
        var url = "/beatmapsets/" + data.beatmapset_id;

        performApiRequest("PATCH", url, data, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }

    function updateBeatmapStatuses(event) {
        event.preventDefault();

        var data = convertFormToJson(event.target);
        var url = "/beatmapsets/" + data.beatmapset_id + "/status/beatmaps";

        performApiRequest("PATCH", url, data, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }

    function nukeBeatmapset(beatmapsetId) {
        if (!confirm("This will fully delete the beatmap, are you sure you want to proceed?")) {
            return;
        }

        performApiRequest("POST", "/beatmapsets/" + beatmapsetId + "/nuke", null, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }

    function addNomination(beatmapsetId) {
        var url = "/beatmapsets/" + beatmapsetId + "/nominations";

        performApiRequest("POST", url, null, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }

    function resetNominations(beatmapsetId) {
        var url = "/beatmapsets/" + beatmapsetId + "/nominations";

        performApiRequest("DELETE", url, null, function(xhr) {
            location.reload();
        }, function(xhr) {
            var response = JSON.parse(xhr.responseText);
            alert(response.details);
        });
    }
    {% endif %}

    // osu.ppy.sh spoilerbox conversion
    var spoilerBoxes = document.querySelectorAll('.bbcode-spoilerbox');
    for (var i = 0; i < spoilerBoxes.length; i++) {
        spoilerBoxes[i].classList.add('spoiler');
    }

    var spoilerBoxContents = document.querySelectorAll('.bbcode-spoilerbox__body');
    for (var i = 0; i < spoilerBoxContents.length; i++) {
        spoilerBoxContents[i].classList.add('spoiler-body');
    }

    var spoilerBoxHeads = document.querySelectorAll('.bbcode-spoilerbox__link');
    for (var i = 0; i < spoilerBoxHeads.length; i++) {
        var spoilerBox = spoilerBoxHeads[i];
        
        // Change element type to div (in older versions of Chrome, use workarounds if necessary)
        var newSpoilerBox = document.createElement('div');
        newSpoilerBox.className = spoilerBox.className + ' spoiler-head';
        newSpoilerBox.innerHTML = spoilerBox.innerHTML;
        spoilerBox.parentNode.replaceChild(newSpoilerBox, spoilerBox);
        
        newSpoilerBox.onclick = function () {
            toggleSpoiler(this);
        };
    }

    // Set volume of beatmap preview to 0.5
    var beatmapPreview = document.getElementById('beatmap-preview');
    if (beatmapPreview) {
        beatmapPreview.volume = 0.5;
    }
</script>
{# TODO: Beatmap Comments #}
{% endblock content %}
