{# templates/beatmap.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    <a href="/beatmapsets">Beatmap Listing</a> »
    {{beatmapset.artist if beatmapset.artist}}
    {{' - ' if beatmapset.artist and beatmapset.title}}
    {{beatmapset.title if beatmapset.title}}
    {% if beatmapset.server == 0 %}
    <p>View on <a href="https://osu.ppy.sh/b/{{ beatmap.id }}">osu.ppy.sh</a></p>
    {% else %}
    <p>View on <a href="/forum/t/{{ beatmapset.topic_id }}">forums</a></p>
    {% endif %}
</h1>
<div class="beatmap">
    <div class="tab-list">
        <ul>
            {% for map in beatmapset.beatmaps %}
            <li class="tab-item">
                <a href="/b/{{ map.id }}" class="tab-link {{ 'active' if map.id == beatmap.id }}">
                    {% if map.diff < 2.7 %}
                        <img
                            src="/images/beatmap/difficulties/easy-{{map.mode}}.png"
                            alt=""
                        >
                    {% elif map.diff < 3.7 %}
                        <img
                            src="/images/beatmap/difficulties/normal-{{map.mode}}.png"
                            alt=""
                        >
                    {% elif map.diff < 4.5 %}
                        <img
                            src="/images/beatmap/difficulties/hard-{{map.mode}}.png"
                            alt=""
                        >
                    {% elif map.diff < 5.5 %}
                        <img
                            src="/images/beatmap/difficulties/insane-{{map.mode}}.png"
                            alt=""
                        >
                    {% else %}
                        <img
                            src="/images/beatmap/difficulties/expert-{{map.mode}}.png"
                            alt=""
                        >
                    {% endif %}
                    <span>{{map.version}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="beatmap-stats">
        {% set image_width = 14 %}
        {% set max_stars = 10 %}
        <table>
            <tr>
                <td>Artist:</td>
                <td>
                {% if beatmapset.artist %}
                    <a href="/beatmapsets?query={{ beatmapset.artist }}">{{ beatmapset.artist }}</a>
                {% endif %}
                </td>
                <td>Circle Size:</td>
                <td>
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.cs }}px"></div>
                    </div>
                </td>
                <td>Approach Rate</td>
                <td>
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.ar }}px"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Title:</td>
                <td>
                {% if beatmapset.title %}
                    <a href="/beatmapsets?query={{ beatmapset.title }}">{{ beatmapset.title }}</a>
                {% endif %}
                </td>
                <td>HP Drain:</td>
                <td>
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.hp }}px"></div>
                    </div>
                </td>
                <td><strong>Star Difficulty:</strong></td>
                <td>
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.diff }}px"></div>
                    </div>
                    ({{ beatmap.diff }})
                </td>
            </tr>
            <tr>
                <td>Creator:</td>
                <td>
                {% if beatmapset.server == 0 %}
                    <a href="https://osu.ppy.sh/u/{{ beatmapset.creator }}">{{ beatmapset.creator }}</a>
                {% else %}
                    <a href="/u/{{ beatmapset.creator_id }}">{{ beatmapset.creator }}</a>
                {% endif %}
                </td>
                <td>Accuracy:</td>
                <td>
                    <div class="starfield" style="width: {{ image_width*max_stars }}px">
                        <div class="starfield-selected" style="width: {{ image_width*beatmap.od }}px"></div>
                    </div>
                </td>
                <td><strong>Length:</strong></td>
                <td>
                    {% set minutes = beatmap.total_length // 60 %}
                    {% set seconds = beatmap.total_length % 60 %}
                    {{ minutes }}:{{ "%02d"|format(seconds) }}
                </td>
            </tr>
            <tr>
                <td>Source:</td>
                <td>
                    {% if beatmapset.source %}
                    <a href="/beatmapsets?query={{ beatmapset.source }}">{{ beatmapset.source }}</a>
                    {% endif %}
                </td>
                <td>Genre:</td>
                <td>
                    <a href="/beatmapsets?genre={{ beatmapset.genre_id }}">{{ Genre(beatmapset.genre_id).name }}</a>
                    {% if beatmapset.language_id > 1 %}
                    <a href="/beatmapsets?language={{ beatmapset.language_id }}">({{ Language(beatmapset.language_id).name }})</a>
                    {% endif %}
                </td>
                <td><strong>BPM:</strong></td>
                <td>{{ beatmap.bpm|round|int }}</td>
            </tr>
            <tr>
                <td>
                    Submitted:
                    {% if beatmapset.status > 0 %}
                    <br>{{ Status(beatmapset.status).name }}:
                    {% endif %}
                </td>
                <td>
                    {{ beatmapset.created_at.strftime('%b %d, %Y') }}
                    {% if beatmapset.status > 0 and beatmapset.approved_at %}
                    <br>{{ beatmapset.approved_at.strftime('%b %d, %Y') }}
                    {% endif %}
                </td>
                <td>Average Rating:</td>
                <td>
                    {# TODO: Create rating graph #}
                    {% if beatmapset.ratings %}
                    {{ beatmapset.ratings | sum(attribute='rating') / beatmapset.ratings | count }}
                    {% else %}
                    Nobody has rated this map yet... ):
                    {% endif %}
                </td>
                <td>
                    <strong>Favourited {{ favourites_count }} times</strong> in total
                </td>
                <td id="favourites">
                    {% if favourites_count > 0 %}
                        Users that love this map:<br>
                        {% for favourite in favourites %}
                        <a href="/u/{{ favourite.user_id }}">
                            {{ favourite.user.name}}{{', ' if favourite != favourites[-1]}}
                        </a>
                        {% endfor %}
                        {% if favourites_count > 5 %}
                        <strong>and many more!</strong>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if nominations or beatmapset.status <= 0 %}
            <tr>
                <td>Nominators:</td>
                <td colspan="3">
                    {% if not nominations %}
                    <p>No one has nominated this map yet.</p>
                    {% else %}
                    <div>
                        {% for nomination in nominations %}
                        <a href="/u/{{ nomination.user_id }}">{{ nomination.user.name }}</a>{% if loop.index0 != nominations|length - 1 %},{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>Links:</td>
                <td>
                    {% if beatmapset.server == 0 %}
                    <p>View on <a href="https://osu.ppy.sh/b/{{ beatmap.id }}">osu.ppy.sh</a></p>
                    {% else %}
                    <p>View on <a href="/forum/t/{{ beatmapset.topic_id }}">forums</a></p>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>
        {% if current_user.is_bat %}
        <div class="bat-controls">
            <details {% if bat_error or bat_info %}open{% endif %}>
                <summary>BAT Controls</summary>
                {% if bat_error %}
                <div id="error">
                    {{ bat_error }}
                </div>
                {% endif %}
                {% if bat_info %}
                <div id="info">
                    {{ bat_info }}
                </div>
                {% endif %}
                <table>
                    <thead>
                        <th><h2>General</h2></th>
                        <th><h2>Ranking</h2></th>
                    </thead>
                    <tbody>
                        <td style="width: 50%">
                            <form action="/api/beatmaps/update" method="post">
                                <dl>
                                    <dt>Offset:</dt>
                                    <dd>
                                        <input type="text" name="offset" value="{{ beatmapset.offset }}" size="6">
                                    </dd>
                                    <dt>Display Title:</dt>
                                    <dd>
                                        <textarea name="display_title">{{ beatmapset.display_title }}</textarea>
                                    </dd>
                                    <dt>Genre:</dt>
                                    <dd>
                                        <select name="genre">
                                            {% for genre in constants.BeatmapGenre.values() %}
                                            <option value="{{ genre }}" {% if beatmapset.genre_id == genre %}selected{% endif %}>{{ constants.BeatmapGenre(genre).name }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dt>Language:</dt>
                                    <dd>
                                        <select name="language">
                                            {% for language in constants.BeatmapLanguage.values() %}
                                            <option value="{{ language }}" {% if beatmapset.language_id == language %}selected{% endif %}>{{ constants.BeatmapLanguage(language).name }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dt>Tags:</dt>
                                    <dd>
                                        <textarea name="tags">{{ beatmapset.tags or '' }}</textarea>
                                    </dd>
                                </dl>
                                <input type="submit" value="Save">
                                <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                            </form>
                        </td>
                        <td>
                            <p>
                                The current status of this beatmap is "{{ constants.DatabaseStatus(beatmapset.status).name }}".
                                {% if nominations|length >= beatmapset|required_nominations and beatmapset.status <= 0 %}
                                This beatmap has enough nominations to be qualified!
                                {% endif %}
                            </p><br>
                            {% if beatmapset.status <= 0 %}
                            {# Beatmap is not ranked #}
                            <div>
                                {% if not bat_nomination %}
                                <a href="/api/beatmaps/nominations/{{ beatmapset.id }}/add" style="color: green;">
                                    Nominate this beatmap
                                    (Bubble)
                                </a><br>
                                {% else %}
                                <p style="color: green;">
                                    You have nominated this beatmap
                                    (Bubbled)
                                </p>
                                {% endif %}
                                <a onclick="confirmRedirect('/api/beatmaps/nominations/{{ beatmapset.id }}/reset')" style="color: red;">
                                    Remove all nominations from this beatmap
                                    (Pop Bubble)
                                </a>
                            </div><br>
                            <div>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=3')">
                                    Update status to "Qualified"
                                </a><br>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=2')">
                                    Update status to "Approved"
                                </a><br>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=4')">
                                    Update status to "Loved"
                                </a><br>
                                {% if beatmapset.server != 0 %}
                                <a onclick="confirmRedirect('/api/beatmaps/{{ beatmapset.id }}/nuke')" style="color: red">
                                    Nuke this beatmap
                                </a><br>
                                {% endif %}
                            </div><br>
                            {% elif beatmapset.status in (1, 2) %}
                            <div>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=0')" style="color: red;">
                                    Unrank this beatmap
                                </a>
                            </div>
                            {% elif beatmapset.status == 3 %}
                            <div>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=0')" style="color: red;">
                                    Disqualify this beatmap
                                </a>
                            </div>
                            {% elif beatmapset.status == 4 %}
                            <div>
                                <a onclick="confirmRedirect('/api/beatmaps/status/{{ beatmapset.id }}/update?status=0')" style="color: red;">
                                    Remove from "Loved" category
                                </a>
                            </div>
                            {% endif %}
                            {% if beatmapset.server != 1 %}
                            <div>
                                <a href="/api/beatmaps/update/{{ beatmapset.id }}/hashes">Update beatmap hashes</a>
                            </div><br>
                            {% endif %}
                            <details>
                                <summary>Difficulty Status Updates</summary><br>
                                <form action="/api/beatmaps/status/difficulty" method="post">
                                    <div class="bat-diffs">
                                        {% for beatmap in beatmapset.beatmaps %}
                                        <div>
                                            <dt>{{ beatmap.version }}</dt>
                                            <dd>
                                                <select name="status-{{ beatmap.id }}">
                                                    {% for status in constants.DatabaseStatus.values() %}
                                                    <option value="{{ status }}" {% if beatmap.status == status %}selected{% endif %}>{{ constants.DatabaseStatus(status).name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </dd>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <input type="submit" value="Update">
                                    <input type="hidden" name="beatmapset_id" value="{{ beatmapset.id }}">
                                </form>
                            </details>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </details>
        </div>
    </div>
    {% endif %}
    <div class="padding">
        <div class="beatmap-download">
            {% if current_user.id %}
                <a href="/beatmapsets/download/{{ beatmapset.id }}" target="_blank">
                    <img src="/images/beatmap/osu-download-beatmap.png" alt="Download">
                </a>
                {% if beatmapset.has_video %}
                    <a href="/beatmapsets/download/{{ beatmapset.id }}?novideo=True" target="_blank">
                        <img src="/images/beatmap/osu-download-beatmap-novid.png" alt="Download without Video">
                    </a>
                {% endif %}
            {% else %}
                <a href="#" onclick='return showLoginForm();'>
                    <img src="/images/beatmap/osu-download-login.png" alt="Login to download Beatmaps"/>
                </a>
            {% endif %}
        </div>
        <div class="beatmap-description" title="Play Song">
            <a onclick="resetOrPlayAudio('beatmap-preview')">
                <img src="{{ config.STATIC_BASEURL }}/mt/{{ beatmapset.id }}l" alt="">
                <audio id="beatmap-preview" src="{{ config.STATIC_BASEURL }}/mp3/preview/{{ beatmapset.id }}.mp3" preload="auto"></audio>
            </a>
            {% if beatmapset.description %}
                {# NOTE: Small workaround for existsing html-bbcode #}
                {% if beatmapset.server != 0 %}
                    {{ beatmapset.description|bbcode|safe }}
                {% else %}
                    {{ beatmapset.description|safe }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if beatmapset.status > 0 %}
    <div class="tab-list">
        <ul>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=0" class="tab-link {{ 'active' if mode == 0 }}">
                    osu! Standard
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=1" class="tab-link {{ 'active' if mode == 1 }}">
                    Taiko
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=2" class="tab-link {{ 'active' if mode == 2 }}">
                    Catch The Beat
                </a>
            </li>
            <li class="tab-item">
                <a href="/b/{{beatmap.id}}?mode=3" class="tab-link {{ 'active' if mode == 3 }}">
                    osu!mania
                </a>
            </li>
        </ul>
    </div>
    <div class="score-header">
    {% if not scores %}
        <b>No records have been set for this game mode yet!</b>
    {% else %}
        {% set leader_score = scores[0] %}
        <table class="leader">
            <tbody>
                <tr>
                    <td class="row-title" colspan="3">
                        <a href="/rankings/{{ constants.GameMode(beatmap.mode).alias }}/performance?country={{ leader_score.user.country }}">
                            <img src="/images/flags/{{ leader_score.user.country|lower }}.gif" loading="lazy" alt="" class="flag">
                        </a>
                        <a href="/u/{{ leader_score.user.id }}">{{ leader_score.user.name }}</a> is in the lead!
                        ({{ leader_score.submitted_at|timeago }})
                    </td>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><strong>Score</strong></td>
                        <td>{{ "{:,}".format(leader_score.total_score) }} ({{ (leader_score.acc * 100)|round(2) }}%)</td>
                        <td class="row-grade" colspan="1" rowspan="13">
                            <img src="/images/grades/{{ leader_score.grade|upper }}.png" loading="lazy" alt="">
                        </td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>Max Combo</strong></td>
                        <td>{{ leader_score.max_combo }}</td>
                    </tr>
                </tr>
                {% if mode != 3 %}
                <tr>
                    <tr class="row-light">
                        <td><strong>300 / 100 / 50</strong></td>
                        <td>{{ leader_score.n300 }} / {{ leader_score.n100 }} / {{ leader_score.n50 }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>Misses</strong></td>
                        <td>{{ leader_score.nMiss }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><strong>Geki (Elite Beat!)</strong></td>
                        <td>{{ leader_score.nGeki }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>{% if mode == 2 %}Droplet misses{% else %}Katu (Beat!){%endif%}</strong></td>
                        <td>{{ leader_score.nKatu }}</td>
                    </tr>
                </tr>
                {% else %}
                <tr>
                    <tr class="row-light">
                        <td><strong>MAX / 300 / 200</strong></td>
                        <td>{{ leader_score.nGeki }} / {{ leader_score.n300 }} / {{ leader_score.nKatu }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="dark-light">
                        <td><strong>100 / 50 / Misses</strong></td>
                        <td>{{ leader_score.n100 }} / {{ leader_score.n50 }} / {{ leader_score.nMiss }}</td>
                    </tr>
                </tr>
                {% endif %}
                <tr>
                    <tr class="row-light">
                        <td><strong>Mods</strong></td>
                        <td>{{ leader_score.mods|short_mods }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {% if personal_best %}
        <table class="leader">
            <tbody>
                <tr>
                    <td class="row-title" colspan="3">
                        Personal Best (#{{ personal_best_rank }} achieved {{ personal_best.submitted_at|timeago }})
                    </td>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><strong>Score</strong></td>
                        <td>{{ "{:,}".format(personal_best.total_score) }} ({{ (personal_best.acc * 100)|round(2) }}%)</td>
                        <td class="row-grade" colspan="1" rowspan="13">
                            <img src="/images/grades/{{ personal_best.grade|upper }}.png" loading="lazy" alt="">
                        </td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>Max Combo</strong></td>
                        <td>{{ personal_best.max_combo }}</td>
                    </tr>
                </tr>
                {% if mode != 3 %}
                <tr>
                    <tr class="row-light">
                        <td><strong>300 / 100 / 50</strong></td>
                        <td>{{ personal_best.n300 }} / {{ personal_best.n100 }} / {{ personal_best.n50 }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>Misses</strong></td>
                        <td>{{ personal_best.nMiss }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-light">
                        <td><strong>Geki (Elite Beat!)</strong></td>
                        <td>{{ personal_best.nGeki }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="row-dark">
                        <td><strong>{% if mode == 2 %}Droplet misses{% else %}Katu (Beat!){%endif%}</strong></td>
                        <td>{{ personal_best.nKatu }}</td>
                    </tr>
                </tr>
                {% else %}
                <tr>
                    <tr class="row-light">
                        <td><strong>MAX / 300 / 200</strong></td>
                        <td>{{ personal_best.nGeki }} / {{ personal_best.n300 }} / {{ personal_best.nKatu }}</td>
                    </tr>
                </tr>
                <tr>
                    <tr class="dark-light">
                        <td><strong>100 / 50 / Misses</strong></td>
                        <td>{{ personal_best.n100 }} / {{ personal_best.n50 }} / {{ personal_best.nMiss }}</td>
                    </tr>
                </tr>
                {% endif %}
                <tr>
                    <tr class="row-light">
                        <td><strong>Mods</strong></td>
                        <td>{{ personal_best.mods|short_mods }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {% endif %}
    {% endif %}
    </div>
    {% if scores %}
    <h2>Top 50 Scoreboard</h2>
    <table class="scores">
        <thead class="scores-header">
            <tr>
                <th></th>
                <th><strong>Rank</strong></th>
                <th><strong>Score</strong></th>
                <th><strong>Accuracy</strong></th>
                <th><strong>Player</strong></th>
                <th><strong>Max Combo</strong></th>
                <th><strong>PP</strong></th>
                {% if mode != 3 %}
                <th><strong>300 / 100 / 50</strong></th>
                <th><strong>Geki</strong>
                </th>
                <th>
                    <strong>
                        {% if mode != 2 %}
                        Katu
                        {% else %}
                        Droplet Miss
                        {% endif %}
                    </strong>
                </th>
                {% else %}
                <th><strong>MAX</strong></th>
                <th><strong>300</strong></th>
                <th><strong>200</strong></th>
                <th><strong>100</strong></th>
                <th><strong>50</strong></th>
                {% endif %}
                <th><strong>Misses</strong></th>
                <th><strong>Mods</strong></th>
                {% if not current_user.is_anonymous %}
                {# TODO: Report button #}
                <th>
                    {# Replay Downloads #}
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {# TODO: Highlight row if user is friend #}
        {% for score in scores %}
            {% if loop.index0 % 2 %}
            <tr class="row-light" id="{{ score.id }}">
            {% else %}
            <tr class="row-dark" id="{{ score.id }}">
            {% endif %}
                <td><a href="#{{ loop.index0+1 }}">#{{ loop.index0+1 }}</a></td>
                <td><img src="/images/grades/{{ score.grade|upper }}_small.png" loading="lazy" alt="{{ score.grade|upper }}"></td>
                <td>
                    {% if loop.index0 == 0 %}
                    <strong>{{ "{:,}".format(score.total_score) }}</strong>
                    {% else %}
                    {{ "{:,}".format(score.total_score) }}
                    {% endif %}
                </td>
                <td>
                    {% if score.acc == 1 %}
                    <strong>{{ (score.acc * 100)|round(2) }}%</strong>
                    {% else %}
                    {{ (score.acc * 100)|round(2) }}%
                    {% endif %}
                </td>
                <td>
                    <a href="/rankings/{{ constants.GameMode(beatmap.mode).alias }}/performance?country={{ score.user.country }}">
                        <img src="/images/flags/{{ score.user.country|lower }}.gif" loading="lazy" alt="" class="flag">
                    </a>
                    <a href="/u/{{ score.user.id }}">{{ score.user.name }}</a>
                </td>
                <td>
                    {% if score.max_combo == beatmap.max_combo %}
                    <strong>{{ score.max_combo }}</strong>
                    {% else %}
                    {{ score.max_combo }}
                    {% endif %}
                </td>
                <td>{{ score.pp|round|int }}</td>
                {% if mode != 3 %}
                <td>{{ score.n300 }} / {{ score.n100 }} / {{ score.n50 }}</td>
                <td>{{ score.nGeki }}</td>
                <td>{{ score.nKatu }}</td>
                {% else %}
                <td>{{ score.nGeki }}</td>
                <td>{{ score.n300 }}</td>
                <td>{{ score.nKatu }}</td>
                <td>{{ score.n100 }}</td>
                <td>{{ score.n50 }}</td>
                {% endif %}
                <td>{{ score.nMiss }}</td>
                <td>{{ score.mods|short_mods }}</td>
                {% if not current_user.is_anonymous %}
                {# Replay Downloads #}
                <td style="text-align: center;">
                    <a href="/scores/{{ score.id }}/download" target="_blank">Replay</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</div>
{# TODO: Beatmap Comments #}
{% endblock content %}
