{# templates/download.html #}

{% extends "base.html" %}

{% block content %}
<div class="heading">
    <h2>Let's get you started!</h2>
    <p>Please choose a version that you want to play on! (Scroll to view more)</p>
</div>
<div id="client-container">
    <noscript>Please enable javascript to load this page!</noscript>
</div>
<div class="bottom-text">
    <p>
        Want to request a version you want to play? Feel free to ask inside the
        <a href="https://discord.gg/qupv72e7YH">Discord</a>
        or request one on
        <a href="https://github.com/osuTitanic/clients/issues/new/choose">GitHub</a>.
        Looking for modded clients? Check out the <a href="/forum/23">modding forum</a>.
    </p>
</div>
<script src="/js/download.js"></script>
{% endblock content %}