{# templates/download.html #}

{% extends "base.html" %}

{% block content %}
<!-- CSS fixes for Internet Explorer -->
<!--[if IE 6]>
<style>
    .client img {
        height: 200px;
    }
</style>
<![endif]-->
<div class="heading">
    <h1>Let's get you started</h1>
    <p>Start by choosing a category below!</p>
</div>
<div class="category-wrapper">
{% for (category, clients) in releases.items() %}
    {% if category.isdigit() %}
    <a class="category {{ 'selected' if loop.index0 == 0 else '' }}"
       onclick="displayCategory('{{ category }}')"
       href="javascript:void(0);">{{ category }}</a>
    {% endif %}
{% endfor %}
</div>
<div class="client-wrapper">
{% for (category, clients) in releases.items() %}
    <div class="client-container" style="{{ 'display: none' if loop.index0 != 0 else 'display: block' }}" id="{{ category }}">
    {% for client in clients %}
        {% set display_client = (
            client.supported and
            client.downloads and
            not client.preview
        ) %}

        {% if display_client %}
        <div class="client">
            {% if client.known_bugs %}
            <div class="known-bugs" title="{{ client.known_bugs }}">
                <i class="fa-solid fa-triangle-exclamation" style="color: rgb(196, 9, 0);"></i>
            </div>
            {% endif %}
            <p class="version">{{ client.name }}</p>
            {% if client.description %}
            <p class="description">{{ client.description }}</p>
            {% endif %}
            <div style="text-align: center">
                {% if client.screenshots %}
                <img src="{{ client.screenshots|first }}" alt="" loading="lazy">
                {% endif %}
            </div>
            <a class="download-link" href="{{ client.downloads[0] }}">Download</a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>
<div class="bottom-text">
    <p>
        Want to request a version you want to play? Feel free to ask inside the
        <a href="https://discord.gg/qupv72e7YH">Discord</a>
        or request one on the
        <a href="/forum/6">Feature Requests forum</a> forum.<br>
        Looking for modded clients? Check out the <a href="/forum/23">modding forum</a>.
    </p>
    <br>
    <h2>Legal Disclaimer</h2>
    <p>
        <a href="https://osu.ppy.sh/">osu!</a> is a registered trademark of <a href="https://ppy.sh/">ppy Pty Ltd</a>. This site is not affiliated with or endorsed by ppy.
        All provided clients are unofficial, unlicensed, and unsupported by ppy Pty Ltd, and are offered “as is.” Use them at your own risk. <br>
        ppy Pty Ltd shall direct any and all DMCA takedown notices concerning this distribution to <a href="mailto:dmca@titanic.sh">dmca@titanic.sh</a>.
    </p>
    <br>
</div>
<script src="{{ '/js/download.js'|cached_url }}"></script>
{% if is_modern_browser %}
<script>
    // Replace current download URLs from cdn.titanic.sh -> s3.titanic.sh
    // if we are on a modern browser that supports https
    addEventListener("DOMContentLoaded", resolveDirectDownloadLinks);
</script>
{% endif %}
{% endblock content %}