{# templates/download.html #}

{% extends "base.html" %}

{% block content %}
<div class="heading">
    <h2>Let's get you started!</h2>
    <p>Please choose a version that you want to play on!</p>
</div>
<div id="client-container">
    <noscript>Please enable javascript to load this page!</noscript>
</div>
<div class="bottom-text">
    <p>
        Want to play a specific version? Feel free to join the
        <a href="https://discord.gg/qupv72e7YH">Discord</a>
        or request one directly on
        <a href="https://github.com/osuTitanic/clients/issues/new/choose">GitHub</a>.
    </p>
</div>
<div class="heading" style="margin-top: 15px;">
    <h2 id="registration">Registration</h2>
    <p>
        This website is currently in development, and it doesn't have registration functionality yet.
        Please register on our <a href="https://discord.gg/qupv72e7YH">discord</a> server for now!
    </p>
</div>
<script src="/js/download.js"></script>
{% endblock content %}