{# templates/editor.html #}

<p class="bbcode-help">
    This section is formatted in bbcode. Learn more about it <a href="https://osu.ppy.sh/wiki/en/BBCode">here</a>!
</p>
<textarea class="bbcode-editor" name="bbcode" style="resize: none; min-height: {{ context['min-height'] }};">
{%- if context['current'] -%}
    {{ context['current'] | replace('\\r\\n', '\n') | replace('\\n', '\\n') }}
{%- endif -%}
</textarea><br>

{% if context['notify'] %}
<div style="margin: 5px">
    <input type="checkbox" class="radio" name="notify">
    <label for="notify">Notify me when a reply is posted</label>
    <input type="hidden" name="user_id" value="{{ context['user-id'] }}">
</div>
{% endif %}

<div class="post-buttons" style="justify-content: flex-start;">
    <input type="submit" value="{{ context['submit-text'] }}" class="button-blue">
    <button class="bbcode-preview-button button-blue" onclick="return loadBBCodePreview(this)">Preview</button>
</div>

{% if context['current'] %}
    <div class="bbcode-preview bbcode">
        {{ context['current']|bbcode_nowrap|safe }}
    </div>
{% endif %}
