{# templates/editor.html #}

<p id="bbcode-help">
    This section is formatted in bbcode. Learn more about it <a href="https://osu.ppy.sh/wiki/en/BBCode">here</a>!
</p>
<textarea class="bbcode-editor" name="bbcode" style="resize: {{ context['resize'] or 'none' }}; min-height: {{ context['min-height'] }};">
{%- if context['current'] -%}
    {{ context['current'] | replace('\\r\\n', '\n') | replace('\\n', '\\n') }}
{%- endif -%}
</textarea><br>

{% if context['forum-controls'] %}
<div style="margin: 12px; float: right; text-align: right; font-size: 90%">
    <input type="checkbox"
           class="radio"
           name="notify"
           {% if is_subscribed %}
           checked="checked"
           {% endif %}>

    <label for="notify">
        Notify me when a reply is posted
    </label>

    {% if topic and current_user.is_moderator %}
        <div style="margin-top: 5px">
            <input type="checkbox"
            class="radio"
            name="locked"
            {% if topic.locked_at %}
            checked="checked"
            {% endif %}>

            <label for="locked">
                Lock this topic
            </label>
        </div>

        {% if action == 'edit' %}
        {% set post = repositories.posts.fetch_one(action_id) %}
        <div style="margin-top: 5px">
            <input type="checkbox"
                class="radio"
                name="edit-locked"
                {% if post.edit_locked %}
                checked="checked"
                {% endif %}>

            <label for="edit-locked">
                Lock this post
            </label>
        </div>
        {% endif %}
    {% endif %}

    {% if current_user.is_moderator and context['topic-controls'] %}
        <div style="margin-bottom: 10px; margin-top: 10px">
            Post topic as:
            <input type="radio" name="type" value="global" id="global" {% if topic_type == 'global' %} checked {% endif %}>
            <label for="global">Global</label>
            <input type="radio" name="type" value="pinned" id="pinned" {% if topic_type == 'pinned' %} checked {% endif %}>
            <label for="pinned">Pinned</label>
            <input type="radio" name="type" value="announcement" id="announcement" {% if topic_type == 'announcement' %} checked {% endif %}>
            <label for="announcement">Announcement</label>
        </div>
    {% endif %}
</div>
{% endif %}

{% if beatmapset and beatmapset.creator_id != current_user.id %}
<div style="font-size: 90%; padding: 5px; margin-top: 6px">
    You will gain <b>{{ 1 if datetime.now() - topic.last_post_at < timedelta(days=7) else 2 }} kudosu</b>
    for this post if it is deemed as helpful by the map's creator.
</div>
{% endif %}

<input type="hidden" name="user_id" value="{{ context['user-id'] }}">
<div class="post-buttons" style="justify-content: flex-start;">
    <input type="submit" value="{{ context['submit-text'] }}" class="button-blue">
    <button class="bbcode-preview-button button-blue" onclick="return loadBBCodePreview(this)">Preview</button>
    {% if context['cancel'] %}
        <a href="../" class="button-red">Cancel</a>
    {% endif %}
    {% if context['draft'] %}
        <input formaction="../draft"
               class="button-grey"
               type="submit"
               value="Save Draft">
    {% endif %}
</div>

{% if context['current'] %}
    <div class="bbcode-preview bbcode">
        {{ context['current']|bbcode_nowrap|safe }}
    </div>
{% endif %}
