{# templates/editor.html #}

<div id="editor-wrapper">
    <div id="bbcode-toolbar">
        <button data-bbcode-tag="b"><b>B</b></button>
        <button data-bbcode-tag="i"><i>i</i></button>
        <button data-bbcode-tag="u"><u>u</u></button>
        <button data-bbcode-tag="centre"><p>Centre</p></button>
        <button data-bbcode-tag="strike"><p>Strike</p></button>
        <button data-bbcode-tag="heading"><p>Heading</p></button>
        <button data-bbcode-tag="code"><p>Code</p></button>
        <button data-bbcode-tag="img" data-property=""><p>Image</p></button>
        <button data-bbcode-tag="url" data-property=""><u>URL</u></button>
        <button data-bbcode-tag="list"><p>Unordered List</p></button>
        <button data-bbcode-tag="list" data-property=""><p>Ordered List</p></button>
        <button data-bbcode-tag="*" data-no-close><p>[*]</p></button>
        <button data-bbcode-tag="profile" data-property="user-id"><p>Profile</p></button>
        <button data-bbcode-tag="video"><p>Video</p></button>
        <button data-bbcode-tag="quote" data-property="username"><p>Quote</p></button>
        <button data-bbcode-tag="size" data-property="150"><p>Size</p></button>
        <button data-bbcode-tag="email" data-property="user@example.com"><p>E-Mail</p></button>
        <button data-bbcode-tag="google"><p>Google</p></button>
        <button data-bbcode-tag="youtube"><p>YouTube</p></button>
        <button data-bbcode-tag="box" data-property="Box"><p>Box</p></button>
        <button data-bbcode-tag="color" data-property="red"><p>Color</p></button>
        <button data-bbcode-tag="spoilerbox"><p>Spoiler</p></button>
    </div>
    <p id="bbcode-help">
        This section is formatted in bbcode. Learn more about it <a href="https://osu.ppy.sh/wiki/en/BBCode">here</a>!
    </p>
    <textarea class="bbcode-editor" name="bbcode" style="resize: {{ context['resize'] or 'none' }}; min-height: {{ context['min-height'] }};">
    {%- if context['current'] -%}
        {{ context['current'] | replace('\\r\\n', '\n') | replace('\\n', '\\n') }}
    {%- endif -%}
    </textarea><br>
</div>

{% if context['forum-controls'] %}
<div style="margin: 12px; float: right; text-align: right; font-size: 90%">
    {% if current_user.is_admin and action != 'edit' and topic %}
    <div style="margin-bottom: 8px">
        Status:
        <input type="text"
               name="topic-status"
               value="{{ topic.status_text or '' }}"
               style="min-width: 300px"
               class="nav-search">
    </div>
    {% endif %}

    <input type="checkbox"
           class="radio"
           name="notify"
           {% if is_subscribed %}
           checked="checked"
           {% endif %}>

    <label for="notify">
        Notify me when a reply is posted
    </label>

    {% if topic and current_user.is_moderator %}
        {% if action != 'edit' %}
            <div style="margin-top: 5px">
                <input type="checkbox"
                    class="radio"
                    name="locked"
                    {% if topic.locked_at %}
                    checked="checked"
                    {% endif %}>

                <label for="locked">
                    Lock this topic
                </label>
            </div>
        {% else %}
            {% set post = repositories.posts.fetch_one(action_id) %}
            <div style="margin-top: 5px">
                <input type="checkbox"
                    class="radio"
                    name="edit-locked"
                    {% if post.edit_locked %}
                    checked="checked"
                    {% endif %}>

                <label for="edit-locked">
                    Lock this post
                </label>
            </div>
        {% endif %}
    {% endif %}

    {% if current_user.is_moderator and context['topic-controls'] %}
        <div style="margin-bottom: 10px; margin-top: 10px">
            Post topic as:
            <input type="radio" name="type" value="global" id="global" {% if topic_type == 'global' %} checked {% endif %}>
            <label for="global">Global</label>
            <input type="radio" name="type" value="pinned" id="pinned" {% if topic_type == 'pinned' %} checked {% endif %}>
            <label for="pinned">Pinned</label>
            <input type="radio" name="type" value="announcement" id="announcement" {% if topic_type == 'announcement' %} checked {% endif %}>
            <label for="announcement">Announcement</label>
        </div>
    {% endif %}
</div>
{% endif %}

{% if beatmapset and beatmapset.creator_id != current_user.id %}
<div style="font-size: 90%; padding: 5px; margin-top: 6px">
    You will gain <b>{{ 1 if datetime.now() - topic.last_post_at < timedelta(days=7) else 2 }} kudosu</b>
    for this post if it is deemed as helpful by the map's creator.
</div>
{% if current_user.is_bat %}
<div style="font-size: 90%; padding: 5px;">
    Please note that changing the icon <i><b>won't</b></i> affect the status of the map.
    Instead, please do so in the <a href="/s/{{ beatmapset.id }}">BAT Controls</a> panel.
    The icon will automatically update.
</div>
{% endif %}
{% endif %}

<input type="hidden" name="user_id" value="{{ context['user-id'] }}">
<div class="post-buttons" style="justify-content: flex-start;">
    <input type="submit" value="{{ context['submit-text'] }}" class="button-blue">
    <button class="bbcode-preview-button button-blue" onclick="return loadBBCodePreview(this)">Preview</button>
    {% if context['cancel'] %}
        <a href="../" class="button-red">Cancel</a>
    {% endif %}
    {% if context['draft'] %}
        <input formaction="../draft"
               class="button-grey"
               type="submit"
               value="Save Draft">
    {% endif %}
</div>

{% if context['current'] %}
    <div class="bbcode-preview bbcode">
        {{ context['current']|bbcode_nowrap|safe }}
    </div>
{% endif %}
