{# templates/activity.html #}

{% extends "base.html" %}

{% block content %}
    <div class="heading">
        <h1>Activity Feed</h1>
        <p>
            Keep up with what's going on in Titanic!
            Inspired by the <a href="https://osu.ppy.sh/p/events">original page</a>.
        </p>
    </div>
    {% if not current_user.is_authenticated %}
    <p id="status-text">Please log in to view the activity feed!</p>
    {% else %}
    <p id="status-text">Loading...</p>
    <div id="activity-feed-container" data-ws-endpoint="{{ websocket_endpoint }}"></div>
    <noscript>
        <p id="status-text">Please enable JavaScript to view the activity feed!</p>
    </noscript>
    <script src="{{ '/js/events.js'|cached_url }}"></script>
    {% endif %}
{% endblock content %}