{# templates/group.html #}

{% extends 'base.html' %}

{% block content %}
<div class="group-head">
    <h1 class="group-header">{{ group.name }}</h1>
    {% if group.description %}
    <div class="group-description">{{ group.description }}</div>
    {% endif %}
</div>
{% if users %}
    <div class="group-users">
        {% for user in users %}
        <div class="user">
            <a href="/u/{{ user.id }}">
                <div class="username-wrapper">
                    <div class="username">{{ user.name }}</div>
                    <div class="flag">
                        <img src="/images/flags/{{ user.country|lower }}.gif" loading="lazy" alt="{{ user.country }} Flag">
                    </div>
                </div>
                <div class="avatar">
                    <img src="{{ user|avatar_url }}" alt="">
                </div>
                {% if user.title %}
                <div class="user-title">{{ user.title }}</div>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>nobody seems to be in this group :(</div>
{% endif %}
{% endblock content %}
