{# templates/navigation.html #}

{# Mobile-specific Navigation #}
<div class="nav-mobile-header">
    <a href="/" class="nav-mobile-brand" aria-label="Home">
        <img src="{{ '/images/logo/main-transparent-vector.svg'|cached_url }}" loading="eager" fetchpriority="high" class="nav-mobile-logo" width="48" height="48" alt="">
    </a>
    <div class="nav-mobile-stats">
        <span><b>{{ "{:,}".format(total_users) }}</b> users, <b>{{ "{:,}".format(online_users) }}</b> online now.</span>
        <span>A total of <b>{{ "{:,}".format(total_scores) }}</b> plays!</span>
    </div>
    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="site-navigation">
        <span class="nav-toggle-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Toggle navigation</span>
    </button>
</div>

{# Desktop/Mobile Navigation #}
<ul class="nav-list" id="site-navigation">
    <li class="nav-element">
        <a href="/">Home</a>
    </li>
    <li class="nav-element">
        <a href="/download/">Download</a>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/beatmapsets/">
            Beatmaps
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/beatmapsets/?category=2" data-instant>Ranked</a>
                <a href="/beatmapsets/?category=5" data-instant>Approved</a>
                <a href="/beatmapsets/?category=4" data-instant>Loved</a>
                <a href="/beatmapsets/packs/">Beatmap Packs</a>
            </li>
        </ul>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/rankings/{{ user_preferred_mode or 'osu' }}/performance">
            Rankings
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/performance">Performance</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/country">Countries</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/rscore">Ranked Score</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/tscore">Total Score</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/ppv1">PPv1</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/clears">Clears</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/leader">First Places</a>
                <a href="/rankings/kudosu">Kudosu</a>
            </li>
        </ul>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/forum/">
            Community
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/forum/">Forums</a>
                <a href="/account/chat">Chat</a>
                <a href="https://discord.gg/qupv72e7YH">Discord</a>
                <a href="/wiki/">Wiki</a>
                <a href="/wiki/en/Rules">Rules</a>
                <a href="/events">Activity Feed</a>
            </li>
        </ul>
    </li>
</ul>
