{# templates/navigation.html #}

<ul class="nav-list">
    <li class="nav-element">
        <a href="/">Home</a>
    </li>
    <li class="nav-element">
        <a href="/download">Download</a>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/beatmaps/search">
            Beatmaps
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/beatmaps/search?r=1">Ranked</a>
                <a href="/beatmaps/search?r=2">Approved</a>
                <a href="/beatmaps/search?r=3">Loved</a>
                <a href="/beatmaps/packs">Beatmap Packs</a>
            </li>
        </ul>
    </li>
    <li class="nav-element">
        <a href="/rankings/{{ user_preferred_mode or 'osu' }}/performance">Rankings</a>
    </li>
    <li class="nav-element">
        <a href="/forum">Community</a>
    </li>
    <li class="nav-element">
        <a href="/faq">Help</a>
    </li>
</ul>
