{# templates/navigation.html #}

<ul class="nav-list">
    <li class="nav-element">
        <a href="/">Home</a>
    </li>
    <li class="nav-element">
        <a href="/download">Download</a>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/beatmapsets">
            Beatmaps
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/beatmapsets?category=2">Ranked</a>
                <a href="/beatmapsets?category=5">Approved</a>
                <a href="/beatmapsets?category=4">Loved</a>
                <a href="/beatmapsets/packs">Beatmap Packs</a>
            </li>
        </ul>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/rankings/{{ user_preferred_mode or 'osu' }}/performance">
            Rankings
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/performance">Performance</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/country">Countries</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/rscore">Ranked Score</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/tscore">Total Score</a>
                <a href="/rankings/{{ user_preferred_mode or 'osu' }}/ppv1">PPv1</a>
            </li>
        </ul>
    </li>
    <li class="nav-element nav-element-dropdown">
        <a href="/forum">
            Community
            <img class="dropdown-indicator" src="/images/arrow-white-highlight.png" alt="»">
        </a>
        <ul class="nav-dropdown">
            <li>
                <a href="/forums">Forums</a>
                <a href="https://discord.gg/qupv72e7YH">Discord</a>
            </li>
        </ul>
    </li>
    <li class="nav-element">
        <a href="/faq">Help</a>
    </li>
</ul>
