{# templates/beatmap_packs.html #}

{% extends "base.html" %}

{% block content %}
<h1>
    Beatmap Pack Listing
</h1>
<div class="pack-container">
    <div>
        <h2>
            Before Downloading
        </h2>
        <p>
            Installation: Once a pack has been downloaded, extract the .zip into your osu! Songs directory.
            All songs are still .zip'd and/or .osz'd inside the pack, so osu! will need to extract the beatmaps itself the next time you go into Play mode.
            Do <b>NOT</b> extract the zip's/osz's yourself, or the beatmaps will display incorrectly in osu and will not function properly.
        </p>
        <br>
        <p>
            Also note that it is highly recommended to <b>download the packs from latest to earliest</b>, since the oldest maps are of much lower quality than most recent maps.
        </p>
    </div>
    {% if not categories %}
    <br>
    <b>
        It seems like no beatmap packs currently exist. Please check back later!
    </b>
    {% else %}
    <br>
    <div class="pack-categories">
        <ul>
            {% for entry in categories %}
            <li class="category-item">
                <a href="/beatmapsets/packs/?category={{ entry }}"
                   class="{{ 'active' if entry == category }}">
                    {{ entry }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <table class="pack-listing" cellspacing="0">
        <thead>
            <tr>
                <th>Pack</th>
                <th>Date</th>
                <th>Uploaded by</th>
            </tr>
        </thead>
        <tbody>
            {% for pack in beatmap_packs %}
                {% if loop.index0 % 2 %}
                <tr class="dark-row" onclick="expandBeatmapPack({{ pack.id }})">
                {% else %}
                <tr class="light-row" onclick="expandBeatmapPack({{ pack.id }})">
                {% endif %}
                    <td style="width: 60%">
                        <a onclick="expandBeatmapPack({{ pack.id }})">{{ pack.name }}</a>
                        {% if pack.download_link %}
                        (<a href="{{ pack.download_link }}" target="_blank">Download</a>)
                        {% else %}
                        (Download not available)
                        {% endif %}
                    </td>
                    <td style="text-align: center">{{ pack.created_at.strftime('%b %d, %Y %H:%M:%S') }}</td>
                    <td><a href="/u/{{ pack.creator.id }}">{{ pack.creator.name }}</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="pack-{{ pack.id }}"></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>var currentCategory = "{{ category }}";</script>
    <script src="{{ '/js/packs.js'|git_asset_url }}"></script>
    {% endif %}
</div>
{% endblock content %}