{# templates/beatmap_packs.html #}

{% extends "base.html" %}

{% block content %}
<h1 class="header-text">
    Beatmap Pack Listing
</h1>
<div class="pack-container">
    <div>
        <h2 class="header-text">
            Before Downloading
        </h2>
        <p>
            Installation: Once a pack has been downloaded, extract the .rar into your osu! Songs directory.
            All songs are still .zip'd and/or .osz'd inside the pack, so osu! will need to extract the beatmaps itself the next time you go into Play mode.
            Do <b>NOT</b> extract the zip's/osz's yourself, or the beatmaps will display incorrectly in osu and will not function properly.
        </p>
        <br>
        <p>
            Also note that it is highly recommended to <b>download the packs from latest to earliest</b>, since the oldest maps are of much lower quality than most recent maps.
        </p>
    </div>
    {% if not categories %}
    <br>
    <b>
        It seems like no beatmap packs currently exist. Please check back later!
    </b>
    {% else %}
    <div class="pack-categories">
        <ul>
            {% for entry in categories %}
            <li class="category-item">
                <a href="/beatmapsets/packs/?category={{ entry }}"
                   class="{{ 'active' if entry == category }}">
                    {{ entry }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <table class="pack-listing">
        <thead>
            <tr>
                <th>Pack</th>
                <th>Date</th>
                <th>Uploaded by</th>
            </tr>
        </thead>
        <tbody>
            {% for pack in beatmap_packs %}
            <tr>
                <td>{{ pack.name }}</td>
                <td style="width: 15%">{{ pack.created_at }}</td>
                <td style="width: 15%">{{ pack.creator.name }}</td>
            </tr>
            <tr colspan="2"></tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}