{# templates/rankings.html #}

{% extends "base.html" %}

{% block content %}
<h1>
    {{ order_name }} Ranking for {% if country %}{{ constants.COUNTRIES[country|upper] }}{% else %}All Locations{% endif %}
    ({{ constants.GameMode(mode).formatted }})
</h1>
<p style="margin: 6px; font-size: 80%;">
{% if order_type == 'performance' %}
    Titanic uses a customized <a href="https://osu.ppy.sh/wiki/en/Performance_points/ppv2">ppv2</a>
    system, mostly developed by <a href="/u/39">Adachi</a>,
    which changes the behavior of the relax & autopilot mods and also has some changes regarding combo scaling.
{% elif order_type == 'ppv1' %}
    This is an attempt at recreating the original ppv1 system from back in the day.
    This is in no means accurate to the original, since not a lot is known about it.
    You can find an explanation of the old system <a href="https://raw.githubusercontent.com/willyosu/ClassicPerformance/master/ppv1.png">here</a>.
{% endif %}
</p>
<div class="centered">
    <div class="pagination">
        Displaying {{ page }} of {{ total_pages }} results.
        <br>
        {{ rankingsPagination() }}
    </div>
    {% if country %}
    <div class="country">
        <img class="flag-large" src="/images/flags/large/{{ country|lower }}.png" alt="" height="80px">
        <a href="?">Reset country filter</a>
    </div>
    {% endif %}
    <div class="country-select">
        {% for country in top_countries[:20] %}
            <a href="?country={{ country['name'] }}">
                <img src="/images/flags/{{ country['name'] }}.gif" alt="" loading="eager">
            </a>
        {% endfor %}
        <a href="./country">...</a>
    </div>
    {% set country_string = ("?country=" + country) if country else '' %}
</div>
<div class="tab-list">
    <ul>
        <li class="tab-item">
            <a href="/rankings/osu/{{ order_type }}{{ country_string }}" class="tab-link {{ 'active' if mode == 0 }}">
                osu! Standard
            </a>
        </li>
        <li class="tab-item">
            <a href="/rankings/taiko/{{ order_type }}{{ country_string }}" class="tab-link {{ 'active' if mode == 1 }}">
                Taiko
            </a>
        </li>
        <li class="tab-item">
            <a href="/rankings/fruits/{{ order_type }}{{ country_string }}" class="tab-link {{ 'active' if mode == 2 }}">
                Catch The Beat
            </a>
        </li>
        <li class="tab-item">
            <a href="/rankings/mania/{{ order_type }}{{ country_string }}" class="tab-link {{ 'active' if mode == 3 }}">
                osu!mania
            </a>
        </li>
    </ul>
</div>
<table class="player-listing">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Accuracy</th>
            <th>Play Count</th>
            <th>
                {% if order_type == 'performance' %}
                Performance Points
                {% elif order_type == 'rscore' %}
                Ranked Score
                {% elif order_type == 'ppv1' %}
                Performance Points
                {% elif order_type == 'tscore' %}
                Total Score
                {% else %}
                Clears
                {% endif %}
            </th>
            <th>
                <img src="/images/grades/X_small.png" alt="">
                <img src="/images/grades/XH_small.png" alt="">
            </th>
            <th>
                <img src="/images/grades/S_small.png" alt="">
                <img src="/images/grades/SH_small.png" alt="">
            </th>
            <th>
                <img src="/images/grades/A_small.png" alt="">
            </th>
        </tr>
    </thead>
    <tbody>
        {% set rank_offset = (page - 1) * items_per_page %}
        {% for player in leaderboard %}
        {% if jumpto == player.name %}
            <tr style="background-color: #fdcd9f;" id="jumpto">
        {% else %}
            {% if loop.index0 % 2 %}
            <tr style="background-color: #e7e4fc;">
            {% else %}
            <tr style="background-color: #dad7fb;">
            {% endif %}
        {% endif %}
            <td>
                <b>#{{ rank_offset + loop.index0 + 1 }}</b>
            </td>
            <td>
                <a class="ranking-flag-link" href="/rankings/{{ constants.GameMode(mode).alias }}/{{ order_type }}?country={{ player.country|lower }}">
                    <img src="/images/flags/{{ player.country|lower }}.gif" class="flag" alt="" loading="eager">
                </a>
                <a href="/u/{{ player.id }}">{{ player.name }}</a>
            </td>
            <td>
                {{ "{:,.2f}".format(player.stats[mode].acc * 100) }}%
            </td>
            <td>
                <span>{{ "{:,}".format(player.stats[mode].playcount) }} (lv.{{ player.stats[mode].tscore|get_level }})</span>
            </td>
            <td>
                <span style="font-weight: bold;">
                    {% if order_type == 'performance' %}
                    {{ "{:,}".format(player.stats[mode].pp|round|int) }}pp
                    {% elif order_type == 'rscore' %}
                    {{ "{:,}".format(player.stats[mode].rscore|int) }}
                    {% elif order_type == 'ppv1' %}
                    {{ "{:,}".format(player.stats[mode].ppv1|int) }}pp
                    {% elif order_type == 'tscore' %}
                    {{ "{:,}".format(player.stats[mode].tscore|int) }}
                    {% else %}
                    {{ "{:,}".format([
                        player.stats[mode].xh_count,
                        player.stats[mode].x_count,
                        player.stats[mode].sh_count,
                        player.stats[mode].s_count,
                        player.stats[mode].a_count,
                        player.stats[mode].b_count,
                        player.stats[mode].c_count,
                        player.stats[mode].d_count
                    ]|sum) }} / {{ total_beatmaps }}
                    {% endif %}
                </span>
            </td>
            <td style="text-align: center;">
                {{ "{:,}".format(player.stats[mode].x_count + player.stats[mode].xh_count) }}
            </td>
            <td style="text-align: center;">
                {{ "{:,}".format(player.stats[mode].s_count + player.stats[mode].sh_count) }}
            </td>
            <td style="text-align: center;">
                {{ "{:,}".format(player.stats[mode].a_count) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if total_pages > 1 %}
<div class="centered" style="margin: 25px !important;">
    <div class="pagination">
        <a href="javascript:void(0);" onclick="jumpToPlayer();">Jump</a> to a player.
        <br>
        {{ rankingsPagination() }}
    </div>
</div>
{% endif %}
<script>
    function jumpToPlayer() {
        var player = prompt("Enter the player name to jump to:")

        if (player === null || player === "") {
            return;
        }

        var query = new URLSearchParams();
        query.set("jumpto", player);
        location.hash = "jumpto";
        location.search = query.toString();
    }
</script>
{% endblock content %}

{% macro rankingsPagination() %}
    {% set country_string = ("country=" + country + "&") if country else '' %}

    {% if total_pages > 1 %}
        {# "Previous" Button #}
        {% if page > 1 %}
            <a href="?{{ country_string }}page={{ page - 1 }}">
                Prev
            </a>
            {% if min_page_display != 1 %}...{% endif %}
        {% endif %}

        {# Page Numbers (max. 10) #}
        {% for page_index in range(min_page_display, max_page_display+1) %}
            {% if page_index == page %}
                <b>
                    {{ page_index }}
                </b>
            {% else %}
                <a href="?{{ country_string }}page={{ page_index }}">
                    {{ page_index }}
                </a>
            {% endif %}
        {% endfor %}

        {# "Next" Button #}
        {% if page < total_pages %}
            {% if max_page_display != total_pages %}...{% endif %}
            <a href="?{{ country_string }}page={{ page + 1 }}">
                Next
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}
