{# templates/register.html #}

{% extends "base.html" %}

{% block content %}
<div class="heading">
    <h1 style="font-size: 140%; margin-bottom: 5px;">Let's create a new account!</h1>
    <p>Please fill in the details below to register your account on Titanic!</p>
    <p>By registering, you agree to Titanic!'s <a href="/wiki/en/Rules">Rules</a> and <a href="/wiki/en/Legal/Privacy">Privacy Policy</a>.</p>
</div>
<form class="account-form register-form" method="post" onsubmit="return validateAll(event)">
    <div class="account-form-section account-form-field">
        <input id="username" class="account-form-control validate" type="text" name="username" autocomplete="off" autocapitalize="none" placeholder="Username" required>
        <div class="input-description">
            Others will recognise you by this name. Make sure you are happy with it!
        </div>
    </div>
    <div class="account-form-section account-form-field">
        <input class="account-form-control validate" type="email" name="email" autocomplete="off" autocapitalize="none" placeholder="Email Address" required>
        <div class="input-description">
            Will be used for account verification and in the case you forget your password. No spam, ever.
        </div>
    </div>
    <div class="account-form-section account-form-field">
        <input class="account-form-control" type="password" name="password" autocomplete="off" autocapitalize="none" placeholder="Password" required>
        <div class="input-description">
            At least 8 characters long. Choose something long but also something you will remember, like a line from your favourite song.
        </div>
    </div>
    <div class="account-form-section account-form-actions register-submit">
        <input class="account-form-button register-button" type="submit" name="login" value="Register">
    </div>
    {% if error %}
        <div class="account-form-section account-form-error">
            {{ error }}
        </div>
    {% endif %}
    <div class="account-form-section account-form-panel">
        <img src="/images/signup-multi.png" alt="" height="90px">
        <div class="input-description">
            Titanic! has a policy of <strong>one account per person</strong>!
            Please be aware that creating more than one account per person may result in <strong>permanent deactivation of all accounts</strong>.
        </div>
    </div>
    <div class="account-form-section account-form-info">
        We <b>strongly</b> recommend to choose a different password than the one you are using for <a href="https://osu.ppy.sh">osu.ppy.sh</a>, due to the
        unencrypted traffic on older clients and our responsibility to protect your data in the event of a breach.
        <br><br>
        Need further assistance? Contact us on our <a href="https://discord.gg/qupv72e7YH">Discord</a> or via <a href="mailto:{{ config.EMAIL_SENDER }}">Email</a>.
    </div>
    <input type="hidden" name="recaptcha_response" id="recaptcha-response">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<script>$("#username").select();</script>
<script src="{{ '/js/register.js'|cached_url }}"></script>
{% if config.RECAPTCHA_SITE_KEY %}
<script src="https://www.google.com/recaptcha/api.js?render={{ config.RECAPTCHA_SITE_KEY }}"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{ config.RECAPTCHA_SITE_KEY }}', { action: 'register' }).then(function (token) {
            var recaptchaResponse = document.getElementById('recaptcha-response');
            recaptchaResponse.value = token;
        });
    });
</script>
{% endif %}
{% endblock content %}
