{# templates/register.html #}

{% extends "base.html" %}

{% block content %}
<h1>Let's create a new account!</h1>
<form class="register-form" method="post" onsubmit="return validateAll(event)">
    <div>
        <input id="username" type="text" name="username" autocomplete="off" autocapitalize="none" placeholder="Username" class="validate" required>
        <div class="input-description">
            Others will recognise you by this name. Make sure you are happy with it!
        </div>
    </div>
    <div>
        <input type="email" name="email" autocomplete="off" autocapitalize="none" placeholder="Email Address" class="validate" required>
        <div class="input-description">
            Will be used for notifications, account verification and in the case you forget your password. No spam, ever.
        </div>
    </div>
    <div>
        <input type="password" name="password" autocomplete="off" autocapitalize="none" placeholder="Password" required>
        <div class="input-description">
            At least 8 characters long. Choose something long but also something you will remember, like a line from your favourite song.
        </div>
    </div>
    <div class="register-submit" style="justify-content: center;">
        <input class="register-button" type="submit" name="login" value="Register">
    </div>
    {% if error %}
        <div style="background-color: #eab9d6;">
            {{ error }}
        </div>
    {% endif %}
    <div style="text-align: center; display: grid; justify-items: center;">
        <img src="/images/signup-multi.png" alt="" height="90px">
        <div class="input-description" style="width: 100%; margin-top: 15px;">
            Titanic! has a policy of <strong>one account per person</strong>!
            Please be aware that creating more than one account per person may result in <strong>permanent deactivation of all accounts</strong>.
        </div>
    </div>
    <div style="display: block;">
        Need further assistance? Contact us on our <a href="https://discord.gg/qupv72e7YH">Discord</a> or via <a href="mailto:{{ config.EMAIL }}">Email</a>.
    </div>
    <input type="hidden" name="recaptcha_response" id="recaptcha-response">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<script>$("#username").select();</script>
<script src="/js/register.js"></script>
{% if config.RECAPTCHA_SITE_KEY %}
<script src="https://www.google.com/recaptcha/api.js?render={{ config.RECAPTCHA_SITE_KEY }}"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{ config.RECAPTCHA_SITE_KEY }}', { action: 'register' }).then(function (token) {
            var recaptchaResponse = document.getElementById('recaptcha-response');
            recaptchaResponse.value = token;
        });
    });
</script>
{% endif %}
{% endblock content %}