{# templates/search.html #}

{% extends 'base.html' %}

{% block content %}
<div class="beatmap-search-container">
    <h1>Beatmap Listing</h1>
    <input id="search-input" type="search" placeholder="Search for a beatmap..." value="{{ query }}">
    <div class="beatmap-options">
        <dl data-name="mode">
            <dt>Mode:</dt>
            <dd>
                <a class="{{ 'selected' if mode == None else '' }}" data-id="">Any</a>
                <a data-id="0" class={{ 'selected' if mode == 0 else '' }} >osu!</a>
                <a data-id="1" class={{ 'selected' if mode == 1 else '' }} >osu!taiko</a>
                <a data-id="2" class={{ 'selected' if mode == 2 else '' }} >osu!catch</a>
                <a data-id="3" class={{ 'selected' if mode == 3 else '' }} >osu!mania</a>
            </dd>
        </dl>
        <dl data-name="category">
            <dt>Category:</dt>
            <dd>
                <a data-id="" class="{{ 'selected' if not category else '' }}">Has Leaderboard</a>
                <a data-id="2" class="{{ 'selected' if category == 2 else '' }}">Ranked</a>
                <a data-id="3" class="{{ 'selected' if category == 3 else '' }}">Qualified</a>
                <a data-id="4" class="{{ 'selected' if category == 4 else '' }}">Loved</a>
                <a data-id="5" class="{{ 'selected' if category == 5 else '' }}">Approved</a>
                <a data-id="6" class="{{ 'selected' if category == 6 else '' }}">Pending</a>
                <a data-id="7" class="{{ 'selected' if category == 7 else '' }}">WIP</a>
                <a data-id="8" class="{{ 'selected' if category == 8 else '' }}">Graveyard</a>
                <a data-id="0" class="{{ 'selected' if category == 0 else '' }}">All</a>
            </dd>
        </dl>
        <dl data-name="genre">
            <dt>Genre:</dt>
            <dd>
                <a data-id="" class="{{ 'selected' if genre == None else '' }}">Any</a>
                <a data-id="0" class="{{ 'selected' if genre == 0 else '' }}">Unspecified</a>
                <a data-id="2" class="{{ 'selected' if genre == 2 else '' }}">Video Game</a>
                <a data-id="3" class="{{ 'selected' if genre == 3 else '' }}">Anime</a>
                <a data-id="4" class="{{ 'selected' if genre == 4 else '' }}">Rock</a>
                <a data-id="5" class="{{ 'selected' if genre == 5 else '' }}">Pop</a>
                <a data-id="6" class="{{ 'selected' if genre == 6 else '' }}">Other</a>
                <a data-id="7" class="{{ 'selected' if genre == 7 else '' }}">Novelty</a>
                <a data-id="9" class="{{ 'selected' if genre == 9 else '' }}">Hip Hop</a>
                <a data-id="10" class="{{ 'selected' if genre == 10 else '' }}">Electronic</a>
                <a data-id="11" class="{{ 'selected' if genre == 11 else '' }}">Metal</a>
                <a data-id="12" class="{{ 'selected' if genre == 12 else '' }}">Classical</a>
                <a data-id="13" class="{{ 'selected' if genre == 13 else '' }}">Folk</a>
                <a data-id="14" class="{{ 'selected' if genre == 14 else '' }}">Jazz</a>
            </dd>
        </dl>
        <dl data-name="language">
            <dt>Language:</dt>
            <dd>
                <a data-id="" class="{{ 'selected' if language == None else '' }}">Any</a>
                <a data-id="2" class="{{ 'selected' if language == 2 else '' }}">English</a>
                <a data-id="3" class="{{ 'selected' if language == 3 else '' }}">Japanese</a>
                <a data-id="4" class="{{ 'selected' if language == 4 else '' }}">Chinese</a>
                <a data-id="5" class="{{ 'selected' if language == 5 else '' }}">Instrumental</a>
                <a data-id="6" class="{{ 'selected' if language == 6 else '' }}">Korean</a>
                <a data-id="7" class="{{ 'selected' if language == 7 else '' }}">French</a>
                <a data-id="8" class="{{ 'selected' if language == 8 else '' }}">German</a>
                <a data-id="9" class="{{ 'selected' if language == 9 else '' }}">Swedish</a>
                <a data-id="10" class="{{ 'selected' if language == 10 else '' }}">Spanish</a>
                <a data-id="11" class="{{ 'selected' if language == 11 else '' }}">Italian</a>
                <a data-id="12" class="{{ 'selected' if language == 12 else '' }}">Russian</a>
                <a data-id="13" class="{{ 'selected' if language == 13 else '' }}">Polish</a>
            </dd>
        </dl>
        <dl>
            <dt>Extra:</dt>
            <dd>
                <a data-name="video">Has Video</a>
                <a data-name="storyboard">Has Storyboard</a>
                {% if current_user.is_authenticated %}
                <a data-name="played" removes="unplayed">Has Played</a>
                <a data-name="cleared" removes="uncleared">Has Cleared</a>
                <a data-name="unplayed" removes="played">Unplayed</a>
                <a data-name="uncleared" removes="cleared">Uncleared</a>
                {% endif %}
                <a data-name="titanic">Titanic Exclusive</a>
            </dd>
        </dl>
    </div>
    <table class="beatmap-order-select">
        <thead>
            <tr>
                <th>
                    <a data-id="0">Title</a>
                    {% if sort == 0 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="1">Artist</a>
                    {% if sort == 1 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="2">Creator</a>
                    {% if sort == 2 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="3">Difficulty</a>
                    {% if sort == 3 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="4">Ranked</a>
                    {% if sort == 4 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="7">Created</a>
                    {% if sort == 7 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="5">Rating</a>
                    {% if sort == 5 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
                <th>
                    <a data-id="6">Plays</a>
                    {% if sort == 6 %}
                        {% if order == 0 %}
                        <img src="/images/down.gif" alt="Descending">
                        {% else %}
                        <img src="/images/up.gif" alt="Ascending">
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
        </thead>
    </table>
    <div id="beatmap-list">
        <noscript>
            <h3 id="status-text">Please enable JavaScript to view the beatmap listing!</h3>
        </noscript>
        {# TODO - Add beatmap download sidebar #}
    </div>
</div>
<script src="/js/search.js"></script>
{% endblock content %}
