{# templates/search.html #}

{% extends 'base.html' %}

{% block content %}
<div class="beatmap-search-container">
    <h1>Beatmap Listing</h1>
    <input id="search-input" type="search" placeholder="Search for a beatmap..." value="{{ query }}">
    <div class="beatmap-options">
        <dl data-name="mode">
            <dt>Mode:</dt>
            <dd>
                <a class="selected" data-id="">Any</a>
                <a data-id="0">osu!</a>
                <a data-id="1">osu!taiko</a>
                <a data-id="2">osu!catch</a>
                <a data-id="3">osu!mania</a>
            </dd>
        </dl>
        <dl data-name="category">
            <dt>Category:</dt>
            <dd>
                <a data-id="" class="selected">Has Leaderboard</a>
                <a data-id="2">Ranked</a>
                <a data-id="3">Qualified</a>
                <a data-id="4">Loved</a>
                <a data-id="5">Approved</a>
                <a data-id="6">Pending</a>
                <a data-id="7">WIP</a>
                <a data-id="8">Graveyard</a>
                <a data-id="0">All</a>
            </dd>
        </dl>
        <dl data-name="genre">
            <dt>Genre:</dt>
            <dd>
                <a data-id="" class="selected">Any</a>
                <a data-id="0">Unspecified</a>
                <a data-id="2">Video Game</a>
                <a data-id="3">Anime</a>
                <a data-id="4">Rock</a>
                <a data-id="5">Pop</a>
                <a data-id="6">Other</a>
                <a data-id="7">Novelty</a>
                <a data-id="9">Hip Hop</a>
                <a data-id="10">Electronic</a>
                <a data-id="11">Metal</a>
                <a data-id="12">Classical</a>
                <a data-id="13">Folk</a>
                <a data-id="14">Jazz</a>
            </dd>
        </dl>
        <dl data-name="language">
            <dt>Language:</dt>
            <dd>
                <a data-id="" class="selected">Any</a>
                <a data-id="2">English</a>
                <a data-id="3">Japanese</a>
                <a data-id="4">Chinese</a>
                <a data-id="5">Instrumental</a>
                <a data-id="6">Korean</a>
                <a data-id="7">French</a>
                <a data-id="8">German</a>
                <a data-id="9">Swedish</a>
                <a data-id="10">Spanish</a>
                <a data-id="11">Italian</a>
                <a data-id="12">Russian</a>
                <a data-id="13">Polish</a>
            </dd>
        </dl>
        <dl>
            <dt>Extra:</dt>
            <dd>
                <a data-name="video">Has Video</a>
                <a data-name="storyboard">Has Storyboard</a>
                {% if current_user.is_authenticated %}
                <a data-name="played" removes="unplayed">Has Played</a>
                <a data-name="cleared" removes="uncleared">Has Cleared</a>
                <a data-name="unplayed" removes="played">Unplayed</a>
                <a data-name="uncleared" removes="cleared">Uncleared</a>
                {% endif %}
                <a data-name="titanic">Titanic Exclusive</a>
            </dd>
        </dl>
    </div>
    <table class="beatmap-order-select">
        <thead>
            <tr>
                <th>
                    <a data-id="0">Title</a>
                </th>
                <th>
                    <a data-id="1">Artist</a>
                </th>
                <th>
                    <a data-id="2">Creator</a>
                </th>
                <th>
                    <a data-id="3">Difficulty</a>
                </th>
                <th>
                    <a data-id="4">Ranked</a>
                    <img src="/images/down.gif" alt="Descending">
                </th>
                <th>
                    <a data-id="7">Created</a>
                </th>
                <th>
                    <a data-id="5">Rating</a>
                </th>
                <th>
                    <a data-id="6">Plays</a>
                </th>
            </tr>
        </thead>
    </table>
    <div id="beatmap-list">
        <noscript>
            <h3 id="status-text">Please enable JavaScript to view the beatmap listing!</h3>
        </noscript>
        {# TODO - Add beatmap download sidebar #}
        {# TODO - Show more beatmap information #}
    </div>
</div>
<script src="/js/search.js"></script>
{% endblock content %}
