{# templates/user.html #}

{% extends "base.html" %}

{% block content %}
<div class="profile-left">
    <div class="left-top">
        <div class="avatar-box">
            <img src="http://s.{{ config.DOMAIN_NAME }}/a/{{ user.id }}?h=120" alt="">
        </div>
        <h1>
            <a class="flag" href="/rankings/{{ constants.GameMode(mode).alias }}/performance?country={{ user.country|upper }}">
                <img src="/images/flags/{{ user.country|lower }}.gif" alt="{{ user.country|upper }}">
            </a>
            <!-- TODO: Username color based on groups -->
            {% if user.names %}
            <div class="username" style="color: #888888" title="Previously known as {{ user.names[-1].name }}">{{ user.name }}</div>
            {% else %}
            <div class="username">{{ user.name }}</div>
            {% endif %}
            <!-- TODO: Title (e.g. Former osu! champion) -->
        </h1>
        <div class="user-badges">
        {% for badge in user.badges %}
            <div class="badge-container">
                <a href="{{ badge.badge_url }}">
                    <img src="{{ badge.badge_icon }}" alt="{{ badge.badge_description }}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="left-bottom">
        <div title="Arrived" class="activity">
            <i class="fa-solid fa-right-to-bracket" style="color: #76777b;"></i>
            <p>{{ user.created_at|timeago }}</p>
        </div>
        <div title="Last Active" class="activity">
            <i class="fa-solid fa-right-from-bracket" style="color: #76777b;"></i>
            <p>{{ user.latest_activity|timeago }}</p>
        </div>
        <div title="Last Active" class="activity">
            <i class="fa-regular fa-pen-to-square" style="color: #76777b;"></i>
            <!-- TODO -->
            <p>0 posts</p>
        </div>
        {% if user.playstyle > 0 %}
        <div class="playstyle-container">
        {% set current_playstyle = user.playstyle|playstyle %}
        {% for playstyle in constants.Playstyle %}
            {% if playstyle in current_playstyle and playstyle > 0 %}
            <div class="playstyle {{ playstyle.name|lower }}"></div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}