{# templates/user.html #}

{% extends "base.html" %}

{% block content %}
<div class="profile-left">
    <div class="left-top">
        <div class="avatar-box">
            <img src="http://s.{{ config.DOMAIN_NAME }}/a/{{ user.id }}?h=120" alt="">
        </div>
        <h1>
            <a class="flag" href="/rankings/{{ constants.GameMode(mode).alias }}/performance?country={{ user.country|upper }}">
                <img src="/images/flags/{{ user.country|lower }}.gif" alt="{{ user.country|upper }}">
            </a>
            <!-- TODO: Username color based on groups -->
            {% if user.names %}
            <div class="username" style="color: #888888" title="Previously known as {{ user.names[-1].name }}">{{ user.name }}</div>
            {% else %}
            <div class="username">{{ user.name }}</div>
            {% endif %}
            <!-- TODO: Title (e.g. Former osu! champion) -->
        </h1>
        <div class="user-badges">
        {% for badge in user.badges %}
            <div class="badge-container">
                <a href="{{ badge.badge_url }}" title="{{ badge.badge_description }}">
                    <img src="{{ badge.badge_icon }}" alt="{{ badge.badge_description }}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="left-bottom">
        <!-- TODO: Edit button -->
        <div class="userpage-social">
            {% if user.userpage_location %}
            <div title="Location" class="activity">
                <i class="fa-sharp fa-solid fa-location-dot" style="color: #76777b;"></i>
                <p>{{ user.userpage_location }}</p>
            </div>
            {% endif %}
            {% if user.userpage_interests %}
            <div title="Interests" class="activity">
                <i class="fa-regular fa-heart" style="color: #76777b;"></i>
                <p>{{ user.userpage_interests }}</p>
            </div>
            {% endif %}
            {% if user.userpage_website %}
            <div title="Website" class="activity">
                <i class="fa-solid fa-earth-americas" style="color: #76777b;"></i>
                <a href="{{ user.userpage_website }}">{{ user.userpage_website|domain }}</a>
            </div>
            {% endif %}
            {% if user.userpage_discord %}
            <div title="Discord" class="activity">
                <i class="fa-brands fa-discord" style="color: #76777b;"></i>
                <a href="{{ user.userpage_discord }}">Discord</a>
            </div>
            {% endif %}
            {% if user.userpage_twitter %}
            <div title="Twitter" class="activity">
                <i class="fa-brands fa-twitter" style="color: #76777b;"></i>
                <a href="{{ user.userpage_twitter }}">@{{ user.userpage_twitter|twitter_handle }}</a>
            </div>
            {% endif %}
        </div>
        <div class="userpage-stats">
            <div title="Arrived" class="activity">
                <i class="fa-solid fa-right-to-bracket" style="color: #76777b;"></i>
                <p>{{ user.created_at|timeago }}</p>
            </div>
            <div title="Last Active" class="activity">
                {% if is_online %}
                <i class="fa-solid fa-right-from-bracket" style="color: #c966c9;"></i>
                <p>Online</p>
                {% else %}
                <i class="fa-solid fa-right-from-bracket" style="color: #76777b;"></i>
                <p>{{ user.latest_activity|timeago }}</p>
                {% endif %}
            </div>
            <div title="Total Posts" class="activity">
                <i class="fa-regular fa-pen-to-square" style="color: #76777b;"></i>
                <!-- TODO -->
                <p>0 posts</p>
            </div>
        </div>
        {% if user.playstyle > 0 %}
        <div class="playstyle-container">
        {% set current_playstyle = user.playstyle|playstyle %}
        {% for playstyle in constants.Playstyle %}
            {% if playstyle in current_playstyle and playstyle > 0 %}
            <div class="playstyle {{ playstyle.name|lower }}"></div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- TODO: Add admin controls -->
    <!-- TODO: Report user -->
</div>
<div class="profile-right">
    {% if user.userpage_about %}
    <div class="userpage">
        {{ user.userpage_about|bbcode|safe }}
    </div>
    {% endif %}
    <div class="gamemode-container">
        <a id="gm-0" class="gamemode-button {{ 'active-mode' if mode == 0 }}" href="?mode=0">osu!</a>
        <a id="gm-1" class="gamemode-button {{ 'active-mode' if mode == 1 }}" href="?mode=1">Taiko</a>
        <a id="gm-2" class="gamemode-button {{ 'active-mode' if mode == 2 }}" href="?mode=2">CatchTheBeat</a>
        <a id="gm-3" class="gamemode-button {{ 'active-mode' if mode == 3 }}" href="?mode=3">osu!mania</a>
    </div>
    <table class="profile-table">
        <tbody>
            <tr>
                <td style="padding: 0;">
                    <table class="profile-tabs">
                        <tbody>
                            <td onclick="expandProfileTab('general', true)">General</td>
                            <td onclick="expandProfileTab('leader', true)">Top Plays</td>
                            <td onclick="expandProfileTab('history', true)">Historical</td>
                            <td onclick="expandProfileTab('beatmaps', true)">Beatmaps</td>
                            <td onclick="expandProfileTab('achievements', true)">Achievements</td>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr onclick="expandProfileTab('general')">
                <td id="tab-general" class="tab-heading">General</td>
            </tr>
            <td>
                <div id="general" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <!-- TODO -->
                </div>
            </td>
            <tr onclick="expandProfileTab('leader')">
                <td id="tab-leader" class="tab-heading">Top Plays</td>
            </tr>
            <td>
                <div id="leader" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <!-- TODO -->
                </div>
            </td>
            <tr onclick="expandProfileTab('history')">
                <td id="tab-history" class="tab-heading">Historical</td>
            </tr>
            <td>
                <div id="history" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <!-- TODO -->
                </div>
            </td>
            <tr onclick="expandProfileTab('beatmaps')">
                <td id="tab-beatmaps" class="tab-heading">Beatmaps</td>
            </tr>
            <td>
                <div id="beatmaps" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <!-- TODO -->
                </div>
            </td>
            <tr onclick="expandProfileTab('achievements')">
                <td id="tab-achievements" class="tab-heading">Achievements</td>
            </tr>
            <td>
                <div id="achievements" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <!-- TODO -->
                </div>
            </td>
        </tbody>
    </table>
</div>
<script src="/js/user.js" onload="expandProfileTab(activeTab)"></script>
{% endblock content %}