{# templates/user.html #}

{% extends "base.html" %}

{% block content %}
<div class="profile-left">
    <div class="profile-user-card">
        {# TODO: if (user has set an avatar) #}
        {% if true %}
            {% if current_user.id == user.id %}
                <a href="/account/settings/profile#edit">
                    <div class="avatar">
                        <img src="{{ user|avatar_url }}" alt="User avatar" />
                    </div>
                </a>
            {% else %}
                <div class="avatar">
                    <img src="{{ user|avatar_url }}" alt="User avatar" />
                </div>
            {% endif %}
        {% endif %}

        <div class="profile-username-container">
            <div
                class="profile-username"

                {% if user.groups %}
                    {% set primary_group_id = user.groups|get_attributes("group_id")|min %}
                    {% set primary_group = (user.groups|selectattr("group_id", "eq", primary_group_id)|first).group %}
                    style="color: {{ primary_group.color }};"
                {% endif %}

                {# Difference from osu!: All past names are shown, instead of only the most recent change #}
                {% if user.names %}
                    {% set names = user.names|map(attribute='name')|reject('equalto', user.name)|unique|join(', ') %}
                    title="Previously known as {{ names }}"
                {% endif %}
            >
                {{ user.name }}
            </div>

            {# TODO: Change username ability #}
            {% if false and current_user.id == user.id and not user.names %}
                <a class="change-username" href="...">change</a>
            {% endif %}
        </div>

        {% if user.title %}
            <div>
                <b>{{ user.title }}</b>
            </div>
        {% endif %}

        {# Difference from osu!: Added group icons #}
        {% if groups %}
            <div class="groups">
                {% for group in groups %}
                    <a class="group" href="/g/{{ group.id }}" style="color: {{ group.color }}; border: 1px solid {{ group.color }};">
                        {{ group.short_name|upper }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% for badge in user.badges %}
            <div
                class="badge"
                {% if badge.badge_description %}
                    title="{{ badge.badge_description }}"
                {% endif %}
            >
                {# Difference from osu!: Added optional links on badges #}
                {% if badge.badge_url %}
                    <a href="{{ badge.badge_url }}">
                        <img src="{{ badge.badge_icon }}" alt="" />
                    </a>
                {% else %}
                    <img src="{{ badge.badge_icon }}" alt="" />
                {% endif %}
            </div>
        {% endfor %}

        <div>
            <center>
                <a href="/rankings/{{ constants.GameMode(mode).alias }}/performance?country={{ user.country|lower }}&jumpto_id={{ user.id }}#jumpto">
                    <img
                        class="flag"
                        title="{{ constants.COUNTRIES[user.country|upper] }}"
                        src="/images/flags/{{ user.country|lower }}.gif"
                        alt="{{ user.country|upper }}"
                    />
                </a>

                {# TODO: Forum PM #}
                {% if false and current_user.is_authenticated and current_user.id != user.id %}
                    <a href="...">
                        <img
                            src="icon_contact_pm.png"
                            alt="Send private message"
                            title="Send private message"
                        />
                    </a>
                {% endif %}

                {% if user.is_donator %}
                    <div class="donator"></div>
                {% endif %}
            </center>
        </div>

        {% if user.restricted %}
            <div class="banned-container">
                <img src="/images/banned.png" alt="Banned" />
            </div>
        {% endif %}
    </div>

    {% if current_user.is_authenticated and current_user.id != user.id %}
        {% set current_friends = repositories.relationships.fetch_many_by_id(current_user.id, session)|get_attributes('target_id') %}
        {% set target_friends = user.relationships|get_attributes('target_id') %}
        {% set current_added = user.id in current_friends %}
        {% set target_added = current_user.id in target_friends or user.id in config.SUPER_FRIENDLY_USERS %}
        <div id="friend-status" class="friend-current-{{ current_added|lower }}-target-{{ target_added|lower }}">
            <a href="#" onclick="return removeFriend()">
                <i class="fa3-heart"></i> Mutual Friend
            </a>
            <a href="#" onclick="return removeFriend()">
                <i class="fa3-star"></i> Friend
            </a>
            {# Difference from osu!: Added "Add as Mutual Friend" state #}
            <a href="#" onclick="return addFriend()">
                <i class="fa3-plus-sign"></i> Add as Mutual Friend
            </a>
            <a href="#" onclick="return addFriend()">
                <i class="fa3-plus-sign"></i> Add as Friend
            </a>
        </div>
    {% endif %}

    <div class="profile-details">
        {% if user.location %}
            <div title="Location">
                <i class="fa3-map-marker"></i>
                <div>{{ user.location|truncate(30, True) }}</div>
            </div>
        {% endif %}

        {# Difference from osu!: Removed age #}

        {# TODO: Occupation #}
        {% if false and user.occupation %}
            <div title="Occupation">
                <i class="fa3-pencil"></i>
                <div>{{ user.occupation|truncate(30, True) }}</div>
            </div>
        {% endif %}

        {% if user.interests %}
            <div title="Interests">
                <i class="fa3-heart-empty"></i>
                <div>{{ user.interests|truncate(30, True) }}</div>
            </div>
        {% endif %}

        {# Separator #}
        <div></div>

        {% if user.website %}
            <div title="Website">
                <i class="fa3-globe"></i>
                <div>
                    <a href="{{ user.website }}">{{ user.website|truncate(30, True) }}</a>
                </div>
            </div>
        {% endif %}

        {% if user.twitter %}
            <div title="Twitter">
                <i class="fa3-twitter"></i>
                <div>
                    <a href="{{ user.twitter }}">{{ user.twitter|twitter_handle|truncate(30, True) }}</a>
                </div>
            </div>
        {% endif %}

        {# Difference from osu!: Added Discord #}
        {% if user.discord %}
            <div title="Discord">
                <i class="fa-brands fa-discord"></i>
                <div>{{ user.discord|truncate(30, True) }}</div>
            </div>
        {% endif %}

        {# TODO: Last.fm #}
        {% if false and user.last_fm %}
            <div title="last.fm">
                <i class="fa3-music"></i>
                <div>
                    <a href="//last.fm/...">{{ user.last_fm|truncate(30, True) }}</a>
                    {# Difference from osu!: This used to show a prompt to connect to last.fm if the user hadn't already, but a faulty check was added that made it never display at some point #}
                    {% if current_user.id == user.id %}
                        <span class="last-fm-unlink">(<a href="...">unlink</a>)</span>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {# Separator #}
        <div></div>

        <div title="Arrived">
            <i class="fa3-signin"></i>
            <div>
                {# Difference from osu!: Wrapped "since the beginning" in <time> #}
                <time
                    datetime="{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}"
                    title="{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }} UTC"
                >
                    {% if user.created_at <= config.BEGINNING_ENDED_AT %}
                        since the beginning
                    {% else %}
                        {{ user.created_at|timeago }}
                    {% endif %}
                </time>
            </div>
        </div>

        <div title="Last Active">
            {# Difference from osu!: Special online variant #}
            {% if is_online %}
                <i class="fa3-signout online"></i>
                <div>Online</div>
            {% else %}
                <i class="fa3-signout"></i>
                <div>
                    {# Difference from osu!: Wrapped "dead" in <time> #}
                    <time
                        datetime="{{ user.latest_activity.strftime('%Y-%m-%d %H:%M:%S') }}"
                        title="{{ user.latest_activity.strftime('%Y-%m-%d %H:%M:%S') }} UTC"
                    >
                        {% if user.latest_activity <= config.BEGINNING_ENDED_AT %}
                            dead
                        {% else %}
                            {{ user.latest_activity|timeago }}
                        {% endif %}
                    </time>
                </div>
            {% endif %}
        </div>

        {# Difference from osu!: Added follower count #}
        {% if followers > 0 %}
            <div title="Followers">
                <i class="fa-solid fa-users"></i>
                <div>{{ followers|format_number }} follower{{ 's' if followers != 1 }}</div>
            </div>
        {% endif %}

        {% if total_posts > 0 %}
            {# Difference from osu!: Doesn't link to user's post history #}
            {# TODO^ #}
            {# Difference from osu!: Fixed "1 posts" case #}
            <div title="Posts">
                <i class="fa3-edit"></i>
                <div>{{ total_posts|format_number }} post{{ 's' if total_posts != 1 }}</div>
            </div>
        {% endif %}

        {% if current_user.id == user.id %}
            <a class="edit-profile" href="/account/settings/profile#edit">Edit</a>
        {% endif %}
    </div>

    <div class="playstyle-container">
        {% set current_playstyle = constants.Playstyle(user.playstyle) %}
        {% for playstyle in [constants.Playstyle.Mouse, constants.Playstyle.Keyboard, constants.Playstyle.Tablet, constants.Playstyle.Touch] %}
            {% set class_name = [
                'playstyle',
                'playstyle-' + playstyle.name|lower,
                'playstyle-using' if playstyle in current_playstyle,
                'playstyle-toggleable' if current_user.id == user.id,
            ]|reject('none')|join(' ') %}
            <div
                id="{{ playstyle.name }}"
                class="{{ class_name }}"
                {% if current_user.id == user.id %}
                    onclick="updatePlaystyleElement(this)"
                {% endif %}
            ></div>
        {% endfor %}
    </div>
</div>
<div class="profile-right">
    {% if current_user.id == user.id %}
        {% if user.userpage %}
            <a class="edit-button" href="/account/settings/profile#userpage">Edit</a>
            <br>
            <div class="userpage">
                {{ user.userpage|bbcode|safe }}
            </div>
        {% else %}
            <a href="/account/settings/profile#userpage">Click to make your user page!</a>
            <br>
        {% endif %}
    {% else %}
        {% if user.userpage %}
        {% if current_user.is_moderator and current_user.id != user.id %}
            <a class="edit-button" onclick="show('admin-userpage-controls')">Edit</a>
            <br>
            <div id="admin-userpage-controls" class="popup">
                <div onclick="hide('admin-userpage-controls')" class="popup-close">x</div>
                <form class="section" action="/account/settings/profile/userpage" method="post">
                    {% with context = {
                        "current": user.userpage,
                        "submit-text": "Update",
                        "min-height": "140px",
                        "user-id": user.id
                    } %}
                        {% include "editor.html" %}
                    {% endwith %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
            </div>
        {% endif %}
        <div class="userpage">
            {{ user.userpage|bbcode|safe }}
        </div>
        {% endif %}
    {% endif %}
    <div class="gamemode-container">
        <a id="gm-0" class="gamemode-button {{ 'active-mode' if mode == 0 }}" href="?mode=0">osu!</a>
        <a id="gm-1" class="gamemode-button {{ 'active-mode' if mode == 1 }}" href="?mode=1">Taiko</a>
        <a id="gm-2" class="gamemode-button {{ 'active-mode' if mode == 2 }}" href="?mode=2">CatchTheBeat</a>
        <a id="gm-3" class="gamemode-button {{ 'active-mode' if mode == 3 }}" href="?mode=3">osu!mania</a>
    </div>
    <table class="profile-table">
        <tbody>
            <tr>
                <td style="padding: 0;">
                    <table class="profile-tabs">
                        <tbody>
                            <td onclick="expandProfileTab('general', true)">General</td>
                            <td onclick="expandProfileTab('leader', true)">Top Plays</td>
                            <td onclick="expandProfileTab('history', true)">Historical</td>
                            <td onclick="expandProfileTab('beatmaps', true)">Beatmaps</td>
                            <td onclick="expandProfileTab('kudosu', true)">Kudosu!</td>
                            <td onclick="expandProfileTab('achievements', true)">Achievements</td>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr onclick="expandProfileTab('general')">
                <td id="tab-general" class="tab-heading">General</td>
            </tr>
            <td>
                <div id="general" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <div class="tab-spacing">
                    {% if current_stats and current_stats.playcount > 0 and not user.restricted %}
                        <div class="profile-performance">
                            <h2>
                                <strong {% if current_stats.peak_rank %}title="Peaked at #{{ '{:,}'.format(current_stats.peak_rank) }}"{% endif %}>
                                    <a href="https://osu.ppy.sh/help/wiki/Performance_Points">Performance</a>:
                                    <span>
                                        {{ "{:,}".format(current_stats.pp|round(0)|int) }}pp
                                    </span>
                                    {% if current_stats.pp > 0 %}
                                        (#{{ pp_rank }})
                                    {% else %}
                                        (#-)
                                    {% endif %}
                                </strong>
                            </h2>
                            {% if pp_rank_country > 0 %}
                                <a href="/rankings/{{ constants.GameMode(mode).alias }}/performance?country={{ user.country|upper }}">
                                    <img src="/images/flags/{{ user.country|lower }}.gif" alt="{{ user.country|upper }}">
                                </a>
                                {% if current_stats.pp > 0 %}
                                    #{{ pp_rank_country }}
                                {% else %}
                                    #-
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="profile-graph" id="rank-graph">
                            <svg></svg>
                        </div>
                        <div class="profile-recent">
                            <h3 class="profile-stats-header">Recent Activity</h3>
                            {% if activity %}
                            <div id="profile-recent-preview">
                                <table>
                                    <tbody>
                                    {% for item in activity[:4] %}
                                        <tr>
                                            <td style="width: 20%;">{{ item.time|timeago }}</td>
                                            <td>{{ item|format_activity|safe }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if activity|length > 4 %}
                                <a href="javascript:void(0);" onclick="expandRecentActivity()">Show me more...</a>
                                {% endif %}
                            </div>
                            {% if activity|length > 4 %}
                            <div id="profile-recent-full" style="display: none;">
                                <table>
                                    <tbody>
                                    {% for item in activity %}
                                        <tr>
                                            <td style="width: 20%;">{{ item.time|timeago }}</td>
                                            <td>{{ item|format_activity|safe }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                            {% else %}
                            This user hasn't done anything notable recently!
                            {% endif %}
                        </div>
                        <div class="profile-detailed-stats">
                            {% set top_100_tscore = total_score_rank <= 100 and total_score_rank != 0 %}
                            {% set top_100_rscore = score_rank <= 100 and score_rank != 0 %}
                            <h3 class="profile-stats-header">Detailed Stats</h3>
                            <h4 class="profile-stats-element {% if top_100_rscore %}profile-stats-element-blue{% endif %}" title="Ranked Score consists of all your highest passing scores you have achieved. If you beat a score, only the difference between them will be added.">
                                <b>Ranked Score</b>: {{ "{:,}".format(current_stats.rscore) }} {% if score_rank > 0 %} (#{{ "{:,}".format(score_rank) }}) {% endif %}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="Accuracy is calculated as a pp-weighted average of every beatmap you have achieved a passing score in, with each difficulty counting separately. Accuracy is calculated based on the hit score value - so a 50 is worth 1/6th of a 300 hit, and a miss is worth nothing.">
                                <b>Hit Accuracy</b>: {{ (current_stats.acc * 100)|round(2) }}%
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="Total number of ranked beatmap plays. This includes both passes and fails.">
                                <b>Play Count</b>: {{ "{:,}".format(current_stats.playcount) }}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="Total time spent playing.">
                                <b>Play Time</b>: {{ (current_stats.playtime / 60 / 60)|round(1) }} hours
                            </h4>
                            <br>
                            <h4 class="profile-stats-element {% if top_100_tscore %}profile-stats-element-blue{% endif %}" title="Total points scored in all ranked beatmap plays. This includes both passes and fails.">
                                <b>Total Score</b>: {{ "{:,}".format(current_stats.tscore) }} {% if total_score_rank > 0 %} (#{{ "{:,}".format(total_score_rank) }}) {% endif %}
                            </h4>
                            <br>
                            {% set level_precise = current_stats.tscore|get_level %}
                            {% set level = level_precise|floor %}
                            {% set level_percent = ((level_precise - level) * 100)|round|int %}
                            <h4 class="profile-stats-element" title="Your level is based on your total accumulated score. This includes any ranked score, be it a pass or fail. You will gradually increase your level just by playing the game!">
                                <b>Current Level</b>: {{ level }}
                            </h4>
                            <br>
                            <table class="level-bar">
                                <tbody>
                                    <tr>
                                        <td class="level-bar-percent" style="width: {{ ([level_percent, 100]|sort)[0] * 3 }}px;">{{ level_percent }}%</td>
                                        <td style="background-color: white;"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <h4 class="profile-stats-element" title="Total notes hit.">
                                <b>Total Hits</b>: {{ "{:,}".format(current_stats.total_hits) }}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="Highest combo achieved (hits in a row without a miss).">
                                <b>Maximum Combo</b>: {{ "{:,}".format(current_stats.max_combo) }}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="Based on how much of a contribution the user has made to beatmap moderation.">
                                <b>Total Kudosu Earned</b>: {{ "{:,}".format(total_kudosu) }}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element" title="The total number of times this user's replays have been watched.">
                                <b>Replays Watched by Others</b>: {{ current_stats.replay_views }} time{{ 's' if current_stats.replay_views != 1 }}
                            </h4>
                            <br>
                            <h4 class="profile-stats-element"><b>Ranks</b></h4>
                            <table class="profile-ranks">
                                <tbody>
                                    <tr>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/XH.png" height="42" alt="XH"></td>
                                        <td style="width: 50px;">{{ current_stats.xh_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/X.png" height="42" alt="X"></td>
                                        <td style="width: 50px;">{{ current_stats.x_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/SH.png" height="42" alt="SH"></td>
                                        <td style="width: 50px;">{{ current_stats.sh_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/S.png" height="42" alt="S"></td>
                                        <td style="width: 50px;">{{ current_stats.s_count }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/A.png" height="42" alt="A"></td>
                                        <td style="width: 50px;">{{ current_stats.a_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/B.png" height="42" alt="B"></td>
                                        <td style="width: 50px;">{{ current_stats.b_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/C.png" height="42" alt="C"></td>
                                        <td style="width: 50px;">{{ current_stats.c_count }}</td>
                                        <td style="width: 42px;"><img loading="lazy" src="/images/grades/D.png" height="50" alt="D"></td>
                                        <td style="width: 50px;">{{ current_stats.d_count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h3 class="profile-stats-header">No information recorded</h3>
                        This user has not yet played any ranked maps in {{ constants.GameMode(mode).formatted }} mode.
                    {% endif %}
                    </div>
                </div>
            </td>
            <tr onclick="expandProfileTab('leader')">
                <td id="tab-leader" class="tab-heading">Top Plays</td>
            </tr>
            <td>
                <div id="leader" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <div id="pinned-scores">
                        <h2>Pinned Scores</h2>
                        <p id="pinned-scores-loading">Loading...</p>
                    </div>
                    <div id="top-scores">
                        <h2>Best Performance</h2>
                        <p id="top-scores-loading">Loading...</p>
                    </div>
                    <div id="leader-scores">
                        <h2>First Place Ranks</h2>
                        <p id="leader-scores-loading">Loading...</p>
                    </div>
                </div>
            </td>
            <tr onclick="expandProfileTab('history')">
                <td id="tab-history" class="tab-heading">Historical</td>
            </tr>
            <td>
                <div id="history" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <div class="play-history">
                        <h2 class="profile-stats-header">Play History</h2>
                        <div class="profile-graph" id="play-graph">
                            <svg></svg>
                        </div>
                    </div>
                    <div class="most-played">
                        <h2 class="profile-stats-header">Most Played Beatmaps</h2>
                        <div id="plays-container">
                            <p id="plays-loading">Loading...</p>
                        </div>
                    </div>
                    <div class="recent-plays">
                        <h2 class="profile-stats-header">Recent Plays</h2>
                        <div id="recent-container">
                            <p id="recent-loading">Loading...</p>
                        </div>
                    </div>
                    <div class="replays-watched">
                        <h2 class="profile-stats-header">Replays Watched History</h2>
                        <div class="profile-graph" id="replay-graph">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </td>
            <tr onclick="expandProfileTab('beatmaps')">
                <td id="tab-beatmaps" class="tab-heading">Beatmaps</td>
            </tr>
            <td>
                <div id="beatmaps" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    <p>
                        Click any of the following categories to expand them.
                    </p>
                    <div class="favourites">
                        <h2 class="profile-stats-header">
                            <a onclick="toggleBeatmapContainer(this.parentNode.parentNode)">
                                Favourite Beatmaps ({{ user.favourites|length }})
                            </a>
                        </h2>
                        {% if not user.favourites %}
                        <div class="profile-beatmaps-container">
                            <p>This player has no favourite beatmaps :(</p>
                        </div>
                        {% else %}
                        <div class="profile-beatmaps-container">
                            {% for fav in user.favourites|sort(attribute='created_at') %}
                            <table class="profile-beatmap" id="favourite-{{ fav.beatmapset.id }}">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/s/{{ fav.set_id }}" class="profile-beatmap-description">
                                                <b>{{ fav.beatmapset.artist }} - {{ fav.beatmapset.title }}</b>
                                            </a>
                                            <br>
                                            {% if fav.beatmapset.server == 0 %}
                                            <a href="https://osu.ppy.sh/u/{{ fav.beatmapset.creator }}">mapped by {{ fav.beatmapset.creator }}</a>
                                            {% else %}
                                                <a href="/u/{{ fav.beatmapset.creator_id }}">mapped by {{ fav.beatmapset.creator }}</a>
                                            {% endif %}
                                            {% if current_user.is_authenticated and current_user.id == user.id %}
                                            <br>
                                            <div style="float: right; text-align: right; padding-right: 2.5px;">
                                                <a onclick="return removeFavourite({{ fav.beatmapset.id }})">delete</a>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td style="width:80px; height:60px;">
                                            <img src="/mt/{{ fav.set_id }}" alt="" loading="lazy">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            <div style="clear: both"></div>
                        </div>
                        {% endif %}
                    </div>
                    {% for category, beatmapsets in beatmapset_categories.items() %}
                    {% if beatmapsets %}
                    <div>
                        <h2 class="profile-stats-header">
                            <a onclick="toggleBeatmapContainer(this.parentNode.parentNode)">
                                {{ category }} Beatmaps ({{ beatmapsets|length }})
                            </a>
                        </h2>
                        <div class="profile-beatmaps-container">
                            {% for set in beatmapsets %}
                            <table class="profile-beatmap">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/s/{{ set.id }}" class="profile-beatmap-description">
                                                <b>{{ set.artist }} - {{ set.title }}</b>
                                            </a>
                                            <br>
                                            {% if set.server == 0 %}
                                            <a href="https://osu.ppy.sh/u/{{ set.creator }}">mapped by {{ set.creator }}</a>
                                            {% else %}
                                                <a href="/u/{{ set.creator_id }}">mapped by {{ set.creator }}</a>
                                            {% endif %}
                                            {% if current_user.id == user.id and category in ('WIP', 'Pending', 'Graveyarded') %}
                                            <br>
                                            <div>
                                                <div style="float: right; text-align: right; padding-right: 2.5px;">
                                                    <a onclick="return deleteBeatmap({{ set.id }})">delete</a>
                                                </div>
                                                {% if category == 'Graveyarded' %}
                                                <div style="float: right; text-align: right; margin-right: 5px;">
                                                    <a onclick="return reviveBeatmap({{ set.id }})">revive</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td style="width: 80px; height: 60px;">
                                            <img src="/mt/{{ set.id }}" alt="" loading="lazy">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            <div style="clear: both"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if collaborations %}
                    <div class="collaborations">
                        <h2 class="profile-stats-header">
                            <a onclick="toggleBeatmapContainer(this.parentNode.parentNode)">
                                Guest Participation Beatmaps ({{ collaborations|length }})
                            </a>
                        </h2>
                        <div class="profile-beatmaps-container">
                            {% for beatmap in collaborations %}
                            <table class="profile-beatmap">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/b/{{ beatmap.id }}" class="profile-beatmap-description">
                                                <b>{{ beatmap.full_name }}</b>
                                            </a>
                                            <br>
                                            <a href="/u/{{ beatmap.beatmapset.creator_id }}">created by {{ beatmap.beatmapset.creator }}</a>
                                        </td>
                                        <td style="width: 80px; height: 60px">
                                            <img src="/mt/{{ beatmap.set_id }}" alt="" loading="lazy">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            <div style="clear: both"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% set nominations = nominations_titanic + nominations_bancho %}
                    {% if user.is_bat or nominations %}
                    <div>
                        <h2 class="profile-stats-header">
                            <a onclick="toggleBeatmapContainer(this.parentNode.parentNode)">
                                Nominated Beatmaps ({{ nominations|length }})
                            </a>
                        </h2>
                        {% if not nominations %}
                        <div class="profile-beatmaps-container">
                            <p>This user has not nominated any beatmaps :(</p>
                        </div>
                        {% else %}
                        <div class="profile-beatmaps-container">
                            {% for nomination in nominations %}
                            <table class="profile-beatmap">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/s/{{ nomination.set_id }}" class="profile-beatmap-description">
                                                <b>{{ nomination.beatmapset.artist }} - {{ nomination.beatmapset.title }}</b>
                                            </a>
                                            <br>
                                            {% if nomination.beatmapset.server == 0 %}
                                            <a href="https://osu.ppy.sh/u/{{ nomination.beatmapset.creator }}">mapped by {{ nomination.beatmapset.creator }}</a>
                                            {% else %}
                                                <a href="/u/{{ nomination.beatmapset.creator_id }}">mapped by {{ nomination.beatmapset.creator }}</a>
                                            {% endif %}
                                        </td>
                                        <td style="width:80px; height:60px;">
                                            <img src="/mt/{{ nomination.set_id }}" alt="" loading="lazy">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endfor %}
                            <div style="clear: both"></div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    <br>
                </div>
            </td>
            {% if total_kudosu > 0 %}
            <tr onclick="expandProfileTab('kudosu')">
                <td id="tab-kudosu" class="tab-heading">Kudosu!</td>
            </tr>
            <td>
                <div id="kudosu" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                    {% if not recent_mods %}
                        <p>This user has not earned any kudosu yet.</p>
                    {% else %}
                        <h4 class="profile-stats-element">
                            <b>Total Kudosu Earned</b>: {{ "{:,}".format(total_kudosu) }}
                        </h4>
                        <h3 class="profile-stats-header">Recent Kudosu History</h3>
                        {% for mod in recent_mods %}
                            {% set mod_status = (
                                'revoked' if mod.amount < 0 else
                                'received' if mod.target_id == user.id else
                                'gave'
                            ) %}
                            {{ mod.time|timeago }} -
                            {% if mod_status != 'received' %}
                                <a href="/u/{{ mod.sender_id }}">{{ mod.sender.name }}</a>
                            {% else %}
                                <a href="/u/{{ mod.target_id }}">{{ mod.target.name }}</a>
                            {% endif %}
                            {{ mod_status }}
                            <b>{{ mod.amount|abs }} kudos</b> {{ 'from' if mod_status != 'gave' else 'to' }} a post by
                            {% if mod_status == 'received' %}
                                <a href="/u/{{ mod.sender_id }}">{{ mod.sender.name }}</a>
                            {% else %}
                                <a href="/u/{{ mod.target_id }}">{{ mod.target.name }}</a>
                            {% endif %}
                            in <a href="/forum/p/{{ mod.post_id }}">{{ mod.post.topic.title }}</a><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </td>
            {% endif %}
            <tr onclick="expandProfileTab('achievements')">
                <td id="tab-achievements" class="tab-heading">Achievements</td>
            </tr>
            <td>
                <div id="achievements" class="tab-content" style="opacity: 1; filter: none; display: none; height: 0px;">
                {% if not achievements %}
                    This user has not achieved anything yet.
                {% else %}
                    <h2 class="profile-achievement-header">Beatmap Packs</h2>
                    <div class="achievement-category">
                        {% for achievement in achievement_categories['beatmap-packs'] %}
                        <div class="achievement">
                            {% if achievement in achievements %}
                            <img
                                src="/images/achievements/{{ achievements[achievement].filename }}"
                                title="Unlocked {{ achievements[achievement].unlocked_at|timeago }}"
                                loading="lazy"
                                alt="Achievement Image"
                            >
                            {% else %}
                            <img src="/images/achievements/unknown.png" alt="Unknown Achievement" loading="lazy">
                            {% endif %}
                            <br>
                            <b>{{ achievement }}</b>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="profile-achievement-header">Skill</h2>
                    <div class="achievement-category">
                        {% for achievement in achievement_categories['skill'] %}
                        <div class="achievement">
                            {% if achievement in achievements %}
                            <img
                                src="/images/achievements/{{ achievements[achievement].filename }}"
                                title="Unlocked {{ achievements[achievement].unlocked_at|timeago }}"
                                loading="lazy"
                                alt="Achievement Image"
                            >
                            {% else %}
                            <img src="/images/achievements/unknown.png" alt="Unknown Achievement" loading="lazy">
                            {% endif %}
                            <br>
                            <b>{{ achievement }}</b>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="profile-achievement-header">Dedication</h2>
                    <div class="achievement-category">
                        {% for achievement in achievement_categories['dedication'] %}
                        <div class="achievement">
                            {% if achievement in achievements %}
                            <img
                                src="/images/achievements/{{ achievements[achievement].filename }}"
                                title="Unlocked {{ achievements[achievement].unlocked_at|timeago }}"
                                loading="lazy"
                                alt="Achievement Image"
                            >
                            {% else %}
                            <img src="/images/achievements/unknown.png" alt=Unknown Achievement"" loading="lazy">
                            {% endif %}
                            <br>
                            <b>{{ achievement }}</b>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="profile-achievement-header">Hush-Hush</h2>
                    <div class="achievement-category">
                        {% for achievement in achievement_categories['hush-hush'] %}
                        <div class="achievement">
                            {% if achievement in achievements %}
                            <img
                                src="/images/achievements/{{ achievements[achievement].filename }}"
                                title="Unlocked {{ achievements[achievement].unlocked_at|timeago }}"
                                loading="lazy"
                                alt="Achievement Image"
                            >
                            {% else %}
                            <img src="/images/achievements/unknown.png" alt="Unknown Achievement" loading="lazy">
                            {% endif %}
                            <br>
                            <b>{{ achievement }}</b>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </td>
            {% if infringements %}
            <tr>
                <td class="tab-heading tab-heading-account">Account Standing</td>
            </tr>
            <td>
                <div id="account" class="tab-content">
                    <div style="width: 100%">
                        <p style="color: red">
                            {{ user.name }}'s account is not in good standing :(
                            {% if current_user.id == user.id %}
                            <br/>
                            <br/>
                            Your account could be permanently disabled if you continue to cause problems.
                            Please make sure to follow the <a href='/wiki/en/Rules'>community rules</a>!
                            Note that infringements will disappear after four weeks of good behaviour.
                            {% endif %}
                        </p>
                        <br>
                        <h3 class="profile-stats-header" style="text-align: left">
                            Recent Infringements
                        </h3>
                        <table>
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Action</td>
                                    <td>Length</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inf in infringements %}
                                <tr>
                                    <td>{{ inf.time|timeago }}</td>
                                    {% if inf.action == 0 %}
                                    <td style="background-color: red">BAN</td>
                                    {% else %}
                                    <td style="background-color: yellow">SILENCE</td>
                                    {% endif %}
                                    {% if inf.is_permanent %}
                                    <td>Permanent</td>
                                    {% else %}
                                    <td>{{ (inf.length|round_time - inf.time|round_time) }}</td>
                                    {% endif %}
                                    <td>{{ inf.description }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            {% endif %}
        </tbody>
    </table>
</div>
<script>
    var userId = {{ user.id }};
    var mode = {{ mode }};
    var modeName = '{{ constants.GameMode(mode).alias }}';
    var scoreRank = {{ score_rank }};
    var totalScoreRank = {{ total_score_rank }};
    var globalRank = {{ pp_rank }};
    var countryRank = {{ pp_rank_country }};
    var ppv1Rank = {{ ppv1_rank }};
    var firstsRank = {{ firsts_rank }};
    var superFriendly = {{ (user.id in config.SUPER_FRIENDLY_USERS)|lower }};
</script>
<link rel="stylesheet" href="{{ '/lib/nv.d3.min.css'|git_asset_url }}">
<script src="{{ '/lib/d3.v3.min.js'|git_asset_url }}"></script>
<script src="{{ '/lib/nv.d3.min.js'|git_asset_url }}"></script>
<script src="{{ '/js/user.js'|git_asset_url }}"></script>
{% if current_user.is_moderator %}
<script src="{{ '/js/moderation.js'|git_asset_url }}"></script>
{% endif %}
{% endblock content %}
